﻿@*<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <img src="/Images/about-banner.jpg" alt="Alternate Text" class="img-responsive" style="height:210px;"/>
                    <div class="panel-body">
                        Lorum Ipsum Dollar Sit Ammet
                        <button class="btn btn-primary view-all">View</button>
                        <span>
                            October 2016
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

zkxlfhsakdakj

