*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
a, a:hover, img, img:hover, a:focus{
  border: none;
  outline: none;
  text-decoration: none;
  max-width: 100%
}
body{
  font-family: 'Montserrat-Regular';
  color: #252525;
}
h1, h2, h3, h4, h5{
  font-family: 'Montserrat-Regular';
  margin: 0;
}
/* Global css class */
.heading h2{
  font-size: 25px;
  padding-bottom: 15px;
}
.heading h2 span{
  font-family: 'Montserrat-Light';
}
.mbanner{
  display: none !important;
}
/* top navigation */
.top-nav{
  background: #252525;
}
.top-nav .topnav{
  margin-bottom: 0;
  text-align: right;
}
.top-nav .topnav li{
  display: inline-block;
  vertical-align: top;
  list-style: none;
  position: relative;
}
.top-nav .topnav li a{
  padding: 0;
  color: #ffffff;
  position: relative;
  display: block;
  padding: 20px 12px;
  transition: all .5s;
  font-size: 13px;
}
.top-nav .topnav li a:hover{
   color: #fdc907;
   transition: all .5s;
}
.top-nav .topnav li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fdc907;
    transition: width .3s;
}
.top-nav .topnav li a:hover:after {
    width: 100%;
    transition: width .3s;
}
.top-nav .topnav li+li a::before{
  content: "";
  background: #ffffff;
  width: 2px;
  height: 12px;
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  margin: auto;
}
.top-nav .topnav li:last-child a::before{
  display: none;
}
.top-nav .topnav li:last-child a{
  background: #ee3e3e;
  line-height: 20px;
}
.top-nav .topnav li:last-child a:after{
  display: none;
}
.top-nav .topnav li:last-child a:hover{
  background: #fdc907;
  color: #252525;
}
/*navigation css*/
header {
  background: #ffffff;
  transition: all .5s;
}
header .branding{
  padding: 11px 0px;
}
header.f-nav{
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all .5s;
  box-shadow: 1px 7px 5px 5px rgba(10, 10, 10, 0.11);
}
header.f-nav .branding{
  padding: 9px 0px;
}
header.f-nav .menu li a{
  padding: 20px 0;
}
header .menu{
  text-align: right;
  margin-bottom: 0;
}
header .menu>li{
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  margin: 0 10px;
}
header .menu>li a{
  padding: 20px 0px;
  color: #252525;
  display: block;
  text-transform: uppercase;
  transition: all .5s;
  font-size: 12px;
}
header .menu>li:hover a, header .menu>li.active a{
  color: #ee3e3e;
}
header .menu>li:after, header .menu>li.active:after{
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #ee3e3e;
  transition: width .5s;
}
header .menu>li:hover:after, header .menu>li.active:after{
  width: 100%;
  transition: width .5s;
}

/* navigation sub menu  */

.nav-smenu{
  display: none;
  padding: 16px;
  margin-left: -100px;
  position: absolute;
  top: 100%;
  background: #ffffff;
  text-align: left;
  z-index: 10;
  transition: all .5s;
  box-shadow: 1px 7px 4px 4px rgba(10, 10, 10, 0.22);
}
header .menu>li:hover .nav-smenu{
  display: block;
  transition: all .5s;
}
.nav-smenu ul{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

}
.nav-smenu ul li{
  list-style: none;
  margin-left: 5px;
  white-space: nowrap;
}
header .menu>li+li+li+li .nav-smenu{
  right: 0;
}
.nav-smenu ul li:before{
  content: "-";
}
.nav-smenu ul li:hover:before{
  color: #ee3e3e;
}
header .menu>li:hover .nav-smenu ul li a{
  color: #000000;
}
.nav-smenu ul li a{
  display: inline-block;
  padding: 8px 5px;

}
header.f-nav .menu li .nav-smenu ul li a{
  padding: 8px 5px;
}
header .menu>li:hover .nav-smenu ul li:hover a{
  color: #ee3e3e;
}
header .menu>li:hover .nav-smenu ul li.active a{
  color: #ee3e3e;
}
/*mobile menu css*/
.mb_01, .mobile_trigger{
   display:none;
}
 /*home page css*/
 /* banner css */
 .home-banner{
   position: relative;
   padding-bottom: 30px;
 }
 .home-banner .owl-dots{
   position: absolute;
   bottom: 5px;
   width: 100%;
   text-align: center;
 }

 .home-banner .owl-carousel .owl-dots .owl-dot {
   display: inline-block;
   vertical-align: bottom;
 }

  .home-banner .owl-carousel .owl-dots .owl-dot span {
     width: 65px;
     height: 4px;
     margin: 5px 2px;
     background: #ffffff;
     display: block;
     -webkit-backface-visibility: visible;
     transition: opacity .2s ease;
 }
 .home-banner .owl-carousel .owl-dots .owl-dot.active span{
   height: 7px;
 }
 .home-banner .owl-carousel .caption{
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   height: 150px;
   width: 100%;
 }
 .home-banner .owl-carousel .caption h3{
   font-family: 'Montserrat-Light';
   font-size: 54px;
   color: #ffffff;
   line-height: 54px;
 }
.home-banner .owl-carousel .caption h3 span{
  font-family: 'Montserrat-Regular';
  display: block;
  line-height: 54px;
}
.home-banner .owl-carousel .caption p{
  font-size: 16px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
  line-height: 20px;
}
/* placement */
.placement {
  padding: 30px 0 30px;
}
.placement .col-md-3{
  position: relative;
}
.placement .col-md-3:after{
  content: "";
  position: absolute;
  right: 0;
  background: #cccccc;
  height: 120px;
  width: 1px;
  top: 15px;
}
.placement .col-md-3:last-child:after{
  display: none;
}
.placement  .pcol{
  display: inline-block;
  text-align: left;
  margin: 30px 0;
}
.placement .pcol h3{
  font-size: 42px;
  color: #898989;
  width: 100%;
}
.placement  .pcol p{
  font-family: 'Montserrat-Light';
  font-size: 17px;
  background: #ffc907;
  display: inline-block;
  padding: 5px 30px 5px 15px;
}
.placement p.stats{
  font-size: 13px;
  padding-top: 15px;
  color: #b7b7b7;
}
/* Our Regular Recruiters */
.regular-recruiters{
  padding: 30px 0;
}
.regular-recruiters .owl-carousel .item{
  text-align: center;
}
.regular-recruiters .owl-carousel .item img{
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.regular-recruiters p.recruiters{
  text-align: center;
  font-size: 13px;
  padding-top: 15px;
  color: #b7b7b7;
}
/*  acadim parners */
.acadim-parners{
  margin: 30px 0;
  padding: 48px 0 48px 0;
  background: #f0f0f0;
}
.acadim-parners .parners-row{
  text-align: center;
  padding: 20px 0 0;
}
.acadim-parners .parners-row .partner{
  display: inline-block;
  vertical-align: top;
  width: 19%;
}
 /* PROGRAMMES OFFERED */
 .program-offered{
  padding: 30px 0;
 }
 .program-offered .programs{

 }
 .program-offered .programs ul{
   text-align: center;
 }
 .program-offered .programs ul li{
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 19.5%;
 }
 .program-offered .programs ul li img{
   width: 100%;
 }
 .program-offered .programs ul li .overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   margin: auto;
   background: rgba(0,0,0,0.5);
   transition: all ease .9s;
   cursor: pointer;
 }
 .program-offered .programs ul li .overlay p{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 2;
   margin: auto;
   height: 40px;
   color: #ffffff;
   transition: all ease .9s;
 }
 .program-offered .programs ul li .overlay:hover{
   background: #ffc907;
   transition: all ease .9s;
 }
 .program-offered .programs ul li .overlay:hover p{
   color: #252525;
   transition: all ease .9s;
 }
 /*student-achievement*/
 .student-achievement{
   padding: 30px 0;
 }
 .student-detail p{
   font-size: 17px;
   padding-bottom: 30px
 }
 .student-detail ul li{
   list-style: none;
   display: inline-block;
 }
 .student-detail ul li a{
   padding: 8px 32px;
   border: 1px solid #ee3e3e;
   color: #ffff;
   display: block;
   transition: all .7s;
   background: #ee3e3e;
 }
 .student-detail ul li a:hover{
   border: 1px solid #ffc907;
   background: #ffc907;
   color: #252525;
   transition: all .7s;
 }
 /*news event*/
 .news-event {
   padding: 30px 0;
 }
 .news-event .item{
   position: relative;
 }
 .news-event .item img{
   width: 100%;
 }
 .news-event .item .caption{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   margin: auto;
   background: rgba(0,0,0,0.5);
   transition: all ease .9s;
   cursor: pointer;
 }
 .news-event .item .caption:hover{
   background: rgba(237, 28, 36, 0);
 }
 .news-event .item .caption p{
   position: absolute;
   padding: 25px 15px;
   margin-bottom: 0;
   bottom: 0px;
   text-align: left;
   color: #ffffff;
   font-size: 13px;
   left: 0px;
   right: 0px;
   transition: all ease .9s;
 }
.news-event .item .caption:hover p{
   background: rgba(237, 28, 36, 0.7);
   transition: all ease .9s;
 }
 .news-event .item .caption p span{
   display: flex;
   font-size: 9px;
 }
 .news-event  .owl-carousel .owl-nav{
   display: flex;
 }
 .news-event .owl-nav{
   position: relative;
   flex-direction: row;
   justify-content: center;
 }
 .news-event .owl-nav .owl-next{
   text-indent: -9999px;
   position: relative;
   padding: 5px;
   font-size: 16px;
 }
 .news-event .owl-nav .owl-next:before{
    content: "\f054";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 .news-event .owl-nav .owl-next:hover:before,.news-event .owl-nav .owl-prev:hover:before{
   background: #ffc907;
 }
 .news-event .owl-nav .owl-prev{
   text-indent: -9999px;
   position: relative;
 }
 .news-event .owl-nav .owl-prev:before{
    content: "\f053";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 /*GALLERY*/
 .gallery{
   padding-bottom: 30px;
   margin: 0 auto;
   overflow: hidden;
   max-width: 1280px;
   width: 100%;
 }
 .gallery .big-size{
   overflow: hidden;
 }
 .gallery .small-size figure{
   margin-bottom: 2px;
   overflow: hidden;
 }
 .gallery .big-size figure img, .gallery .small-size figure img{
   width: 100%;
   transition: all .5s;
 }
 .gallery .big-size figure img:hover,.gallery .small-size figure img:hover{
   transform: scale(1.2);
   transition: all .5s;
 }
 .gallery .view-all{
   background: #ee3e3e;
   padding: 8px 48px;
   display: inline-block;
   color: #ffffff;
   margin-top: 15px;
   transition: all .5s;
 }
 .gallery .view-all:hover{
   transition: all .5s;
   background: #ffc907;
   color: #363636;
 }
  .gallery .owl-carousel .owl-nav.disabled{
    display: flex;
    justify-content: center;
  }
 .gallery .owl-nav{
   display: flex;
   position: relative;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 15px;
 }
.gallery .owl-nav .owl-next{
   text-indent: -9999px;
   position: relative;
   padding: 5px;
   font-size: 16px;
 }
 .gallery .owl-nav .owl-next:before{
    content: "\f054";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 .gallery .owl-nav .owl-next:hover:before,.gallery .owl-nav .owl-prev:hover:before{
   background: #ffc907;
 }
 .gallery .owl-nav .owl-prev{
   text-indent: -9999px;
   position: relative;
 }
.gallery .owl-nav .owl-prev:before{
    content: "\f053";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }


 /* About upes */
 .about-upes{
   padding: 30px 0;
 }
 .about-upes .about{

 }
 .about-upes .about p{
   padding-bottom: 20px;
 }
/*Feel Free*/
.feel-free{
  padding-bottom: 30px;
}

.feel-free .sub-heading h3{
  color: #05478d;
  font-size: 19px;
}
.feel-free input[type=text],.feel-free input[type=email]{
  border: 1px solid #e5e5e5;
  background: #e1e1e1;
  text-indent: 0px;
  padding: 8px 16px;
  width: 100%;
}
.feel-free textarea{
  border: 1px solid #e5e5e5;
  background: #e1e1e1;
  text-indent: 0px;
  padding: 8px 16px;
  width: 100%;
  height: 92px;
  resize: none;
}
.feel-free .submit-btn{
  border: none;
  background: #ee3e3e;
  color: #ffffff;
  padding: 8px 48px;
  transition: all .5s;
}
.feel-free .submit-btn:hover{
  background: #ffc907;
  color: #363636;
  transition: all .5s;
}
/*Blog blog-section*/
.blog-section{
  padding: 30px 0;
}
.blog-section .blog{
  position: relative;
}
.blog-section .blog img{
  width: 100%;
}
.blog-section .blog p{
  position: absolute;
  width: 70%;
  padding: 30px;
  background: #05478d;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-family: 'Montserrat-Light';
}
.view-all{
  text-align: center;
  padding-top: 30px;
}
.view-all a{
  background: #ee3e3e;
  padding: 8px 48px;
  display: inline-block;
  color: #ffffff;
  transition: all .5s;
}
.view-all a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}
/* about page banner*/
.about-banner{
  background: url(../images/about-banner.jpg)no-repeat left top;
  min-height: 380px;
  background-size: cover;
}
.banner-caption{
  padding-top: 10%;
}
.banner-caption h2{
  font-size: 54px;
  color: #ffffff;
  line-height: 54px;
  margin: 0;
}
.banner-caption h3{
  font-size: 54px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
  margin: 0;
}
.banner-caption p{
  font-family: 'Montserrat-Light';
  font-size: 13px;
  color: #ffffff;
  padding-top: 10px;
}

/*Sub menu inner page*/
.msubmneu{
  display: none;
}
.inner-smenu{
  background: #05478d;
}
#stickyheader{
  width: 100%;
  z-index: 2;
  top: 61px;
}
.inner-smenu .smenu{
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}
.inner-smenu .smenu li{
  list-style: none;
  padding: 19px 10px;
  vertical-align: top;
}
.inner-smenu .smenu li a{
  color: #ffffff;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  transition: all .5s;
}
.inner-smenu .smenu li:hover, .inner-smenu .smenu li.active{
   background: #ebebeb;
   transition: all .5s;
   cursor: pointer;
   color: #05478d;
}
.inner-smenu .smenu li:hover a,.inner-smenu .smenu li.active a{
   color: #05478d;
   transition: all .5s;
}
/* submenu sub menu  */
.inner-smenu .smenu li:hover .sub-smenu{
  display: block;
  }
  .inner-smenu .smenu li:hover .sub-smenu li a{
    color: #000000;
  }
.pos-relative{
  position: relative;
}
.sub-smenu{
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  background: #ebebeb;
  left: 0;
}
.sub-smenu ul{
  display: flex;
}
.inner-smenu .smenu li .sub-smenu ul li{
  list-style-image: none;
  padding: 0px;
}
.sub-smenu ul li a{
  color: #05478d;
  padding: 20px 20px 18px;
  display: block;
}
.sub-smenu li:after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: #05478d;
  transition: width .5s;
}
.sub-smenu li:hover:after{
  width: 100%;
  transition: width .5s;
}
/* inner page detail */

.about-section{
  padding: 90px 0 0;
}
.about-col{
  position: relative;
  margin-bottom: 30px;
}
.about-col img{
  width: 100%;
}
.about-col .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  background: rgba(0,0,0,0.5);
  transition: all ease .5s;
  padding: 15px;
}
.about-col .overlay:hover{
  background: rgba(255, 201, 7, 0.5);
}
.about-col .overlay .caption{
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
}
.about-col .overlay .caption h3{
  color: #ffffff;
  font-size: 28px;
  font-family: 'Montserrat-Light';
}
.about-col .overlay .caption a{
  color: #ffffff;
  font-size: 15px;
  display: block;
  font-family: 'Montserrat-Light';
  transition: all .5s;
  text-transform: uppercase;
  padding-top: 15px;
}
.about-col .overlay .caption a:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #fcc707;
}
/* annual report */
.annual-report{
  padding-left: 48px;
  padding-right: 30px;
}
.annual-report h3{
  font-size: 17px;
  padding-bottom: 15px;
}
.annual-report h3 span{
  font-family: 'Montserrat-Light';
}
.annual-report .owl-carousel .owl-item img{
    max-width: 100%;
    width: 100%;
}

.annual-report .owl-nav{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
}
.annual-report .owl-nav .owl-next{
  text-indent: -9999px;
  position: relative;
  padding: 5px;
  font-size: 16px;
}
.annual-report .owl-nav .owl-next:before{
   content: "\f054";
   font-family: FontAwesome;
   position:absolute;
   top:30px;
   text-indent: 0px;
   right: 0px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
.annual-report .owl-nav .owl-next:hover:before,.annual-report .owl-nav .owl-prev:hover:before{
  background: #ffc907;
}
.annual-report .owl-nav .owl-prev{
  text-indent: -9999px;
  position: relative;
}
.annual-report .owl-nav .owl-prev:before{
   content: "\f053";
   font-family: FontAwesome;
   position:absolute;
   top:30px;
   text-indent: 0px;
   left: -60px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}

.download-report{
  margin-top: -5px;
}
.download-report h2{
  font-size: 28px;
  padding-bottom: 15px
}
.download-report a{
  background: #ef3f3f;
  padding: 11px 32px;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  transition: all .5s;
}
.download-report a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}
.environmental{
  margin-top:30px;
  border-top: 2px solid #b2b2b2;
  padding-top: 30px;
}
.environmental p{
  font-size: 12px;
  font-family: 'Montserrat-Light';
  padding-bottom: 10px;
}
.environmental ul li{
  list-style: none;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat-Light';
  font-size: 14px;
}
.environmental ul li:last-child{
  border-bottom: none;
}
.environmental ul li span{
  font-family: 'Montserrat-SemiBold';
}
.environmental ul li img{
  padding-right: 30px;
}
.environmental ul li.es span{
  color: #dd7936;
}
.environmental ul li.wc span{
  color: #3bb0f3;
}
.environmental ul li.rp span{
  color: #87c95a;
}
.environmental .know-more a{
  background: #ef3f3f;
  padding: 11px 32px;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  transition: all;
}
.environmental .know-more a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}

/* Awards & Accolades */
.award-accolades{
  padding-top: 30px;
  padding-bottom: 30px;
}
.award-accolades .awards{
  display: flex;
  background: #05488d;
}
.award-accolades .awards figure{
  width: 50%;
}
.award-accolades .awards .adetails{
  width: 50%;
  padding: 15px;
}
.award-accolades .awards .adetails h3{
  font-family: 'Montserrat-Light';
  font-size: 21px;
  line-height: 28px;
  padding-bottom: 5px;
  color: #ffffff;
}
.award-accolades .awards .adetails p{
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #ffffff;
}
.award-accolades  .owl-carousel .owl-nav.disabled{
  display: flex;
}
.award-accolades .owl-nav{
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.award-accolades .owl-nav .owl-next{
  text-indent: -9999px;
  position: relative;
  padding: 5px;
  font-size: 16px;
}
.award-accolades .owl-nav .owl-next:before{
   content: "\f054";
   font-family: FontAwesome;
   position:absolute;
   top:15px;
   text-indent: 0px;
   right: -30px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
.award-accolades .owl-nav .owl-next:hover:before,.award-accolades .owl-nav .owl-prev:hover:before{
  background: #ffc907;
}
.award-accolades .owl-nav .owl-prev{
  text-indent: -9999px;
  position: relative;
}
.award-accolades .owl-nav .owl-prev:before{
   content: "\f053";
   font-family: FontAwesome;
   position:absolute;
   top:15px;
   text-indent: 0px;
   left: -30px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
/*Let’s Connect*/
.lets-connect{

}
.soical-tab li{
  padding: 8px 16px;
}
.soical-tab li.active{
  background: #ebebeb;
}
.soical-tab li a{
  width: 115px;
  height: 36px;
  display: block;
  padding: 0;
}
.soical-tab li.facebook a{
  background: url(../images/icon-fbg.png) no-repeat center top;
}
.soical-tab li.twitter a{
  background: url(../images/icon-twg.png) no-repeat center top;
}
.soical-tab li.linkedin a{
  background: url(../images/icon-ing.png) no-repeat center top;
}
.soical-tab li.youtube a{
  background: url(../images/icon-ytg.png) no-repeat center top;
}
.soical-tab li.active.facebook a, .soical-tab li.facebook:hover a{
  background: url(../images/icon-fb.png) no-repeat center top;
}
.soical-tab li.active.twitter a,.soical-tab li.twitter:hover a{
  background: url(../images/icon-tw.png) no-repeat center top;
}
.soical-tab li.active.linkedin a,.soical-tab li.linkedin:hover a{
  background: url(../images/icon-in.png) no-repeat center top;
}
.soical-tab li.active.youtube a,.soical-tab li.youtube:hover a{
  background: url(../images/icon-yt.png) no-repeat center top;
}
.tab-social-content{
  background: #ebebeb;
  padding: 30px;
}
.usful-section{
  padding: 30px 0;
}
.usful-section .black-box{
  background: #333333;
  padding: 25px;
  text-align: center;
  transition: all .7s;
}
.usful-section .black-box:hover{
  background: rgba(239, 63, 63, 1);
  transition: all .7s;
}
.usful-section .black-box h3{
  font-size: 25px;
  font-family: 'Montserrat-Light';
  color: #ffc907;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.usful-section .black-box p{
  font-size: 13px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
}

/* footer */
footer{
  background: #ffc907;
  padding: 30px 0;
}
footer .foot-link{
  padding-bottom: 15px;
}
footer .foot-link h3{
  font-size: 14px;
  color: #05478d;
  margin: 0;
  padding-bottom: 5px;
}
footer .foot-link ul li{
  list-style: none;
}
footer .foot-link ul li a{
  color: #000000;
  font-size: 10px;
  transition: all .5s;
}
footer .foot-link ul li a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .social{

}
footer .social ul li{
  list-style: none;
  display: inline-block;
}
footer .social ul li+li{
  margin-left: 15px;
}
footer .social ul li a{
  display: block;
  background: #636363;
  height: 33px;
  width: 33px;
  line-height: 33px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  transition: all ease .6s;
}

footer .social ul li a.lin{
  background: #4f899c;
  transition: all ease .6s;
}
footer .social ul li a.ytube{
  background: #fe0000;
  transition: all ease .6s;
}
footer .social ul li a.fb{
  background: #3b5999;
  transition: all ease .6s;
}
footer .social ul li a.tw{
  background: #01bbf6;
  transition: all ease .6s;
}

footer .address{
  font-size: 13px;
  position: relative;
  padding-left: 15px;
  color: #636363;
}
footer .address .map:before{
  content: "\f041";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:-5px;
  font-size: 30px
}
footer .address .call a{
  color: #636363;
  display: block;
  transition: all .5s;
}
footer .address .call a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .address .call:before{
  content: "\f095";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:-5px;
  font-size: 24px
}
footer .social .email{
  position: relative;
  padding-left: 15px
}
footer .social .email:before{
  content: "\f0e0";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:0px;
  font-size: 15px;
  color: #636363;
}
footer .social .email a{
  color: #636363;
  transition: all .5s;
}
footer .social .email a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .copyright p{
  color: #636363;
  font-size: 10px;
  margin-bottom: 0;
}
.chat-withus{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 38px;
  width: 220px;
  background: #ffc907;
  z-index: 5;
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.11);
}
.chat-withus a{
  font-size: 15px;
  line-height: 38px;
  text-align: center;
  display: block;
  color: #252525;
}
.chat-withus a span{
  font-family: 'Montserrat-Light';
}
.fixed-social{
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -110px;
  z-index: 2;
}
.fixed-social ul li{
  list-style: none;
  margin-bottom: 3px;
  padding: 8px;
  background: #e6e6e6;
}
.fixed-social ul li a{
  display: block;
  background: red;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
}
.fixed-social ul li a.lin{
  background: #4f899c;
  transition: all ease .6s;
}
.fixed-social ul li a.ytube{
  background: #fe0000;
  transition: all ease .6s;
}
.fixed-social ul li a.fb{
  background: #3b5999;
  transition: all ease .6s;
}
.fixed-social ul li a.tw{
  background: #01bbf6;
  transition: all ease .6s;
}
/* messages pages */
.messages ul {
  margin-bottom: 0;
}
.messages ul li{
  list-style: none;
}
.messages ul li a{
  display: block;
}
.messages ul li a figure{
  position: relative;
}
.messages ul li a figure span.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  transition: all .5s;
}
.messages ul li.active a figure span.overlay{
  background: rgba(0,0,0,0);
  transition: all .5s;
}
.messages ul li a h4{
  padding: 25px 15px;
  font-size: 20px;
  color: #000000;
}
.messages ul li a span.read{
  padding: 0px 15px 20px;
  color: #005b7f;
  display: block;
}
.messages ul li a span.read:after{
    content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    padding-left: 10px;
}
.messages ul li.active a span.read:after{
    content: "\f106";
    font-family: FontAwesome;
    font-size: 18px;
    padding-left: 10px;
}
.messages ul li.active a{
  background: #f5f5f5;
}
.messages .tab-content .message{
  padding: 50px 25px;;
}
.messages .tab-content .message.active{
  background: #f5f5f5;
}
.messages .tab-content .message p {
  font-size: 16px;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Montserrat-Light';
}
.messages .tab-content .message h4{
  font-size: 22px;
  padding-bottom: 10px;
}
.messages .tab-content .message p strong,.messages .tab-content .message p:first-child{
  font-family: 'Montserrat-Regular';
}
.messages .tab-content .message p:last-child{
  padding-bottom: 0;
}
.messages .tab-content .message p span{
  color: #05478d;
  font-size: 13px;
}
/* Academic Collaboration */
.academic{
  font-family: 'Montserrat-Light';
}
.academic h4{
  font-size: 22px;
  font-family: 'Montserrat-Light';
}
.academic p a.know-more{
  color: #05478d;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  padding-bottom: 15px;
  display: inline-block;
}
.academic p a.know-more:before{
  content: "\f105";
  padding-right: 7px;
  font-family: FontAwesome;
  font-size: 16px;
  padding-left: 10px;
  transition: all .3s;
}
.academic p a.know-more:hover:before{
  margin-left: 7px;
  padding-right: 2px;
  transition: all .3s;
}
.academic .activities {
  padding: 30px 0
}
.academic .activities h3{
  font-size: 22px;
  font-family: 'Montserrat-Light';
  color: #05478d;
}
.academic .activities ul{
  padding-top: 30px;
  margin-bottom: 0;
}
.academic .activities ul li{
  list-style: none;
}
.academic .activities ul li:before{
  content: "-";
  padding-right: 6px;
  font-size: 18px;
}
.academic .activities .border-left{
  border-right: 1px solid #ccc;
}
.academic .panel-group .panel{
  border-radius: 0;
  border: 0;
  border-top: 2px solid #e0e0e0;
  box-shadow: initial;
  padding-bottom: 15px;
}
.academic .panel-default>.panel-heading+.panel-collapse>.panel-body{
  border: 0;
}
.academic .panel-default>.panel-heading{
  background: none;
  border: none;
  padding: 0 15px 15px 0;
}
.academic .panel-default>.panel-heading span{
  display: inline-block;
  padding: 10px;
}
.academic .panel-default>.panel-heading img{
  vertical-align: top;
}
.academic .panel-default>.panel-heading a{
  display: block;
  position: relative;
}
.academic .panel-default>.panel-heading a:after{
  content: "\f068";
  padding-right: 7px;
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 15px;
}
.academic .panel-default>.panel-heading a.collapsed:after{
  content: "\f067";
}
.academic table tr td,.academic table tr th{
  padding: 8px 60px 16px 25px;
  border-left: 2px solid #e0e0e0;
}
.academic table tr td:first-child,.academic table tr th:first-child{
  border-left: 0;
}
.academic table tr th{
  font-family: 'Montserrat-Regular';
  padding-bottom: 30px;
}
.academic  .collapse table tr td a{
  color: #ee3e3e;
}

/* SCHOOLs page css */
.school-bg{
  background-image: url(../images/school-bg.jpg);
}
.wcfaculty{
  display: flex;
}
.wcfd{
  width: 35%;
  background: #ffc907;
  padding: 30px;
}
.wcfd h3{
  padding-top: 35%;
  font-size: 42px;
}
.wcfd p a.explore{
  color: #000000;
  font-family: 'Montserrat-Regular';
  display: inline-block;
  padding-top: 10px;
}
.wcfd p a.explore:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #000000;
}
.wcfd h3 span{
  font-family: 'Montserrat-Light';
}
.wcfimg{
  width: 65%;
}
.wcfimg img{
  width: 100%;
}
.program-offered .programs-explore ul{
  display: flex;
}
.program-offered .programs-explore ul li{
  position: relative;
  list-style: none;
  width: 20%;
  margin: 0 .5%;
}
.program-offered .programs-explore ul li:first-child{
  margin-left: 0;
}
.program-offered .programs-explore ul li:last-child{
  margin-right: 0;
}
.program-offered .programs-explore ul li img{
  width: 100%;
}
.program-offered .programs-explore ul li .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  transition: all ease .9s;
}
.program-offered .programs-explore ul li:hover .overlay{
  background: rgba(0,0,0,0.8);
}
.program-offered .programs-explore ul li .overlay p{
  padding: 15px;
  font-size: 24px;
}
.program-offered .programs-explore ul li .overlay p span{
  font-family: 'Montserrat-Light';
}

.program-offered .programs-explore ul li .overlay a.explore{
  color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: 25px;
  display: inline-block;
  font-size: 11px;
  font-family: 'Montserrat-Light';
}
.program-offered .programs-explore ul li .overlay a.explore:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #ffc907;
  font-size: 15px;
}
/*school Faculty page css*/
.schools-faculty.academic .panel-default>.panel-heading{
  padding: 15px 15px 15px 0;
}
.schools-faculty.academic .panel-default>.panel-heading a{
  font-size: 22px;
  font-family: 'Montserrat-SemiBold';
}
.schools-faculty.academic .panel-default>.panel-heading a:after{
  top: 7px;
}
.schools-faculty .facultys h4{
  font-size: 19px;
  padding-bottom: 25px;
  color: #05478d;
  font-family: 'Montserrat-SemiBold';
}
.schools-faculty .facultys p a{
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  color: #05478d;
}
.schools-faculty .facultys {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.schools-faculty .facultys:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.schools-faculty .facultys p a:before{
  content: "\f054";
  font-family: FontAwesome;
  padding-right: 5px;
  font-weight: 100;
  font-size: 14px;
  color: #000000;
}
