
/*Regual font*/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf')  format('truetype'),
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* font light*/
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* SemiBold */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*medium*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat-medium_0-webfont.eot');
    src: url('../fonts/montserrat-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium_0-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium_0-webfont.woff') format('woff'),
         url('../fonts/montserrat-medium_0-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-medium_0-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
