/* responsive css */
@media only screen and (max-width: 1024px) {
  /*mobile menu css*/
.show-desktop{
  display: none !important;
}
.top-nav .topnav li+li a::before{
  display: none;
}
  .mb_01, .mobile_trigger{
           display:block;
      }
       .mobile_menu{
          position:absolute;
           top:0;
           left:-300px;
           height:100%;
           z-index:9999;
           background:#000;
           width:280px;
           padding-top:0;
           z-index: 99999;
      }
       .inner_mobile_menu ul li a{
           display:block;
           color:#fff;
           text-decoration:none;
           padding:10px;
           box-sizing:border-box;
           border-bottom:1px solid #454545;
           font-size:15px;
           font-family: 'Montserrat-Regular';
      }
       .inner_mobile_menu ul li a{
          transition: all .7s;
           -webkit-transition: all .7s;
      }
       .inner_mobile_menu ul > li:hover > a{
           background:#454545;
      }
       .inner_mobile_menu ul li{
           position:relative;
           display:block;
      }
       .inner_mobile_menu ul ul{
           display:none;
           box-sizing:border-box;
      }
       .inner_mobile_menu ul ul li a{
           padding:10px 10px 10px 20px;
           box-sizing:border-box;
           font-size:14px;
      }
      .inner_mobile_menu ul ul li ul li a{
        padding-left: 30px;
      }
       .mobile_bg{
           position:fixed;
           top:0;
           left:-300px;
           height:100%;
           z-index:999;
           background:#000;
           width:280px;
      }
       .mobile_hover{
          position:fixed;
           top:0;
           right:0;
           width:100%;
           height:100%;
           background:rgba(0,0,0,0.5);
           z-index:999;
           display:none;
      }
       .mobile_trigger{
          position:absolute;
           top:17px;
           right:15px;
           z-index:99;
           cursor:pointer;
      }
       .mb_logo_new img{
           width:100%;
           padding:5px 10px 10px;
           box-sizing:border-box;
           background:#fff;
      }
       .mb_logo_new{
          padding-bottom:30px;
      }
       .inner_mobile_menu ul li span.multi{
           position:absolute;
           top:0;
           right:0;
           width:47px;
           height:39px;
           background:url(../images/pls.png) no-repeat center center;
           cursor:pointer;
      }
       .inner_mobile_menu ul li span.multi.active1{
          background:url(../images/min.png) no-repeat center center;
      }


.top-nav ul li{
  font-size: 12px;
}
  header .menu li a {
    padding: 8px 8px;
    font-size: 12px;
}
.student-detail ul li a{
  padding: 12px 20px;
}
.news-event .news ul li{
  width: 24%;
}
.news-event .news ul li .overlay p{
  font-size: 11px
}
.news-event .news ul li .overlay p br{
  display: none;
}
.award-accolades .awards .adetails h3{
  font-size: 16px;
  line-height: 24px;
}
.award-accolades .awards .adetails p{
  font-size: 10px;
}
header .branding {
    padding: 9px 0px;
}
  header .menu{
    display: none;
  }
  div#navtoggler{
    display: block;
  }

#stickyheader{
  top: 53px !important;
}
  .about-banner{
    background-size: cover;
  }

.msubmneu{
  display: block;
  padding: 8px 0;
}
.msubmneu a{
  color: #ffffff;
  font-size: 17px;
  position: relative;
  display: block;
}

  .inner-smenu .smenu{
    display: none;
    padding-bottom: 20px;
  }
  .inner-smenu .smenu li{
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ffffff;
  }
  .msubmneu a:after {
    content: "\f107";
    font-family: FontAwesome;
    right:0px;
    position:absolute;
    top:0;
 }
 .msubmneu a.active:after {
   content: "\f106";
}
/* inner page sub menu */
.inner-smenu .smenu li{
  position: relative;
}
.inner-smenu .smenu li span.smulti{
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    background:url(../images/pls.png) no-repeat center center;
    cursor:pointer;
}
.inner-smenu .smenu li span.smulti.active{
   background:url(../images/min.png) no-repeat center center;
}
.inner-smenu .smenu li:hover .sub-smenu{
  display: none;
}
.sub-smenu {
  position: static;
  margin-top: 15px;
}
.sub-smenu ul{
  display: block;
}
.inner-smenu .smenu>li:hover{
background:none;
}
.inner-smenu .smenu li:hover a{
color: #ffffff;
}
.inner-smenu .smenu li .sub-smenu li{
  border-bottom: 0;
}
.inner-smenu .smenu li .sub-smenu li a{
color: #252525;
padding: 8px 18px;
}
.sub-smenu li:after{
height: 2px;
}
.inner-smenu .smenu .container{
width: 100%;
padding: 0;
}
  .annual-report{
    padding: 0;
  }
  .award-accolades .awards{
    display: block;
  }
.award-accolades .awards figure{
  width: 100%;
}
  .award-accolades .awards .adetails{
    width: 100%;
  }
  .usful-section .black-box{
    margin-bottom: 15px;
    padding: 15px;
  }
.about-section{
  padding-top: 30px;
}
footer .address .map:before,footer .address .call:before{
  font-size: 21px;
}
.chat-withus{
  bottom: 10px;
  right: 10px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
}
.chat-withus a{
  text-indent: -9999px;
}
.chat-withus a:after{
  content: "\f27b";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 3px;
  z-index: 11;
  color: #ffffff;
  text-indent: 0;
  font-size: 28px;
  right: 0;
}
}
@media only screen and (max-width: 990px) {
  .messages ul li a h4{
    font-size: 16px;
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 768px) {
/* homep page css*/
.home-banner .owl-carousel .caption h3, .home-banner .owl-carousel .caption h3 span {
  font-size: 48px;
  line-height: 48px;
}
.placement .pcol h3{
  font-size: 28px;
}
.placement .pcol{
  margin: 20px 0;
}
.placement .col-md-3:after{
  height: 90px;
}
.placement .pcol p{
  font-size: 15px;
}
  .award-accolades .awards .adetails h3{
    font-size: 14px;
    line-height: 18px;
  }
  .award-accolades .awards .adetails p{
    font-size: 9px;
  }
  .award-accolades .owl-nav{
    display: flex;
  }
  .about-col .overlay .caption {
      bottom: 20px;
      left: 15px;
  }
  .about-col .overlay .caption h3{
    font-size: 24px;
  }
  .about-col .overlay .caption a{
    font-size: 14px;
  }
  footer .address,footer .social .email{
    margin-left: 10px;
  }


  .nextProcess_wrpr .navCustm{
	      width: 100%;
  }

  .nextProcess_wrpr .navCustm li a{
	      margin-bottom: 10px;
  }



.plcment_cmpsHrng_top {
    margin-bottom: 18px;
}





.plcment_logout{margin-bottom: 35px;}

.plcment_tbldtl_check h5{
    font-size: 13px;
    line-height: 19px;
}


.plcment_tbldtl_check table{
	    margin-bottom: 20px;
}

.nextProcess_wrpr .navCustm:before{
width: 78%;
}


}


@media only screen and (max-width: 767px) {
  .program-offered .programs ul{
    text-align: left;
  }
  .program-offered .programs ul li{
    text-align: center;
    width: 49%;
    margin-bottom: 5px;
  }
  .student-achievement .student-detail{
    padding-top: 30px;
  }
  .student-detail p{
    font-size: 14px;
    padding-bottom: 15px;
  }
   .blog-section .blog{
     margin-bottom: 15px;
   }
   .view-all{
     padding-top: 15px;
   }
   .acadim-parners .parners-row .partner{
     width: 33.33%;
     margin-bottom: 15px;
   }
   .foot-link ul{
     display: none;
   }
.foot-link h3{
  position: relative;
}
   .foot-link h3 span.fmulti{
       position:absolute;
       top:-2px;
       right:0;
       width:30px;
       height:17px;
       background:url(../images/fpls.png) no-repeat center center;
       cursor:pointer;
   }
   .foot-link h3 span.fmulti.active{
      background:url(../images/fmin.png) no-repeat center center;
   }
   .soical-tab li a {
    width: 50px;
    height: 50px;
}
   .soical-tab li.facebook a{
     background: url(../images/micon-fbg.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.twitter a{
     background: url(../images/micon-twg.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.linkedin a{
     background: url(../images/micon-ing.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.youtube a{
     background: url(../images/micon-ytubg.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.active.facebook a, .soical-tab li.facebook:hover a{
     background: url(../images/micon-fb.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.active.twitter a,.soical-tab li.twitter:hover a{
     background: url(../images/micon-tw.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.active.linkedin a,.soical-tab li.linkedin:hover a{
     background: url(../images/micon-in.png) no-repeat center center;
     background-size: 30px;
   }
   .soical-tab li.active.youtube a,.soical-tab li.youtube:hover a{
     background: url(../images/micon-ytub.png) no-repeat center center;
     background-size: 30px;
   }
   .messages ul li a h4{
     font-size: 15px;
   }
}
@media only screen and (max-width: 650px) {
  .messages ul li a h4{
    font-size: 13px;
  }
  .messages ul li a span{
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  /*Home page css*/
  .mbanner{
    display: block !important;
  }

  .dbanner{
    display: none !important;
  }

  .home-banner{
    padding-bottom: 15px;
  }
  .home-banner .owl-carousel .caption h3, .home-banner .owl-carousel .caption h3 span{
    font-size: 36px;
    line-height: 36px;
  }
  .home-banner .owl-dots{
    bottom: 2px;
  }
  .home-banner .owl-carousel .owl-dots .owl-dot span{
    width: 30px;
    height: 2px;
    margin: 2px;
  }
  .home-banner .owl-carousel .owl-dots .owl-dot.active span{
    height: 4px;
  }
  .home-banner .owl-carousel .caption p{
    font-size: 13px;
    line-height: 15px;
  }
  .placement, .regular-recruiters,.student-achievement,.about-upes,.blog-section,.program-offered,.gallery,.news-event{
    padding: 15px 0;
  }
  .acadim-parners{
    padding: 20px 0;
    margin: 15px 0;
  }

  .blog-section .blog p{
    width: 100%;
    padding: 15px;
    font-size: 13px;
  }
  .blog-section .blog p br{
    display: none;
  }
  .acadim-parners .parners-row .partner{
    width: 49%;
  }
  .placement .pcol{
    margin: 15px 0;
  }
  .placement .col-md-3:after{
    height: 60px;
  }
  .placement .pcol h3{
    font-size: 22px;
  }
  .placement .pcol p{
    font-size: 13px;
  }
  /*About page css*/
  .about-banner {
    min-height: 350px;
    background: url(../images/mabout-banner.jpg)no-repeat left top;
    background-size: 100% 100%;
}
.banner-caption{
  padding-top: 40%;
}
.banner-caption p br{
  display: none;
}
.about-col .overlay .caption {
    bottom: 20px;
    left: 15px;
}
.about-col .overlay .caption h3{
  font-size: 18px;
}
.about-col .overlay .caption a{
  font-size: 12px;
}
.banner-caption h3{
  font-size: 36px;
}
.banner-caption h2 {
    font-size: 36px;
    line-height: 36px;
}

.top-nav .topnav li+li a::before {
    width: 1px;
    height: 7px;
    top: 0px;
    left: -2px;
}
.heading{
  padding-bottom: 10px;
}
  .heading h2{
    font-size: 14px;
  }
  footer .address,footer .social .email{
    margin-left: 15px;
    font-size: 12px;
  }
  footer .copyright p{
    font-size: 12px;
  }
.fixed-social ul li{
  padding: 5px;
}
.fixed-social{
  display: none;
}
.messages ul li a h4{
  font-size: 12px;
  padding: 10px 15px;
}
.messages ul li a span{
  font-size: 11px;
}
.messages .tab-content .message{
  padding: 25px 15px;
}
.messages .tab-content .message p{
  font-size: 14px;
  padding-bottom: 15px;
}
.messages .tab-content .message h4{
  font-size: 15px;
}
}
@media only screen and (max-width: 360px) {
  .about-col .overlay .caption {
      bottom: 10px;
      left: 5px;
  }
  .about-col .overlay .caption h3{
    font-size: 15px;
  }
  .about-col .overlay .caption a{
    font-size: 10px;
  }
  .soical-tab li {
    padding: 4px 10px;
}
.messages ul li a h4{
  padding: 10px;
}
.messages ul li a span{
  padding: 10px;
}
}
