﻿@using System.Data

@model DataSet
@{
    Layout = "";
}
    @foreach (DataRow row in Model.Tables[0].Rows)
    {
        <li>

            <div class="li_innerDiv">
                <p>@row["description"]</p>
                <p>
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@row["descnew"].ToString()))
                </p>
                <a href="">VIEW DETAILS</a>
            </div>

        </li>

    }

