﻿@using System.Data

@model DataSet
@{
    Layout = "";
}
<div class="panel panel-primary" style="border-color:transparent;">
    <div class="panel-body panelBody_schlar">
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <div class="facultys">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <figure><img src="/Images/faculty1.jpg" alt="Faculty"></figure>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4>@row["fname"]</h4>
                        <p>B.Engg., (Aeronautical Engineering), PEC University of Technology (formerly PEC), Chandigarh</p>
                        <p>M.Tech (Flight Mechanics), Aerospace Engineering, IIT Kanpur</p>
                        <p>Ph.D (Aerospace Engineering), IIT Bombay</p>
                        <p><a href="/faculty/index/@row["facultyid"]">Click here to view details</a></p>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
</div>
