﻿<!-- about banner -->
<section class="about-banner">
    <div class="container">
        <div class="banner-caption">
            <h2>University</h2>
            <h3>with purpose</h3>
            <p>
                Established in 2003 through UPES Act, 2003 of the State <br />Legislature of
                Uttarakhand, UPES is an UGC recognized and<br /> NAAC accredited University.
            </p>
        </div>
    </div>
</section>

<!-- inner page sub menu -->
<section class="inner-smenu" id="stickyheader">
    <div class="pos-relative">
        <div class="container">
            <div class="msubmneu"><a href="javascript:;" id="msubmneu">About us </a></div>
            <ul class="smenu" id="smenu">
                <li>
                    <a href="javascript:;">Overview</a><span class="smulti"></span>
                    <div class="sub-smenu">
                        <div class="container">
                            <ul class="">
                                <li>
                                    <a href="javascript:;">Leadership</a>
                                    <!--<ul class="horz_subMenu">
                                        <li><a href="" >BTech</a></li>
                                        <li><a href="" >BCA</a></li>
                                        <li><a href="" >BBA</a></li>
                                        <li><a href="" >B Des</a></li>
                                        <li><a href="" >LLB</a></li>
                                        <li><a href="" >BA Public Policy & Administration</a></li>
                                        <li><a href="" >BA Economics (HONS.)</a></li>
                                        <li><a href="" >MBA</a></li>
                                        <li><a href="" >MA Economics (Spl. in Energy Economics)</a></li>
                                        <li><a href="" >M Des</a></li>
                                        <li><a href="" >MTech</a></li>
                                        <li><a href="" >LLM</a></li>
                                    </ul>-->
                                </li>
                                <li class=""><a href="javascript:;">Accreditations & Recognitions</a></li>
                                <li class=""><a href="javascript:;">Collaborations</a></li>
                                <li class=""><a href="javascript:;">Our Vision</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="javascript:;">Leadership</a></li>
                <li><a href="javascript:;">International Operations</a></li>
                <li><a href="javascript:;">Our Vision</a></li>
                <li><a href="javascript:;">Messages</a></li>
                <li><a href="javascript:;">Accreditations & Recognitions</a></li>
                <li><a href="javascript:;">Collaborations</a></li>
                <!--<li><a href="javascript:;">OUR SCHOLARSHIPS</a></li>
                <li><a href="javascript:;">FEE REFUND POLICY</a><span class="smulti"></span>
                  <div class="sub-smenu" style="display:">
                    <div class="container">
                        <ul class="">
                          <li><a href="javascript:;">ADMISSION 2019</a>
                              <ul class="horz_subMenu">
                                  <li><a href="" >BTech</a></li>
                                  <li><a href="" >BCA</a></li>
                                  <li><a href="" >BBA</a></li>
                                  <li><a href="" >B Des</a></li>
                                  <li><a href="" >LLB</a></li>
                                  <li><a href="" >BA Public Policy & Administration</a></li>
                                  <li><a href="" >BA Economics (HONS.)</a></li>
                                  <li><a href="" >MBA</a></li>
                                  <li><a href="" >MA Economics (Spl. in Energy Economics)</a></li>
                                  <li><a href="" >M Des</a></li>
                                  <li><a href="" >MTech</a></li>
                                  <li><a href="" >LLM</a></li>
                              </ul>
                          </li>
                          <li><a href="javascript:;">ADMISSION ALERTS</a>
                              <ul class="horz_subMenu">
                                  <li><a href="" >BTech</a></li>
                                  <li><a href="" >BCA</a></li>
                                  <li><a href="" >BBA</a></li>
                                  <li><a href="" >B Des</a></li>
                                  <li><a href="" >LLB</a></li>
                                  <li><a href="" >BA Public Policy & Administration</a></li>
                                  <li><a href="" >BA Economics (HONS.)</a></li>
                                  <li><a href="" >MBA</a></li>
                                  <li><a href="" >MA Economics (Spl. in Energy Economics)</a></li>
                                  <li><a href="" >M Des</a></li>
                                  <li><a href="" >MTech</a></li>
                                  <li><a href="" >LLM</a></li>
                              </ul>
                          </li>
                          <li class=""><a href="javascript:;">ADMISSION CRITERIA</a></li>
                        </ul>
                  </div>
                  </div>
                  </li>
                <li><a href="javascript:;">FINANCIAL ASSISTANCE</a></li>-->
            </ul>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="about-col">
                            <img src="/images/leadership.jpg" alt="Leadership" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3>Leadership</h3>
                                    <a href="javascript:;"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="about-col">
                            <img src="/images/academic.jpg" alt="academic" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3>Academic <br />Collaboration</h3>
                                    <a href="javascript:;"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="about-col">
                            <img src="/images/International.jpg" alt="International" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3>International <br />Operations</h3>
                                    <a href="javascript:;"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="about-col">
                            <img src="/images/accreditations.jpg" alt="accreditations" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3>Accreditations & <br />Recognitions</h3>
                                    <a href="javascript:;"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="annual-report">
                    <h3>Annual <span>Report</span></h3>
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="/images/annual-report.jpg" alt="annual report">
                        </div>
                        <div class="item">
                            <img src="/images/annual-report.jpg" alt="annual report">
                        </div>
                        <div class="item">
                            <img src="/images/annual-report.jpg" alt="annual report">
                        </div>
                        <div class="item">
                            <img src="/images/annual-report.jpg" alt="annual report">
                        </div>
                    </div>
                    <div class="download-report">
                        <h2>2016-17</h2>
                        <a href="javascript:;">Download</a>
                    </div>
                    <div class="environmental">
                        <h3>Environmental <span>Impact</span></h3>
                        <p>True to our focus and philosophy, UPES is proud of the following Environmental initiatives at our Campuses</p>
                        <ul>
                            <li class="es">
                                <img src="/images/icon-es.png" alt="Energy Savings" />
                                <span>Energy </span> Savings
                            </li>
                            <li class="wc">
                                <img src="/images/icon-wc.png" alt="Water Conservation" />
                                <span>Water </span> Conservation
                            </li>
                            <li class="rp">
                                <img src="/images/icon-rp.png" alt="Recycle Program" />
                                <span>Recycle  </span> Program
                            </li>
                        </ul>
                        <div class="know-more">
                            <a href="javascript:;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Awards & Accolades -->
<section class="award-accolades">
    <div class="container">
        <div class="heading">
            <h2><span>Awards &</span> Accolades</h2>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="awards">
                    <figure><img src="/images/award1.jpg" alt="Awards"></figure>
                    <div class="adetails">
                        <h3>SAP ACE Award for Public Services 2012</h3>
                        <p>Special Recognition for Excellence in Higher  Education & Research Awarded by SAP India to  celebrate Customer...</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="awards">
                    <figure><img src="/images/award2.jpg" alt="Awards"></figure>
                    <div class="adetails">
                        <h3>Dr Parag Diwan : Education Evangelist of India</h3>
                        <p>Dr. Parag Diwan, the Founder Vice Chancellor of University of Petroleum and Energy Studies (UPES) receiving the prestigious award...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*</div>*@
</section>

<!-- Let’s Connect -->
<section class="lets-connect">
    <div class="container">
        <div class="heading">
            <h2><span>Let’s</span> Connect</h2>
        </div>
        <ul class="nav nav-pills soical-tab">
            <li class="active facebook">
                <a href="#facebook" data-toggle="tab"></a>
            </li>
            <li class="twitter"><a href="#twitter" data-toggle="tab"></a></li>
            <li class="linkedin"><a href="#linkedin" data-toggle="tab"></a></li>
            <li class="youtube"><a href="#youtube" data-toggle="tab"></a></li>
        </ul>
    </div>
</section>
<section class="tab-social-content">
    <div class="container">
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="facebook">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <img src="/images/fb-post.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <p>Be future proof & job ready. Only 4 days to go for UPES 4th Business Analytics</p>
                        <div class="fb-share">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="124" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="twitter">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <img src="/images/fb-post.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <p>Be future proof & job ready. Only 4 days to go for UPES 4th Business Analytics twitter</p>
                        <div class="fb-share">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="124" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="linkedin">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <img src="/images/fb-post.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <p>Be future proof & job ready. Only 4 days to go for UPES 4th Business Analytics linkedin</p>
                        <div class="fb-share">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="124" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="youtube">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <img src="/images/fb-post.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <p>Be future proof & job ready. Only 4 days to go for UPES 4th Business Analytics youtube </p>
                        <div class="fb-share">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="124" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="usful-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>University</h3>
                    <p>
                        Center for innovation
                        <br /> and Enterprenuership (UCIE)
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>cce</h3>
                    <p>
                        Centre for
                        <br /> Continuing Education
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>r & d</h3>
                    <p>
                        Research and
                        <br /> Development
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
