﻿@using System.Data

@model DataSet
@{
    Layout = "";
}
@*@foreach (DataRow row in Model.Tables[0].Rows)
{
    <li>

        <div class="li_innerDiv">
            <p>@row["levelname"]</p>
        </div>

    </li>

}*@


<div class="admsn_alert_wrpr">
    <h2 class="text-center clearfix">

        <span class="pull-left" style="margin-right:15px;">Select Stream</span>
        <select class="form-control pull-left"
                id="#selectStars"
                style="font-size:30px;height:45px;margin-top:-7px;"
                onload="getAlerts(this.value);"
                onchange="getStars()">
            <option value="-1">Select Stream</option>
            @foreach (DataRow row in Model.Tables[0].Rows)
            {
                <option value="@row["levelid"].ToString()">@row["levelname"].ToString()</option>
            }
        </select>


    </h2>

    <ul class="ulStyle_grid" id="stars"></ul>

</div>
