﻿<section class="pageBody_gap">
    <div class="container">
        <div class="news-events">
            <div class="heading">
                <h2>@ViewBag.NewsTitle</h2>
            </div>
            <div class="news">
                <p>@ViewBag.NewsDate</p>
                <p>
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@ViewBag.NewsDesc))
                </p>

            </div>
        </div>
    </div>
</section>
