﻿@model upes.Models.AdmissionsView

<section class="press-release">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Press Release
                </h4>
            </div>
        </div>
        <div class="row display-flex">
            @foreach (System.Data.DataRow dr in ViewBag.PressRelease.Rows)
            {

                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color:transparent;">
                        <img src="/Images/about-banner.jpg" alt="Alternate Text" class="img-responsive" style="height:210px;" />
                        <div class="panel-body" style="border:2px solid #ee3e3e;">
                            <p class="max-lines" style="color: #05478d;font-family: 'Montserrat-Regular';text-align:justify;">
                                @dr["Ptitle"].ToString()
                            </p>
                            <span style="font-weight:700;">
                                October 2016
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

