﻿<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="foot-link">
                            <h3>OTHERS LINKS <span class="fmulti"></span></h3>
                            <ul>
                                <li><a href="/About">About Us</a></li>
                                <li><a href="/About/WhoWeAre">Who We Are</a></li>
                                <li><a href="/About/OurVision">Our Vision</a></li>
                                <li><a href="/About/Leadership">Leadership</a></li>
                                <li><a href="/About/Messages">Messages</a></li>
                                <li><a href="/About/IndustryAlliances">Industry Alliances</a></li>
                                <li><a href="/About/Collaborations">Collaborations</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="foot-link">
                            <h3>UPES<span class="fmulti"></span></h3>
                            <ul>
                                <li><a href="/whyupes">WHY UPES</a></li>
                                <li><a href="/whyupes/AdvantageUpes">Advantage Upes</a></li>
                                <li><a href="/whyupes/PlacementRecords">Placement Records</a></li>
                                <li><a href="/whyupes/Csr">Csr</a></li>
                                <li>
                                    <a class="" href="/whyupes/LifeAtUpes">Life at Upes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="foot-link">
                            <h3>GALLERY <span class="fmulti"></span></h3>
                            <ul>
                                <li><a href="/Gallery">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="foot-link">
                            <h3>SCHOOLS <span class="fmulti"></span></h3>
                            <ul>
                                <li><a href="/Schools">Schools</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="foot-link">
                            <h3>ADMISSIONS <span class="fmulti"></span></h3>
                            <ul>
                                <li><a href="/Admissions/Admission">Admissions 2018</a></li>
                                <li><a href="/Admissions/AdmissionAlert">Admission Alerts</a></li>
                                <li><a href="/Admissions/Criteria">Admission Criteria</a></li>
                                <li><a href="/Admissions/Scholarships">Scholarship</a></li>
                                <li><a href="/Admissions/FeeRefundPolicy">Fee Refund Policy</a></li>
                                <li><a href="/Admissions/FinancialAssistance">Financial Assistance</a></li>
                                <li><a href="/Admissions/OnlineApplicationForm">Online Application Form</a></li>
                                <li><a href="/Admissions/ApplicantLogin">Applicant Login</a></li>
                                <li><a href="/Admissions/EntranceExam">UPES Entrance Exams</a></li>
                                <li><a href="/Admissions/Faqs">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <p class="map">2nd Floor, 210, Okhla Industrial Estate, Phase III,New Delhi-110020 India</p>
                </div>
                <div class="address">
                    <p class="call">
                        <a href="tel:18001028737">1800-102-8737 (Toll Free)</a>
                        <a href="tel:+911141730151">+91-11-41730151/152/153</a>
                        <a href="tel:+911146022691">+91-11-46022691/92-95</a>
                    </p>
                </div>
                <div class="social">
                    <p class="email"><a href="mailto:enrollments@upes.ac.in">enrollments@upes.ac.in</a></p>
                    <ul>
                        <li><a href="https://www.instagram.com/upes_dehradun/" target="_blank" class="lin"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/user/UPESUniversity/featured" target="_blank" class="ytube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/UniversityofPetroleumandEnergyStudies" target="_blank" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/UPESDehradun" target="_blank" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2018 The University of Petroleum & Energy Studies</p>
        </div>
    </div>
</footer>
<div class="fixed-social">
    <ul>
        <li><a href="https://www.facebook.com/UniversityofPetroleumandEnergyStudies" target="_blank" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/UPESDehradun" target="_blank" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/upes_dehradun/" target="_blank" class="lin"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/user/UPESUniversity/featured"  target="_blank" class="ytube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </ul>
</div>
<div class="chat-withus">
    <a href="http://ameyo.delhi.upes.ac.in:8888/ameyochatjs/defaultChat/chatRegistration.html?campaignId=16&amp;nodeflowId=5&amp;contextId=16&amp;contextType=constraint.context.type.campaign" target="_blank">Chat <span>With us</span></a>
    
</div>