﻿<!-- mobile menu -->

<div class="mb_01">
    <div class="mobile_hover"></div>
    <div class="mobile_bg"></div>
    <div class="mobile_menu">
        <div class="inner_mobile_menu">
            <ul style="color:#fff;">
                <li><a href="index.html">Home</a></li>
                <li>
                    @Html.ActionLink("About Us", "Index", "About", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("Who we are", "WhoWeAre", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Our Vision", "OurVision", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Messages", "Messages", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Leadership", "Leadership", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("International Operations", "InternationalOperations", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Industry Alliances", "IndustryAlliances", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Accreditations & Recognitions", "AccreditationsRecognitions", "About", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Collaborations", "Collaborations", "About", new { area = "" }, new { @class = "" })
                        </li>

                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Why UPES", "Index", "whyupes", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("ADVANTAGE UPES", "AdvantageUpes", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("LIFE AT UPES", "LifeAtUpes", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("PLACEMENT RECORDS", "PlacementRecords", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("TEACHING METHODOLOGY", "TeachingMethodology", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("CSR", "Csr", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("CONFERENCE & SEMINARS", "Conferences", "whyupes", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Admissions", "Index", "Admissions", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("ADMISSION 2018", "Admission", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("OUR SCHOLARSHIPS", "Scholarships", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("FEE REFUND POLICY", "FeeRefundPolicy", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("FINANCIAL ASSISTANCE", "FinancialAssistance", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("INTERNATIONAL STUDENTS", "InternationalStudents", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("ONLINE APPLICATION FORM", "OnlineApplicationForm", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            <a href="https://admission.upes.ac.in/studentlogin.aspx" target="_blank">Applicant Login</a>
                        </li>

                        <li>
                            @Html.ActionLink("UPES ENTRANCE EXAM", "EntranceExam", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("faqS", "Faqs", "Admissions", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </li>

                <li>
                    @Html.ActionLink("Schools", "Index", "Schools", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("OUR FACULTY", "OurFaculty", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF ENGINEERING", "SchoolOfEngineering", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF BUSINESS", "SchoolOfBussiness", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF LAW", "Index", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF COMPUTER SCIENCE", "SchoolOfComputerScience", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF DESIGN", "SchoolOfDesign", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </li>

                <li>
                    @Html.ActionLink("Programmes", "Index", "Programmes", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("School wise", "SchoolWise", "Programmes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Course master", "CourseMaster", "Programmes", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Placement", "Index", "Placement", new { area = "" }, new { @class = "" })
                    <ul>
                        <li>
                            @Html.ActionLink("PLACEMENT RECORDS", "PlacementsRecords", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SUMMER INTERNSHIPS", "SummerInternships", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("OFFICE OF CAREER SERVICES", "OfficeCareerServices", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li style="padding-left: 25px;padding-right: 25px;">
                            @Html.ActionLink("OUR PATRONS", "OurPatrons", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("PSI PROGRAM", "PsiProgram", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("CAMPUS HIRING INTEREST FORM", "CampusHiringInterestForm", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, new { @class = "" })
                    @*<ul>
                            <li><a href="javascript:;">Placement Records</a></li>
                            <li><a href="javascript:;">Summer Internships</a></li>
                            <li><a href="javascript:;">Industry Tours</a></li>
                            <li><a href="javascript:;">Office of Careers Services</a></li>
                            <li><a href="javascript:;">Our Partners</a></li>
                            <li><a href="javascript:;">PSI Program</a></li>
                            <li><a href="javascript:;">Campus Hiring Interest Form</a></li>
                        </ul>*@
                </li>
                <li>
                    <a href="javascript:;">Contact Us</a>
                </li>
                <li>
                    <a href="https://admission.upes.ac.in/studentlogin.aspx" target="_blank">Applicant Login</a>
                </li>
                <li>
                    <a href="https://admission.upes.ac.in/applicationformstep1.aspx?utm_source=pop-up-leads&utm_medium=direct&utm_campaign=Popup-launch" target="_blank">ADMISSIONS OPEN</a>
                </li>
                <li>
                    <a href="/Admissions/OnlineApplicationForm">APPLY NOW</a>
                </li>
            </ul>
        </div>
    </div>
</div>


@* new nav code *@

<!-- top nav -->
<section class="top-nav">
    <div class="container">
        <div class="top-bar-right">
            <ul class="topnav">
                <li class="show-desktop"><a href="tel:18001028737">1800-102-8737</a></li>
                <li class="show-desktop"><a href="https://admission.upes.ac.in/studentlogin.aspx" target="_blank">Applicant Login</a></li>
                <li>
                    <a href="https://admission.upes.ac.in/applicationformstep1.aspx?utm_source=pop-up-leads&utm_medium=direct&utm_campaign=Popup-launch" target="_blank">ADMISSIONS OPEN</a>
                </li>
                <li><a href="/Admissions/OnlineApplicationForm">APPLY NOW</a></li>
            </ul>
        </div>
    </div>


</section>


<!--Start top menu -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2  col-sm-6 col-xs-6">
                <div class="branding">
                    <figure><a href="/"><img src="@Url.Content("~/images/logo.png")" alt="UPES Logo" /></a></figure>
                </div>
            </div>
            <div class="col-md-10 col-sm-6 col-xs-6">
                <ul class="menu">
                    <li>
                        @Html.ActionLink("About Us", "Index", "About", new { area = "" }, new { @class = "" })
                        <div class="nav-smenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Who we are", "WhoWeAre", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Our Vision", "OurVision", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Messages", "Messages", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Leadership", "Leadership", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("International Operations", "InternationalOperations", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Industry Alliances", "IndustryAlliances", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Accreditations & Recognitions", "AccreditationsRecognitions", "About", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("Collaborations", "Collaborations", "About", new { area = "" }, new { @class = "" })
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="">
                        @Html.ActionLink("Why UPES", "Index", "whyupes", new { area = "" }, new { @class = "" })
                        <div class="nav-smenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("ADVANTAGE UPES", "AdvantageUpes", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("LIFE AT UPES", "LifeAtUpes", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("PLACEMENT RECORDS", "PlacementRecords", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("TEACHING METHODOLOGY", "TeachingMethodology", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("CSR", "Csr", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("CONFERENCE & SEMINARS", "Conferences", "whyupes", new { area = "" }, new { @class = "" })
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        @Html.ActionLink("Admissions", "Index", "Admissions", new { area = "" }, new { @class = "" })
                        <div class="nav-smenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("ADMISSION 2018", "Admission", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("OUR SCHOLARSHIPS", "Scholarships", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("FEE REFUND POLICY", "FeeRefundPolicy", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("FINANCIAL ASSISTANCE", "FinancialAssistance", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("INTERNATIONAL STUDENTS", "InternationalStudents", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink("ONLINE APPLICATION FORM", "OnlineApplicationForm", "Admissions", new { area = "" }, new { @class = "" })
                                </li>
                                <li>
                                    @*@Html.ActionLink("APPLICANT LOGIN", "ApplicantLogin", "Admissions", new { area = "" }, new { @class = "" })*@
                                <li><a href="https://admission.upes.ac.in/studentlogin.aspx" target="_blank">Applicant Login</a></li>
                    </li>
                    <li>
                        @Html.ActionLink("UPES ENTRANCE EXAM", "EntranceExam", "Admissions", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("faqS", "Faqs", "Admissions", new { area = "" }, new { @class = "" })
                    </li>
                </ul>
            </div>
            </li>
            <li class="">
                @Html.ActionLink("Schools", "Index", "Schools", new { area = "" }, new { @class = "" })
                <div class="nav-smenu">
                    <ul>
                        <li>
                            @Html.ActionLink("OUR FACULTY", "OurFaculty", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF ENGINEERING", "SchoolOfEngineering", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF BUSINESS", "SchoolOfBussiness", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF LAW", "SchoolOfLaw", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF COMPUTER SCIENCE", "SchoolOfComputerScience", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SCHOOL OF DESIGN", "SchoolOfDesign", "Schools", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                @Html.ActionLink("Programmes", "Index", "Programmes", new { area = "" }, new { @class = "" })
                <div class="nav-smenu">
                    <ul>
                        <li>
                            @Html.ActionLink("School wise", "SchoolWise", "Programmes", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Course master", "CourseMaster", "Programmes", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                @Html.ActionLink("Placement", "Index", "Placement", new { area = "" }, new { @class = "" })
                <div class="nav-smenu">

                    <ul>
                        <li>
                            @Html.ActionLink("PLACEMENT RECORDS", "PlacementsRecords", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("SUMMER INTERNSHIPS", "SummerInternships", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("OFFICE OF CAREER SERVICES", "OfficeCareerServices", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li style="padding-left: 25px;padding-right: 25px;">
                            @Html.ActionLink("OUR PATRONS", "OurPatrons", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("PSI PROGRAM", "PsiProgram", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("CAMPUS HIRING INTEREST FORM", "CampusHiringInterestForm", "Placement", new { area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                @Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, new { @class = "" })
                <!--div class="nav-smenu">
                  <ul>
                    <li><a href="javascript:;">Overview</a></li>
                    <li><a href="javascript:;">Leadership</a></li>
                    <li><a href="javascript:;">International Operations</a></li>
                    <li><a href="javascript:;">Our Vission</a></li>
                    <li><a href="javascript:;">Messages</a></li>
                    <li><a href="javascript:;">Collaborations</a></li>
                    <li><a href="javascript:;">Accreditations & Recognitions</a></li>
                  </ul>
                </div-->
            </li>
            <li><a href="javascript:;">Quick Links</a></li>
            </ul>
            <div class="mobile_trigger"><img src="images/mobilemenu.png" /></div>
        </div>
    </div>
    </div>
</header>