﻿@using System.Data

@model DataSet
@{
    Layout = "";
}
@*@foreach (DataRow row in Model.Tables[0].Rows)
    {
        <li>

            <div class="li_innerDiv">
                <p>@row["coursename"]</p>
            </div>

        </li>

    }*@



@foreach (DataRow row in Model.Tables[0].Rows)
{
    <li>

        <div class="li_innerDiv">
            <p>@row["coursename"]</p>
        </div>

    </li>

}



