﻿
@model upes.Models.PageModel

@{
    @ViewBag.PageTitle
}
@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            @ViewBag.PageTitle
        </div>
        <div class="col-md-12">*@
<div id="pageData"></div>
@*</div>
        </div>
    </div>*@



@section scripts {
    <script type="text/javascript">

        function getPageData(pageId) {
            //var alertID = $('#selectAlert').val();
            console.log(pageId);
            var url = "/Page/LoadPage/" + pageId.toString();
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#pageData").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }

        getPageData(@ViewBag.Id);

    </script>

}