﻿@model upes.Models.ProgrammesView

@{

}

@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.PageDescription))


<section class="about-section" ng-controller="SchoolWiseCtrl">
    <div class="container">
        <div class="academic schools-faculty internship">
            <div class="panel-group course-programs" id="accordion">
                <div id="coursePrograms"></div>
            </div>
        </div>
    </div>
</section>

<!-- Our Regular Recruiters -->
@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.SmallDescription))

@section scripts {
    <script type="text/javascript">

        function getCoursePrograms() {
            var url = "/Programmes/CoursePrograms";
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#coursePrograms").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }

        function getCourseLevel() {
            var url = "/Programmes/CourseLevel";
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#courseLevel").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }

        function getCourse(id) {
            var url = "/Programmes/Course/" + id.toString();
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#course").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }


            //getCoursePrograms();
            //getCourseLevel();
            //getCourse(1);

    </script>

}


