﻿@model upes.Models.GalleryView

@foreach (System.Data.DataRow dr in ViewBag.Downloads.Rows)
{
    @dr["uploadfile"].ToString()
}

<section class="gallery-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2>Gallery</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 ">
                    <div class="custom-select pull-right">
                        <select>
                            <option>Select</option>
                            <option>Blue cheese with crackers</option>
                            <option>Steak</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="albums">
                <div class="row">
                    @foreach (System.Data.DataRow dr in ViewBag.Albums.Rows)
                    {
                        <div class="col-sm-4">
                            <div class="album">
                                <figure>
                                    <a href="javascript:;" data-popup-open="popup-1">
                                        <img src="~/images/about-banner.jpg" alt="Album" />
                                    </a>
                                    <figure>
                                        <h4 style="height:50px;">@dr["Albumtitle"].ToString()</h4>
                                    </figure>
                                </figure>
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center know-more"><a href="javascript:;">Load More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="usful-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>University</h3>
                    <p>
                        Center for innovation<br />
                        and Entrepreneurship (UCIE)
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>cce</h3>
                    <p>
                        Centre for<br />
                        Continuing Education
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="black-box">
                    <h3>r &amp; d</h3>
                    <p>
                        Research and<br />
                        Development
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <section class="gallery-popup">
            <div class="owl-carousel">
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
                <div class="item"><img class="dbanner" src="images/gallery.jpg" alt="slider" /></div>
            </div>
        </section>
    </div>
</div>
