*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
a, a:hover, img, img:hover, a:focus{
  border: none;
  outline: none;
  text-decoration: none;
  max-width: 100%
}
body{
  font-family: 'Montserrat-Light';
  color: #252525;
  font-size: 14px;
}
h1, h2, h3, h4, h5{
  font-family: 'Montserrat-Regular';
  margin: 0;
}
/* Global css class */
.clear{
  clear: both;
}
.heading h2, .heading h3{
  font-size: 25px;
  padding-bottom: 15px;
}
.heading h2 span, .heading h3 span{
  font-family: 'Montserrat-Light';
}
.sub-heading h3{
  font-size: 19px;
  color: #05478d;
}
.mbanner{
  display: none !important;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(0,0,0,0.5);
  transition: all ease .9s;
  cursor: pointer;
}
/* top navigation */
.top-nav{
  background: #252525;
}
.top-nav .topnav{
  margin-bottom: 0;
  text-align: right;
}
.top-nav .topnav li{
  display: inline-block;
  vertical-align: top;
  list-style: none;
  position: relative;
}
.top-nav .topnav li a{
	padding: 0;
	color: #ffffff;
	position: relative;
	display: block;
	padding: 20px 12px;
	transition: all .5s;
	font-size: 13px;
	font-family: 'Montserrat-Regular';
	text-transform: uppercase;
}
.top-nav .topnav li a:hover{
   color: #fdc907;
   transition: all .5s;
}
.top-nav .topnav li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fdc907;
    transition: width .3s;
}
.top-nav .topnav li a:hover:after {
    width: 100%;
    transition: width .3s;
}
.top-nav .topnav li+li a::before{
  content: "";
  background: #ffffff;
  width: 2px;
  height: 12px;
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  margin: auto;
}
.top-nav .topnav li:last-child a::before{
  display: none;
}
.top-nav .topnav li:last-child a{
  background: #ee3e3e;
  line-height: 20px;
}
.top-nav .topnav li:last-child a:after{
  display: none;
}
.top-nav .topnav li:last-child a:hover{
  background: #fdc907;
  color: #252525;
}
/*navigation css*/
header {
  background: #ffffff;
  transition: all .5s;
}
header .branding{
  padding: 11px 0px;
}
header.f-nav{
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all .5s;
  box-shadow: 1px 7px 5px 5px rgba(10, 10, 10, 0.11);
}
header.f-nav .branding{
  padding: 9px 0px;
}
header.f-nav .menu li a{
  padding: 20px 0;
}
header .menu{
  text-align: right;
  margin-bottom: 0;
}
header .menu>li{
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  margin: 0 10px;
  font-family: 'Montserrat-Regular';
}
header .menu>li a{
  padding: 20px 0px;
  color: #252525;
  display: block;
  text-transform: uppercase;
  transition: all .5s;
  font-size: 12px;
}
header .menu>li:hover a, header .menu>li.active a{
  color: #ee3e3e;
}
header .menu>li:after, header .menu>li.active:after{
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #ee3e3e;
  transition: width .5s;
}
header .menu>li:hover:after, header .menu>li.active:after{
  width: 100%;
  transition: width .5s;
}

/* navigation sub menu  */

.nav-smenu{
  display: none;
  padding: 16px;
  margin-left: -100px;
  position: absolute;
  top: 100%;
  background: #ffffff;
  text-align: left;
  z-index: 10;
  transition: all .5s;
  box-shadow: 1px 7px 4px 4px rgba(10, 10, 10, 0.22);
}
header .menu>li:hover .nav-smenu{
  display: block;
  transition: all .5s;
}
.nav-smenu ul{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

}
.nav-smenu ul li{
  list-style: none;
  margin-left: 5px;
  white-space: nowrap;
}
header .menu>li+li+li+li .nav-smenu{
  right: 0;
}
.nav-smenu ul li:before{
  content: "-";
}
.nav-smenu ul li:hover:before{
  color: #ee3e3e;
}
header .menu>li:hover .nav-smenu ul li a{
  color: #000000;
}
.nav-smenu ul li a{
  display: inline-block;
  padding: 8px 5px;

}
header.f-nav .menu li .nav-smenu ul li a{
  padding: 8px 5px;
}
header .menu>li:hover .nav-smenu ul li:hover a{
  color: #ee3e3e;
}
header .menu>li:hover .nav-smenu ul li.active a{
  color: #ee3e3e;
}
/*mobile menu css*/
.mb_01, .mobile_trigger{
   display:none;
}
 /*home page css*/
 /* banner css */
 .home-banner{
   position: relative;
   padding-bottom: 30px;
 }
 .home-banner .owl-dots{
   position: absolute;
   bottom: 5px;
   width: 100%;
   text-align: center;
 }

 .home-banner .owl-carousel .owl-dots .owl-dot {
   display: inline-block;
   vertical-align: bottom;
 }

  .home-banner .owl-carousel .owl-dots .owl-dot span {
     width: 65px;
     height: 4px;
     margin: 5px 2px;
     background: #ffffff;
     display: block;
     -webkit-backface-visibility: visible;
     transition: opacity .2s ease;
 }
 .home-banner .owl-carousel .owl-dots .owl-dot.active span{
   height: 7px;
 }
 .home-banner .owl-carousel .caption{
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   height: 150px;
   width: 100%;
 }
 .home-banner .owl-carousel .caption h3{
   font-family: 'Montserrat-Light';
   font-size: 54px;
   color: #ffffff;
   line-height: 54px;
 }
.home-banner .owl-carousel .caption h3 span{
  font-family: 'Montserrat-Regular';
  display: block;
  line-height: 54px;
}
.home-banner .owl-carousel .caption p{
  font-size: 16px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
  line-height: 20px;
}
/* placement */
.placement {
  padding: 30px 0 30px;
}
.placement .col-md-3{
  position: relative;
}
.placement .col-md-3:after{
  content: "";
  position: absolute;
  right: 0;
  background: #cccccc;
  height: 120px;
  width: 1px;
  top: 15px;
}
.placement .col-md-3:last-child:after{
  display: none;
}
.placement  .pcol{
  display: inline-block;
  text-align: left;
  margin: 30px 0;
}
.placement .pcol h3{
  font-size: 42px;
  color: #898989;
  width: 100%;
}
.placement  .pcol p{
  font-family: 'Montserrat-Light';
  font-size: 17px;
  background: #ffc907;
  display: inline-block;
  padding: 5px 30px 5px 15px;
}
.placement p.stats{
  font-size: 13px;
  padding-top: 15px;
  color: #b7b7b7;
}
/* Our Regular Recruiters */
.regular-recruiters{
  padding: 30px 0;
}
.regular-recruiters .owl-carousel .item{
  text-align: center;
}
.regular-recruiters .owl-carousel .item img{
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.regular-recruiters p.recruiters{
  text-align: center;
  font-size: 13px;
  padding-top: 15px;
  color: #b7b7b7;
}
/*  acadim parners */
.acadim-parners{
  margin: 30px 0;
  padding: 48px 0 48px 0;
  background: #f0f0f0;
}
.acadim-parners .parners-row{
  text-align: center;
  padding: 20px 0 0;
}
.acadim-parners .parners-row .partner{
  display: inline-block;
  vertical-align: top;
  width: 19%;
}

.acadim-parners .parners_row_flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
 /* PROGRAMMES OFFERED */
 .program-offered{
  padding: 30px 0;
 }
 .program-offered .programs{

 }
 .program-offered .programs ul{
   text-align: center;
 }
 .program-offered .programs ul li{
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 19.5%;
 }
 .program-offered .programs ul li img{
   width: 100%;
 }
 .program-offered .programs ul li .overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   margin: auto;
   background: rgba(0,0,0,0.5);
   transition: all ease .9s;
   cursor: pointer;
 }
 .program-offered .programs ul li .overlay p{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 2;
   margin: auto;
   height: 40px;
   color: #ffffff;
   transition: all ease .9s;
 }
 .program-offered .programs ul li .overlay:hover{
   background: #ffc907;
   transition: all ease .9s;
 }
 .program-offered .programs ul li .overlay:hover p{
   color: #252525;
   transition: all ease .9s;
 }
 /*student-achievement*/
 .student-achievement{
   padding: 30px 0;
 }
 .student-detail p{
   font-size: 17px;
   padding-bottom: 30px;
   font-family: 'Montserrat-Light';
 }
 .student-detail ul li{
   list-style: none;
   display: inline-block;
 }
 .student-detail ul li a{
   padding: 8px 32px;
   border: 1px solid #ee3e3e;
   color: #ffff;
   display: block;
   transition: all .7s;
   background: #ee3e3e;
 }
 .student-detail ul li a:hover{
   border: 1px solid #ffc907;
   background: #ffc907;
   color: #252525;
   transition: all .7s;
 }
 /*news event*/
 .news-event {
   padding: 30px 0;
 }
 .news-event .item{
   position: relative;
 }
 .news-event .item img{
   width: 100%;
 }
 .news-event .item .caption{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1;
   margin: auto;
   background: rgba(0,0,0,0.5);
   transition: all ease .9s;
   cursor: pointer;
 }
 .news-event .item .caption:hover{
   background: rgba(237, 28, 36, 0);
 }
 .news-event .item .caption p{
   position: absolute;
   padding: 25px 15px;
   margin-bottom: 0;
   bottom: 0px;
   text-align: left;
   color: #ffffff;
   font-size: 13px;
   left: 0px;
   right: 0px;
   transition: all ease .9s;
 }
.news-event .item .caption:hover p{
   background: rgba(237, 28, 36, 0.7);
   transition: all ease .9s;
 }
 .news-event .item .caption p span{
   display: flex;
   font-size: 9px;
 }
 .news-event  .owl-carousel .owl-nav{
   display: flex;
 }
 .news-event .owl-nav{
   position: relative;
   flex-direction: row;
   justify-content: center;
 }
 .news-event .owl-nav .owl-next{
   text-indent: -9999px;
   position: relative;
   padding: 5px;
   font-size: 16px;
 }
 .news-event .owl-nav .owl-next:before{
    content: "\f054";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 .news-event .owl-nav .owl-next:hover:before,.news-event .owl-nav .owl-prev:hover:before{
   background: #ffc907;
 }
 .news-event .owl-nav .owl-prev{
   text-indent: -9999px;
   position: relative;
 }
 .news-event .owl-nav .owl-prev:before{
    content: "\f053";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 /*GALLERY*/
 .gallery{
   padding-bottom: 30px;
   margin: 0 auto;
   overflow: hidden;
   max-width: 1280px;
   width: 100%;
 }
 .gallery .big-size{
   overflow: hidden;
 }
 .gallery .small-size figure{
   margin-bottom: 2px;
   overflow: hidden;
 }
 .gallery .big-size figure img, .gallery .small-size figure img{
   width: 100%;
   transition: all .5s;
 }
 .gallery .big-size figure img:hover,.gallery .small-size figure img:hover{
   transform: scale(1.2);
   transition: all .5s;
 }
 .gallery .view-all{
   background: #ee3e3e;
   padding: 8px 48px;
   display: inline-block;
   color: #ffffff;
   margin-top: 15px;
   transition: all .5s;
 }
 .gallery .view-all:hover{
   transition: all .5s;
   background: #ffc907;
   color: #363636;
 }
  .gallery .owl-carousel .owl-nav.disabled{
    display: flex;
    justify-content: center;
  }
 .gallery .owl-nav{
   display: flex;
   position: relative;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 15px;
 }
.gallery .owl-nav .owl-next{
   text-indent: -9999px;
   position: relative;
   padding: 5px;
   font-size: 16px;
 }
 .gallery .owl-nav .owl-next:before{
    content: "\f054";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }
 .gallery .owl-nav .owl-next:hover:before,.gallery .owl-nav .owl-prev:hover:before{
   background: #ffc907;
 }
 .gallery .owl-nav .owl-prev{
   text-indent: -9999px;
   position: relative;
 }
.gallery .owl-nav .owl-prev:before{
    content: "\f053";
    font-family: FontAwesome;
    position:absolute;
    top:15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
 }


 /* About upes */
 .about-upes{
   padding: 30px 0;
 }
 .about-upes .about{

 }
 .about-upes .about p{
   padding-bottom: 20px;
 }
/*Feel Free*/
.feel-free{
  padding-bottom: 30px;
}

.feel-free .sub-heading h3{
  color: #05478d;
  font-size: 19px;
}
.feel-free input[type=text],.feel-free input[type=email]{
  border: 1px solid #e5e5e5;
  background: #e1e1e1;
  text-indent: 0px;
  padding: 8px 16px;
  width: 100%;
}
.feel-free textarea{
  border: 1px solid #e5e5e5;
  background: #e1e1e1;
  text-indent: 0px;
  padding: 8px 16px;
  width: 100%;
  height: 92px;
  resize: none;
}
.feel-free .submit-btn{
  border: none;
  background: #ee3e3e;
  color: #ffffff;
  padding: 8px 48px;
  transition: all .5s;
}
.feel-free .submit-btn:hover{
  background: #ffc907;
  color: #363636;
  transition: all .5s;
}
/*Blog blog-section*/
.blog-section{
  padding: 30px 0;
}
.blog-section .blog{
  position: relative;
}
.blog-section .blog img{
  width: 100%;
}
.blog-section .blog p{
  position: absolute;
  width: 70%;
  padding: 30px;
  background: #05478d;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-family: 'Montserrat-Light';
}
.view-all{
  text-align: center;
  padding-top: 30px;
}
.view-all a{
  background: #ee3e3e;
  padding: 8px 48px;
  display: inline-block;
  color: #ffffff;
  transition: all .5s;
}
.view-all a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}
/* about page banner*/
.about-banner{
  background: url(../images/about-banner.jpg)no-repeat left top;
  min-height: 380px;
  background-size: cover;
}
.banner-caption{
  padding-top:10%;
  width: 80%;
  margin: 0px auto;
}

.bnnr_cptn_style{
	padding-top:2%;
}

.banner-caption h2{
  font-size: 54px;
  color: #ffffff;
  line-height: 54px;
  margin: 0;
}
.banner-caption h3{
  font-size: 54px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
  margin: 0;
}
.banner-caption p{
  font-family: 'Montserrat-Light';
  font-size: 13px;
  color: #ffffff;
  padding-top: 10px;
}

/*Sub menu inner page*/
.msubmneu{
  display: none;
}
.inner-smenu{
  background: #05478d;
}
#stickyheader{
  width: 100%;
  z-index: 2;
  top: 61px;
}
.inner-smenu .smenu{
  margin-bottom: 0;
  display: flex;
  /*justify-content:space-between;*/
}
.inner-smenu .smenu li{
    list-style: none;
    padding: 19px 10px;
    vertical-align: top;
    min-width: 85px;
    text-align: center;
}
.inner-smenu .smenu > li > a{
  color: #ffffff;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  transition: all .5s;
  font-family: 'Montserrat-Regular';
}
.inner-smenu .smenu li:hover, .inner-smenu .smenu li.active{
   background: #ebebeb;
   transition: all .5s;
   cursor: pointer;
   color: #05478d;
}
.inner-smenu .smenu li:hover a,.inner-smenu .smenu li.active > a{
   color: #05478d;
   transition: all .5s;
}
/* submenu sub menu  */
.inner-smenu .smenu li:hover .sub-smenu{
  display: block;
  }
  .inner-smenu .smenu li:hover .sub-smenu li a{
    color: #000000;
  }
.pos-relative{
  position: relative;
}
.sub-smenu{
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  background: #ebebeb;
  left: 0;
  z-index: 2;
}

.inner-smenu .smenu li.active .sub-smenu{
	display:block;
}



.sub-smenu ul{
  display: flex;
}
.inner-smenu .smenu li .sub-smenu  ul > li{
  list-style-image: none;
  padding: 0px;
}
.sub-smenu ul li a{
  color: #05478d;
  padding: 20px 20px 18px;
  display: block;
}

.inner-smenu .smenu li .sub-smenu ul > li > a{
    color: #000;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    transition: all .5s;
    font-family: 'Montserrat-Regular';

}
/*.inner-smenu .smenu li .sub-smenu ul > li.active_sub > a{color:#05478d;}*/
.inner-smenu .smenu li .sub-smenu ul li:hover a{
color:#05478d;
}

.sub-smenu li:after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: #05478d;
  transition: width .5s;
}

.sub-smenu li.active_sub:after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #05478d;
    transition: width .5s;
}
/*.sub-smenu li:hover:after{
  width: 100%;
  transition: width .5s;
}*/
/* inner page detail */

.about-section{
  padding: 90px 0 0;
}

.mainBody_school_faculty{
  padding:150px 0 22px;
}


.about-col{
  position: relative;
  margin-bottom: 30px;
}
.about-col img{
  width: 100%;
}
.about-col .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  background: rgba(0,0,0,0.5);
  transition: all ease .5s;
  padding: 15px;
}
.about-col .overlay:hover{
  background: rgba(255, 201, 7, 0.5);
}
.about-col .overlay .caption{
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
}
.about-col .overlay .caption h3{
  color: #ffffff;
  font-size: 28px;
  font-family: 'Montserrat-Light';
}
.about-col .overlay .caption a{
  color: #ffffff;
  font-size: 15px;
  display: block;
  font-family: 'Montserrat-Light';
  transition: all .5s;
  text-transform: uppercase;
  padding-top: 15px;
}
.about-col .overlay .caption a:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #fcc707;
}
/* annual report */
.annual-report{
  padding-left: 48px;
  padding-right: 30px;
}
.annual-report h3{
  font-size: 17px;
  padding-bottom: 15px;
}
.annual-report h3 span{
  font-family: 'Montserrat-Light';
}
.annual-report .owl-carousel .owl-item img{
    max-width: 100%;
    width: 100%;
}

.annual-report .owl-nav{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
}
.annual-report .owl-nav .owl-next{
  text-indent: -9999px;
  position: relative;
  padding: 5px;
  font-size: 16px;
}
.annual-report .owl-nav .owl-next:before{
   content: "\f054";
   font-family: FontAwesome;
   position:absolute;
   top:30px;
   text-indent: 0px;
   right: 0px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
.annual-report .owl-nav .owl-next:hover:before,.annual-report .owl-nav .owl-prev:hover:before{
  background: #ffc907;
}
.annual-report .owl-nav .owl-prev{
  text-indent: -9999px;
  position: relative;
}
.annual-report .owl-nav .owl-prev:before{
   content: "\f053";
   font-family: FontAwesome;
   position:absolute;
   top:30px;
   text-indent: 0px;
   left: -60px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}

.download-report{
  margin-top: -5px;
}
.download-report h2{
  font-size: 28px;
  padding-bottom: 15px
}
.download-report a{
  background: #ef3f3f;
  padding: 11px 32px;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  transition: all .5s;
}
.download-report a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}
.environmental{
  margin-top:30px;
  border-top: 2px solid #b2b2b2;
  padding-top: 30px;
}
.environmental p{
  font-size: 12px;
  font-family: 'Montserrat-Light';
  padding-bottom: 10px;
}
.environmental ul li{
  list-style: none;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat-Light';
  font-size: 14px;
}
.environmental ul li:last-child{
  border-bottom: none;
}
.environmental ul li span{
  font-family: 'Montserrat-SemiBold';
}
.environmental ul li img{
  padding-right: 30px;
}
.environmental ul li.es span{
  color: #dd7936;
}
.environmental ul li.wc span{
  color: #3bb0f3;
}
.environmental ul li.rp span{
  color: #87c95a;
}
.environmental .know-more a{
  background: #ef3f3f;
  padding: 11px 32px;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  transition: all;
}
.environmental .know-more a:hover{
  transition: all .5s;
  background: #ffc907;
  color: #363636;
}

/* Awards & Accolades */
.award-accolades{
  padding-top: 30px;
  padding-bottom: 30px;
}
.award-accolades .awards{
  display: flex;
  background: #05488d;
}
.award-accolades .awards figure{
  width: 50%;
}
.award-accolades .awards .adetails{
  width: 50%;
  padding: 15px;
}
.award-accolades .awards .adetails h3{
  font-family: 'Montserrat-Light';
  font-size: 21px;
  line-height: 28px;
  padding-bottom: 5px;
  color: #ffffff;
}
.award-accolades .awards .adetails p{
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #ffffff;
}
.award-accolades  .owl-carousel .owl-nav.disabled{
  display: flex;
}
.award-accolades .owl-nav{
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.award-accolades .owl-nav .owl-next{
  text-indent: -9999px;
  position: relative;
  padding: 5px;
  font-size: 16px;
}
.award-accolades .owl-nav .owl-next:before{
   content: "\f054";
   font-family: FontAwesome;
   position:absolute;
   top:15px;
   text-indent: 0px;
   right: -30px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
.award-accolades .owl-nav .owl-next:hover:before,.award-accolades .owl-nav .owl-prev:hover:before{
  background: #ffc907;
}
.award-accolades .owl-nav .owl-prev{
  text-indent: -9999px;
  position: relative;
}
.award-accolades .owl-nav .owl-prev:before{
   content: "\f053";
   font-family: FontAwesome;
   position:absolute;
   top:15px;
   text-indent: 0px;
   left: -30px;
   background: #ffefb4;
   height: 30px;
   width: 30px;
   text-align: center;
   line-height: 30px;
}
/*Let’s Connect*/
.lets-connect{

}
.soical-tab li{
  padding: 8px 16px;
}
.soical-tab li.active{
  background: #ebebeb;
}
.soical-tab li a{
  width: 115px;
  height: 36px;
  display: block;
  padding: 0;
}
.soical-tab li.facebook a{
  background: url(../images/icon-fbg.png) no-repeat center top;
}
.soical-tab li.twitter a{
  background: url(../images/icon-twg.png) no-repeat center top;
}
.soical-tab li.linkedin a{
  background: url(../images/icon-ing.png) no-repeat center top;
}
.soical-tab li.youtube a{
  background: url(../images/icon-ytg.png) no-repeat center top;
}
.soical-tab li.active.facebook a, .soical-tab li.facebook:hover a{
  background: url(../images/icon-fb.png) no-repeat center top;
}
.soical-tab li.active.twitter a,.soical-tab li.twitter:hover a{
  background: url(../images/icon-tw.png) no-repeat center top;
}
.soical-tab li.active.linkedin a,.soical-tab li.linkedin:hover a{
  background: url(../images/icon-in.png) no-repeat center top;
}
.soical-tab li.active.youtube a,.soical-tab li.youtube:hover a{
  background: url(../images/icon-yt.png) no-repeat center top;
}
.tab-social-content{
  background: #ebebeb;
  padding: 30px;
}
.usful-section{
  padding: 30px 0;
}
.usful-section .black-box{
  background: #333333;
  padding: 25px;
  text-align: center;
  transition: all .7s;
}
.usful-section .black-box:hover{
  background: rgba(239, 63, 63, 1);
  transition: all .7s;
}
.usful-section .black-box h3{
  font-size: 25px;
  font-family: 'Montserrat-Light';
  color: #ffc907;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.usful-section .black-box p{
  font-size: 13px;
  font-family: 'Montserrat-Light';
  color: #ffffff;
}

/* footer */
footer{
    background: #555555;
    padding: 30px 0;
    border-top: 4px solid #ee3e3e;
}
footer .foot-link{
  padding-bottom: 15px;
}
footer .foot-link h3{
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
}
footer .foot-link ul li{
  list-style: none;
}
footer .foot-link ul li a{
  color: #fff;
  font-size: 10px;
  transition: all .5s;
}
footer .foot-link ul li a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .social{

}
footer .social ul li{
  list-style: none;
  display: inline-block;
}
footer .social ul li+li{
  margin-left: 15px;
}
footer .social ul li a{
  display: block;
  background: #636363;
  height: 33px;
  width: 33px;
  line-height: 33px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  transition: all ease .6s;
}

footer .social ul li a.lin{
  background: #4f899c;
  transition: all ease .6s;
}
footer .social ul li a.ytube{
  background: #fe0000;
  transition: all ease .6s;
}
footer .social ul li a.fb{
  background: #3b5999;
  transition: all ease .6s;
}
footer .social ul li a.tw{
  background: #01bbf6;
  transition: all ease .6s;
}

footer .address{
  font-size: 13px;
  position: relative;
  padding-left: 15px;
  color: #636363;
}

footer .address p{color: #fff;}

footer .address .map:before{
  content: "\f041";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:-5px;
  font-size: 30px;
  color:#808080;
}
footer .address .call a{
      color: #fff;
  display: block;
  transition: all .5s;
}
footer .address .call a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .address .call:before{
  content: "\f095";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:-5px;
  font-size: 24px;
  color:#808080;

}
footer .social .email{
  position: relative;
  padding-left: 15px;
}

footer .social .email:before{
  content: "\f0e0";
  font-family: FontAwesome;
  left:-10px;
  position:absolute;
  top:0px;
  font-size: 15px;
 color:#808080;
}
footer .social .email a{

      color: #fff;
  transition: all .5s;
}
footer .social .email a:hover{
  color: #ee3e3e;
  transition: all .5s;
}
footer .copyright p{
 color: #fff;
  font-size: 10px;
  margin-bottom: 0;
}
.chat-withus{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 38px;
  width: 220px;
  background: #ffc907;
  z-index: 5;
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.11);
}
.chat-withus a{
  font-size: 15px;
  line-height: 38px;
  text-align: center;
  display: block;
  color: #252525;
}
.chat-withus a span{
  font-family: 'Montserrat-Light';
}
.fixed-social{
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -110px;
  z-index: 2;
}
.fixed-social ul li{
  list-style: none;
  margin-bottom: 3px;
  padding: 8px;
  background: #e6e6e6;
}
.fixed-social ul li a{
  display: block;
  background: red;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
}
.fixed-social ul li a.lin{
  background: #4f899c;
  transition: all ease .6s;
}
.fixed-social ul li a.ytube{
  background: #fe0000;
  transition: all ease .6s;
}
.fixed-social ul li a.fb{
  background: #3b5999;
  transition: all ease .6s;
}
.fixed-social ul li a.tw{
  background: #01bbf6;
  transition: all ease .6s;
}
/* messages pages */
.messages ul {
  margin-bottom: 0;
}
.messages ul li{
  list-style: none;
}
.messages ul li a{
  display: block;
}
.messages ul li a figure{
  position: relative;
}
.messages ul li a figure span.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  transition: all .5s;
}
.messages ul li.active a figure span.overlay{
  background: rgba(0,0,0,0);
  transition: all .5s;
}
.messages ul li a h4{
  padding: 25px 15px;
  font-size: 20px;
  color: #000000;
}
.messages ul li a span.read{
  padding: 0px 15px 20px;
  color: #005b7f;
  display: block;
}
.messages ul li a span.read:after{
    content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    padding-left: 10px;
}
.messages ul li.active a span.read:after{
    content: "\f106";
    font-family: FontAwesome;
    font-size: 18px;
    padding-left: 10px;
}
.messages ul li.active a{
  background: #f5f5f5;
}
.messages .tab-content .message{
  padding: 50px 25px;;
}
.messages .tab-content .message.active{
  background: #f5f5f5;
}
.messages .tab-content .message p {
  font-size: 16px;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Montserrat-Light';
}
.messages .tab-content .message h4{
  font-size: 22px;
  padding-bottom: 10px;
}
.messages .tab-content .message p strong,.messages .tab-content .message p:first-child{
  font-family: 'Montserrat-Regular';
}
.messages .tab-content .message p:last-child{
  padding-bottom: 0;
}
.messages .tab-content .message p span{
  color: #05478d;
  font-size: 13px;
}
/* Academic Collaboration */
.academic{
  font-family: 'Montserrat-Light';
}
.academic h4{
  font-size: 22px;
  font-family: 'Montserrat-Light';
}
.academic p a.know-more{
  color: #05478d;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  padding-bottom: 15px;
  display: inline-block;
}
.academic p a.know-more:before{
  content: "\f105";
  padding-right: 7px;
  font-family: FontAwesome;
  font-size: 16px;
  padding-left: 10px;
  transition: all .3s;
}
.academic p a.know-more:hover:before{
  margin-left: 7px;
  padding-right: 2px;
  transition: all .3s;
}
.academic .activities {
  padding: 30px 0
}
.academic .activities h3{
  font-size: 22px;
  font-family: 'Montserrat-Light';
  color: #05478d;
}
.academic .activities ul{
  padding-top: 30px;
  margin-bottom: 0;
}
.academic .activities ul li{
  list-style: none;
}
.academic .activities ul li:before{
  content: "-";
  padding-right: 6px;
  font-size: 18px;
}
.academic .activities .border-left{
  border-right: 1px solid #ccc;
}
.academic .panel-group .panel{
  border-radius: 0;
  border: 0;
  border-top: 2px solid #e0e0e0;
  box-shadow: initial;
  padding-bottom: 15px;
}
.academic .panel-default>.panel-heading+.panel-collapse>.panel-body{
  border: 0;
}
.academic .panel-default>.panel-heading{
  background: none;
  border: none;
  padding: 0 15px 15px 0;
}
.academic .panel-default>.panel-heading span{
  display: inline-block;
  padding: 10px;
}
.academic .panel-default>.panel-heading img{
  vertical-align: top;
}
.academic .panel-default>.panel-heading a{
  display: block;
  position: relative;
}
.academic .panel-default>.panel-heading a:after{
  content: "\f068";
  padding-right: 7px;
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 15px;
}
.academic .panel-default>.panel-heading a.collapsed:after{
  content: "\f067";
}
.academic table tr td,.academic table tr th{
  padding: 8px 60px 16px 25px;
  border-left: 2px solid #e0e0e0;
}
.academic table tr td:first-child,.academic table tr th:first-child{
  border-left: 0;
}
.academic table tr th{
  font-family: 'Montserrat-Regular';
  padding-bottom: 30px;
}
.academic  .collapse table tr td a{
  color: #ee3e3e;
}

/* SCHOOLs page css */
.school-bg{
  background-image: url(../images/school-bg-new.jpg);
}
.wcfaculty{
  display: flex;
}
.wcfd{
  width: 35%;
  background: #ffc907;
  padding: 30px;
}
.wcfd h3{
  padding-top: 35%;
  font-size: 42px;
}
.wcfd p a.explore{
  color: #000000;
  font-family: 'Montserrat-Regular';
  display: inline-block;
  padding-top: 10px;
}
.wcfd p a.explore:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #000000;
}
.wcfd h3 span{
  font-family: 'Montserrat-Light';
}
.wcfimg{
  width: 65%;
}
.wcfimg img{
  width: 100%;
}
.program-offered .programs-explore ul{
  display: flex;
}
.program-offered .programs-explore ul li{
  position: relative;
  list-style: none;
  width: 20%;
  margin: 0 .5%;
}
.program-offered .programs-explore ul li:first-child{
  margin-left: 0;
}
.program-offered .programs-explore ul li:last-child{
  margin-right: 0;
}
.program-offered .programs-explore ul li img{
  width: 100%;
}
.program-offered .programs-explore ul li .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  transition: all ease .9s;
}
.program-offered .programs-explore ul li:hover .overlay{
  background: rgba(0,0,0,0.8);
}
.program-offered .programs-explore ul li .overlay p{
  padding: 15px;
  font-size: 24px;
}
.program-offered .programs-explore ul li .overlay p span{
  font-family: 'Montserrat-Light';
}

.program-offered .programs-explore ul li .overlay a.explore{
  color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: 25px;
  display: inline-block;
  font-size: 11px;
  font-family: 'Montserrat-Light';
}
.program-offered .programs-explore ul li .overlay a.explore:after{
  content: "\f061";
  font-family: FontAwesome;
  padding-left: 15px;
  font-weight: 100;
  color: #ffc907;
  font-size: 15px;
}
/*school Faculty page css*/
.schools-faculty.academic .panel-default>.panel-heading{
  padding: 15px 15px 15px 0;
}
.schools-faculty.academic .panel-default>.panel-heading a{
  font-size: 22px;
  font-family: 'Montserrat-SemiBold';
}
.schools-faculty.academic .panel-default>.panel-heading a:after{
  top: 7px;
}
.schools-faculty .facultys h4{
  font-size: 19px;
  padding-bottom: 25px;
  color: #05478d;
  font-family: 'Montserrat-SemiBold';
}
.schools-faculty .facultys p a{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #05478d;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.schools-faculty .facultys {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.schools-faculty .facultys:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.schools-faculty .facultys p a:before{
  content: "\f054";
  font-family: FontAwesome;
  padding-right: 5px;
  font-weight: 100;
  font-size: 12px;
  color: #000000;
      -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.schools-faculty .facultys p a:hover, .schools-faculty .facultys p a:hover:before{
color: #ee3e3e;
}
/* Why upes page css */
.life-upes{
  background: #ececec;
  margin: 30px 0;
}
.precords img{
  width: 100%;
}
.precords .heading{
  padding-top: 30px;
}
.ex-btn{
  padding-top: 30px;
}
.explore-btn{
  padding: 8px 32px;
  border: 1px solid #ee3e3e;
  color: #ffff;
  display: inline-block;
  transition: all .7s;
  background: #ee3e3e;
}
.explore-btn:hover{
  border: 1px solid #ffc907;
  background: #ffc907;
  color: #252525;
  transition: all .7s;
}
.trends{
  background: #e2e2e2;
  padding: 48px;
}
.trends ul{
  margin-top: 25px;
  margin-bottom: 0;
}
.trends ul li{
  list-style: none;
  padding-bottom: 5px;
}
.trends ul li .placed{
  width: 18px;
  height: 18px;
  background: #05478d;
  margin: 2px 10px 0 0;
  display: inline-block;
  vertical-align: top;
}
.trends ul li .eligible{
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background: #ffc907;
  margin: 2px 10px 0 0;
}
.wc-faculty img{
  width: 100%;
}
.wc-faculty p{
  line-height: 24px;
  font-family: 'Montserrat-Light';
}
.wc-faculty .sub-heading{
  padding: 36px 0;
}
.lifeatupes p span{
  font-size: 22px;
  font-family: 'Montserrat-Medium';
}
.lifeatupes p span.red{
  color: #ee3e3e;
}
.lifeatupes p span.blue{
  color: #05478d;
}
.lifeatupes p span.yellow{
  color: #ffc907;
}

.co-section h4{
  font-size: 20px;
  color: #05478d;
  padding-bottom: 30px;
  font-family: 'Montserrat-Light';
}
.co-section .co-box{
  background: #05478d;
  padding: 15px;
  min-height: 170px;
}
.co-section .co-box h5{
  font-size: 19px;
  color: #ffc907;
}
.co-section .co-box p{
  color: #ffffff;
  font-size: 19px;
  font-family: 'Montserrat-Light';
}
.p-brand{
  padding: 30px 0;
}
.p-brand h3{
  color: #05478d;
  padding-bottom: 10px;
}
.p-brand figure img{
  max-width: 100px;
}
.p-brand ol {
  column-count: 2;
  padding-top: 30px
}
.p-brand ol li{
  margin-left: 15px;
  padding-bottom: 5px;
}
.know-more a {
    background: #ef3f3f;
    padding: 11px 32px;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    transition: all;
}
.know-more a:hover {
    background: #ffc907;
    color: #252525;
    transition: all .7s;
}
.int-news {
  padding: 50px 0 30px;
}

.int-news .news-sec ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}
.int-news .news-sec ul li:first-child{
  padding-left: 0;
}
.int-news .news-sec ul li+li:after{
  content: "";
  position: absolute;
  left: -1px;
  height: 30px;
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: 0;
  margin: auto;
}
.int-news .news-sec ul li a{
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.int-news .news-sec ul li.active a{
  color: #000000;
  font-size: 32px;
  position: relative;
  display: block;
}
.int-news .news-sec ul li.active a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  height: 5px;
  width: 36px;
  background: #05478d;
  left: 0;
}
.int-news  p a.know-more{
  color: #05478d;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  display: inline-block;
}
.int-news  p a.know-more:before{
  content: "\f105";
  padding-right: 7px;
  font-family: FontAwesome;
  font-size: 16px;
  padding-left: 10px;
  transition: all .3s;
}
.int-news  p a.know-more:hover:before{
  margin-left: 7px;
  padding-right: 2px;
  transition: all .3s;
}
.p-note p span{
  color: #05478d;
}

.leadership{
  font-family: 'Montserrat-Light';
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 48px;
  margin-bottom: 30px;
}
.leadership h3{
  color: #05478d;
  font-size: 25px;
  padding: 30px 0 40px;
}
.leadership .leader{
  max-width: 270px;
  border-bottom: 2px solid #2e2e2e;
}
.leadership .leader h4{
  min-height: 40px;
}
.leadership .leader figure{
  padding: 15px 0;
}
.leadership .leader h5{
  font-size: 15px;
  padding-bottom: 15px;
}
.leadership .leader p{
  font-size: 11px;
}
.members{

}
.members .member{
  max-width: 270px;
  border-bottom: 2px solid #2e2e2e;
  margin: 30px 0;
}
.members .member h5{
  font-size: 15px;
}
.members .member h6{
  font-size: 12px;
}
.members .member p{
  font-size: 10px;
}

.who-we-are{
  font-family: 'Montserrat-Light';
}
.who-we-are p{
  padding-right: 10%;
}
.who-we-are h5{
  padding-right: 15%;
  font-size: 22px;
  color: #05478d;
  line-height: 28px;
  font-family: 'Montserrat-Light';
}
.program-offered .programs-explore ul li.item{
  width: 100%;
}
.program-offered .programs-explore ul.owl-carousel{
  display: block;
}
.program-offered .programs-explore .owl-carousel .owl-nav{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.program-offered .programs-explore .owl-nav .owl-prev,.program-offered .programs-explore .owl-nav .owl-next{
  position: relative;
  text-indent: -99999px;
  padding: 0 2px;
}
.program-offered .programs-explore .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.program-offered .programs-explore .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.program-offered .programs-explore .owl-nav .owl-next:hover:before,  .program-offered .programs-explore .owl-nav .owl-prev:hover:before {
    background: #ffc907;
}

.key-facts{
  padding: 30px 0;
}
.key-facts .facts{
  background: #05478d;
  padding: 30px;
  min-height: 150px;
}
.key-facts .facts p{
  color: #ffffff;
  font-family: 'Montserrat-Light';
  line-height: 20px;
}
.key-facts .owl-carousel .owl-nav, .key-facts .owl-carousel .owl-nav.disabled{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.key-facts .owl-nav .owl-prev,.key-facts .owl-nav .owl-next{
  position: relative;
  text-indent: -99999px;
  padding: 0 2px;
}
.key-facts .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.key-facts .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.key-facts .owl-nav .owl-next:hover:before, .key-facts  .owl-nav .owl-prev:hover:before {
    background: #ffc907;
}
.sets-up-apart {
  padding: 30px 0;
}
.sets-up-apart .aparts{
  display: flex;

}
.sets-up-apart .aparts .apart{
  width: 25%;
  margin: 15px 0;
  position: relative;
}
.sets-up-apart .aparts .apart+.apart:before{
  content: "";
  height: 90px;
  width: 1px;
  position: absolute;
  left: -13%;
  background: #b2b2b2;
}
.sets-up-apart .aparts .apart h4{
  font-size: 15px;
  color: #05478d;
  padding-bottom: 15px;
}
.sets-up-apart .aparts .apart ul{
  padding-right: 20%;
}
.sets-up-apart .aparts .apart ul li{
  list-style: none;
  font-family: 'Montserrat-Light';
  font-size: 13px;
  padding-bottom: 5px;
  position: relative;
  padding-left: 15px;
}
.sets-up-apart .aparts .apart ul li:before{
  content: "-";
  padding-right: 10px;
  position: absolute;
  left: 0;
}
.useful-links ul{
  display: flex;
}
.useful-links ul li{
  list-style: none;
  width: 25%;
  margin: 0 2px;
}
.useful-links ul li a{
  padding: 24px 15px 45px;
  color: #000000;
  font-size: 22px;
  display: block;
  background: #ffc907;
  position: relative;
  transition: all .5s;
}
.useful-links ul li a:hover{
  background: #ef3e3e;
  transition: all .5s;
}
.useful-links ul li a:after{
  content: "\f105";
    font-family: FontAwesome;
    right: 15px;
    position:absolute;
    bottom: 10px;
}
.placement-campus{
  padding: 30px 0 60px;
}
.twoBox .twoBox_inner .innr_cntn h3{
  font-size: 26px;
  color: #ffffff;
  padding-bottom: 30px;
  line-height: 32px;
}
.twoBox .twoBox_inner .innr_cntn h3 span{
  font-family: 'Montserrat-Light';
  display: block;
}
.sum-intrn{
  padding: 30px 0;
}
.sum-intrn .internship figure{
  float: right;
  width: 50%;
  padding-left: 15px;
}
.sum-intrn .internship figure img{
  width: 100%;
}
.sum-intrn .internship .summer{
  float: left;
  width: 50%;
  padding-right: 20%;
  font-family: 'Montserrat-Light';
  font-size: 16px;
}
.ind-tours{
  margin: 30px 0;
}
.ind-tours .industry{
  background: #e2e2e2;
}
.ind-tours .industry figure{
  float: left;
  width: 50%;
}
.ind-tours .industry figure img{
  width: 100%;
}
.ind-tours .industry .tours{
  float: left;
  width: 50%;
  padding: 30px;
  font-family: 'Montserrat-Light';
}
.pocs-banner{
  background-image: url(../images/banner-pocs.jpg);
}
.board-activity{
  padding: 48px 0 30px;
}
.board-activity p{
  font-family: 'Montserrat-Light';
  padding: 30px 0 0;
  font-size: 16px;
}
.board-activity p a{
  color: #05478d;
  font-family: 'Montserrat-Regular';
}
.board-activity .actvities{
  display: flex;

}
.board-activity .actvities .actvity{
  width: 20%;
}
.board-activity .actvities .actvity+.actvity{
  border-left: 1px solid #cccccc;
  padding-left: 15px;
}
.board-activity .actvities .actvity ul{
  margin: 0;
}
.board-activity .actvities .actvity ul li{
  list-style: none;
  color: #252525;
  font-family: 'Montserrat-Light';
  font-size: 20px;
}
.officials-sce{
  padding: 30px 0;
  font-family: 'Montserrat-Light';
}
.office-address{
  border-bottom: 2px solid #cccccc;
  margin-bottom: 30px;
}
.office-address h4{
  font-size: 17px;
  color: #05478d;
  font-family: 'Montserrat-Light';
  padding-bottom: 10px;
}
.office-address .designation{
  border-top: 2px solid #cccccc;
  padding: 10px 0;
}
.office-address p {
  margin-bottom: 0;
}
.office-address p strong{
  font-family: 'Montserrat-Regular';
}
.office-address p a{
  display: block;
  text-align: right;
  color: #ee3e3e;
}
.regular-recruiters.p-rescords{
  background: #e5e5e5;
  margin-bottom: 48px;
}
.summer-inteacrodian{
  padding: 30px 0;
}
.internship figure{
  padding: 30px 0;
}
.academic.internship .panel-group .panel{
  padding-bottom: 0;
}
.internship figure img{
  width: 100%;
}
.academic.internship .panel-default>.panel-heading+.panel-collapse>.panel-body{
  padding: 0;
}
.academic.internship .panel-group .panel{
  border-top: 0;
}
.academic.internship  .panel-default>.panel-heading{
  border-bottom: 2px solid #000000;
}

/*Programs page css*/
.programs-banner{
  background-image: url(../images/programs-banner.jpg);
}
.distance-education{
  padding: 30px 0;
  font-family: 'Montserrat-Light';
}
.distance-education .distance{
  background: #e2e2e2;
  padding: 30px;
}
.distance-education .distance p{
  padding-right: 10%;
  padding-bottom: 30px;
}
/* programs-school-wise */
.academic .course-programs .panel-default>.panel-heading a{
  color: #05478d;
  font-size: 21px;
}
.academic .course-programs .panel-default>.panel-heading span{
  padding: 5px 16px;
  display: inline-block;
  background: #1999d6;
  color: #ffffff;
  margin-right: 15px;
}
.academic .course-programs .panel-default>.panel-heading span.green{
  background: #00aa52;
}
.academic .course-programs .panel-default>.panel-heading span.yellow{
  background: #f89d28;
}
.academic .course-programs .panel-default>.panel-heading span.blue{
  background: #025189;
}
.academic .course-programs .panel-default>.panel-heading span.red{
  background: #e32525;
}
.courses-tab{
  padding-top: 30px;
}
.sticky_div{
  width: 100%;
  left: 0px;
  background: #ffffff;
  z-index: 9;
}

.courses-tab .course-btn li{
  list-style: none;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.courses-tab .course-btn li a{
  display: block;
  padding: 15px 0;
  font-size: 19px;
  font-family: 'Montserrat-Regular';
  color: #090909;
  border: 2px solid #090909;
  transition: all .5s;
}
.courses-tab .course-btn li a:hover{
  background: #ffc907;
  border: 2px solid #ffc907;
  transition: all .5s;
}
.courses-tab .course-btn li a.active{
  background: #ffc907;
  border: 2px solid #ffc907;
}
.courses-tab .course ul {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 100px;
 -moz-column-gap: 100px;
 column-gap: 100px;
 padding-top: 15px;
}
.courses-tab .course ul li{
  list-style: none;
  position: relative;
  padding-left: 15px;
  padding-bottom: 32px;
  font-family: 'Montserrat-Regular';
}
.courses-tab .course ul li:before{
  content: "";
  background: url(../images/r-arrow.png) no-repeat left 7px;
  width: 9px;
  height: 17px;
  left: 0px;
  position:absolute;
  top:0;
}
.courses-tab .course ul li p{
  font-family: 'Montserrat-Light';
  margin-bottom: 0;
  padding-top: 10px;
}
/* Programs Courese mastre page css  */
.aerospace{
  border-right: 1px solid #ccc;
  padding-right: 15%;
}
.aerospace h3{
  padding-bottom: 15px;
  font-size: 26px;
}
.duration{
  padding-top: 15px;
}
.duration figure{
  text-align: right;
}
.duration h4{
  color: #05478d;
  font-size: 19px;
  padding-bottom: 20px;
}
.duration h4 span{
  color: #252525;
  font-family: 'Montserrat-Light';
}
.eligibility-sec{
  padding: 30px 0;
}
.eligibility-sec .eligible{
  padding-bottom: 15px;
  padding-left: 10px
}
.eligibility-sec .eligible ul li{
  list-style: none;
  padding-bottom: 5px;
}
.eligibility-sec .eligible ul li:before{
  content: "-"

}
.eligibility-sec .eligible h4{
  font-size: 16px;
  color: #252525;
  padding-bottom: 15px;
}
.cprospects{
  padding: 0 0 0px ;
}
.cprospects .cprospects-row{
  display: flex;
}
.cprospects .prospects{
  border: 1px solid #cccccc;
  width: 25%;
  padding: 48px 30px;
}
.cprospects .prospects h3{
  font-size: 33px;
}
.cprospects .aircraft{
  background: #507eaf;
  width: 75%;
}
.cprospects .aircraft ul{
  padding: 25px;
  margin-bottom: 0;
}
.cprospects .aircraft ul li{
  color: #ffffff;
  list-style: none;
  font-size: 16px;
  padding-bottom: 5px;
}
.cprospects .aircraft ul li:before{
  content: "-";
  padding-right: 5px;
}
.intake{
color: #05478d;
font-size: 19px;
padding: 30px 0;
}
.intake span{
  color: #000000;
  font-family: 'Montserrat-Light';
}
.curriculum{
  padding: 30px 0;
}
.cmaster-tab.courses-tab .course-btn li{
  width: 24.5%;
}
.curriculum .semester table{
  width: 100%;
}
.curriculum .semester table th {
  background: #fff9e4;
  padding: 15px 30px;
  border: 1px solid #f0ede1;
  border-bottom: none;
  font-family: 'Montserrat-Regular';
  font-size: 17px;
}
.curriculum .semester table td {
  padding: 15px 30px;
  border: 1px solid #f0ede1;
  border-top: none;
  font-size: 17px;
  vertical-align: top;
}
.curriculum .semester table td p{
  font-family: 'Montserrat-Regular';
  font-size: 17px;
}
.curriculum .semester table td ul li{
  list-style: none;
  width: 100%;
  padding-bottom: 5px;
}
.curriculum .semester table td ul li:before{
  content: "-";
  padding-right: 5px;
}
.curriculum .semester .recruiters_align{
  padding: 30px 0;
}
.test-dates{
  padding: 30px 0 0;
}
.test-dates h4{
  font-size: 19px;
  font-family: 'Montserrat-Regular';
  padding-bottom: 30px;
}
.test-dates .scheme_tests h4{
  margin-bottom: 0;
}
.test-dates h5{
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  color: #05478d;
}
.test-dates table{
  width: 100%;
  border: 1px solid #eaeaea;
}
.test-dates table tr th{
  background: #05478d;
  padding: 10px 32px;
  border: 1px solid #eaeaea;
  color: #ffffff;
  font-family: 'Montserrat-Light';
  width: 25%;
}
.test-dates table tr td{
  padding: 16px 32px;
  border: 1px solid #eaeaea;
  width: 25%;
}
.test-dates .last-date{
  color: #ee3e3e;
  font-size: 13px;
  padding: 15px 0;
}
.admit-card{
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  padding: 30px 0 0;
  margin-bottom: 30px;
}
.admit-card p{
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.fee-structure{
  margin-bottom: 15px;
  margin-top: 30px;

  border-bottom: 2px solid #000000;
  padding: 0px 0 15px;
}
.fee-structure h4{
  font-size: 19px;
  color: #05478d;
}
.fee-structure h5{
  font-size: 16px;
  color: #05478d;
  padding-bottom: 15px;
  padding-top: 48px;
}
.curriculum  .fee-structure table{
  max-width: 675px;
  width: 100%;
}
.curriculum .fee-structure table tr th{
  background: none;
  font-size: 16px;
  color: #252525;
  border: 1px solid #e1e1e1;
  text-align: center;
}
.curriculum .fee-structure table tr th:last-child,.curriculum .fee-structure table tr td:last-child{
  background: #e1e1e1;
}
.curriculum .fee-structure table tr td{
  border: 1px solid #e1e1e1;
  text-align: center;
}
.testimonials{
  padding: 30px 0;
}
.testimonials .owl-carousel .owl-nav, .testimonials .owl-carousel .owl-nav.disabled{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.testimonials .owl-nav .owl-prev,.testimonials .owl-nav .owl-next{
  position: relative;
  text-indent: -99999px;
  padding: 0 2px;
}
.testimonials .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.testimonials .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.testimonials h4{
  color: #05478d;
  font-size: 17px;
  padding-bottom: 30px;
}
.testimonials .owl-nav .owl-next:hover:before, .testimonials  .owl-nav .owl-prev:hover:before {
    background: #ffc907;
}
.testimonials .boxGry_wpr .boxGry_inner p{
  font-size: 13px;
}
.testimonials .boxGry_wpr .boxGry_inner p span{
  font-family: 'Montserrat-Regular';
  font-size: 16px;
}
.testimonials  .boxGry_wpr{
  margin-bottom: 0;
  height: auto;
  background-image: none;
}


/*advantage upes*/
.adv-upes{
  padding: 30px 0;
}
.adv-upes .advantage{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  column-gap: 150px;
  padding-top: 30px;
}
.adv-upes .advantage li{
  list-style: none;
  position: relative;
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 25px;
}
.adv-upes .advantage li span{
  color: #05478d;
  font-family: 'Montserrat-Regular';
}
.adv-upes .advantage li:before{
  content: "\f054";
  font-family: FontAwesome;
  left:0px;
  font-size: 14px;
  position:absolute;
  top:2px;
  color: #05478d;
}
.industry-aligned{
  padding-bottom: 30px;
}
.industry-aligned .iaprogram figure{
  padding-bottom: 30px;
}
.industry-aligned .iaprogram img{
  width: 100%;
}
.industry-aligned .iaprogram p{
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 30px;
}
.industry-aligned .iaprogram p span{
  font-family: 'Montserrat-Regular';
}
.industry-aligned .iaprogram  h4{
  font-family: 'Montserrat-Light';
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}
.industry-aligned .iaprogram  h4 span{
  font-family: 'Montserrat-Regular';
}


/*Gallery*/
.gallery-sec{
  padding: 50px 0 0;
}
.gallery-sec h2{
  font-size: 36px;
  color: #05478d;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select select {
  display: inline-block;
  border: 2px solid #000;
  padding: 8px 8px 8px 8px;
  margin: 0;
  font: inherit;
  outline:none; /* remove focus ring from Webkit */
  line-height: 1.2;
  -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/* Select arrow styling */
.custom-select:after {
  content: "▼";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 0;
  font-size: 18px;
  padding: 0 7px;
  color: #000;
  pointer-events:none;

}
.no-pointer-events .custom-select:after {
  content: none;
}
.gallery-sec .albums{
  padding-top: 30px;
}
.gallery-sec .albums .album{
  margin-bottom: 30px;
}
.gallery-sec .albums .album h4{
  font-size: 17px;
  padding: 5px 0;
  color: #05478d;
  text-align: center;
}
.gallery-sec .albums .album img{
  width: 100%;
}
.owl-dots .owl-dot{
  display: inline-block;
  opacity: .8;
}
.owl-dots .owl-dot.active{
  opacity: 1;
}



.gallery-popup .owl-carousel .owl-nav, .gallery-popup .owl-carousel .owl-nav.disabled{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 40px;
}
.gallery-popup .owl-nav .owl-prev,.gallery-popup .owl-nav .owl-next{
  position: relative;
  text-indent: -99999px;
  padding: 0 2px;
}
.gallery-popup .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    left: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}
.gallery-popup .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    text-indent: 0px;
    right: -30px;
    background: #ffefb4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    text-indent: initial;
}

.gallery-popup .owl-nav .owl-next:hover:before, .gallery-popup  .owl-nav .owl-prev:hover:before {
    background: #ffc907;
}
.gallery-popup .owl-carousel.owl-drag .owl-item{
  opacity: .7;
  padding: 10px
}
.gallery-popup .owl-carousel.owl-drag .owl-item.active{
  opacity: 1;
}

/*About us accreditaions recognitions */
.national_assessment{
  padding: 30px 0;
  margin: 30px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.national_assessment h3{
  font-size: 22px;
  padding-bottom: 15px;
}
.national_assessment h4{
  font-size: 22px;
  color: #05478d;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: "Montserrat-Regular";
}
.national_assessment ul{
  margin-bottom: 0;
}
.national_assessment ul li{
  list-style: none;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  font-size: 14.5px;
}
.national_assessment ul li:before{
  content: "\f054";
  font-family: FontAwesome;
  padding-right: 10px;
  font-size: 13px;
}
.national_assessment ul li a{
  color: #000000;
}
.national_assessment ul li a span{
  color: #05478d;
  font-family: "Montserrat-Regular";
}
.internal_quality{
  padding: 30px 0;
  margin: 0px 0 30px;
  border-bottom: 1px solid #cccccc;
}
.internal_quality h3{
  font-size: 22px;
  padding-bottom: 15px;
}
.internal_quality p a{
  font-family: "Montserrat-Regular";
}
.internal_quality p a:before{
  content: "\f054";
  font-family: FontAwesome;
  padding-right: 10px;
  font-size: 13px;
}
.academic .departments .panel-default>.panel-heading a{
  color: #05478d;
  font-size: 22px;
  font-family: "Montserrat-Regular";
}
.academic .departments .panel-group .panel{
  border-top: 0;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0;
}
.panel-group .panel+.panel{
  margin-top: 0;
}
.academic .departments .panel-default>.panel-heading{
  padding: 15px 0;
}
.academic .departments .panel-default>.panel-heading span{
  padding: 0;
}
.academic .departments .panel-group .panel p{
  font-size: 14px;
  line-height: 21px;

}
.academic .departments .panel-collapse{
  padding-bottom: 30px;
}
.academic .departments .panel-group .panel ul li{
  list-style: none;
  padding-bottom: 10px;
  font-size: 14px;
}
.academic .departments .panel-group .panel ul li:before{
  content: "\f054";
  font-family: FontAwesome;
  padding-right: 10px;
  font-size: 11px;
}
.academic .departments .panel-default>.panel-heading a:after{
  top: 4px;
}
