@media only screen and (max-width:1200px){
	
.lifat_upes_left h4 {
font-size: 24px;
    margin-bottom: 18px;
}

.lifat_upes_left ul li {
font-size: 16px;}


.highlights_wrapper ul li .highlights_cnt{
	font-size: 14px;
	line-height: 20px;
}
	
}

@media only screen and (max-width:1024px){
	
.mainBody_admsn2018 {
    margin:35px 0 34px 0;
}

.admsn_wrpr .admsninner_loop .loop_left h4 {
    margin: 0px 0 10px 0;
    font-size: 20px;
}


.admsn_wrpr .admsninner_loop .loop_left p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 14px;
}

.twoBox .twoBox_inner .innr_cntn p {
    font-size: 22px;
    margin: 0 0 3px 0;
}

.twoBox .twoBox_inner .innr_cntn p span {
    margin-top: -3px;
    margin-bottom: 0px;
}

.sub-smenu ul.horz_subMenu {
    position: static;
    width: 100%;
    display: block;
    /* background: #cebdbd; */
    top: 100%;
    box-shadow: 0px 3px 20px 3px #00000014;
    background: #fff;
    padding: 4px 0 4px 0;
    display: none;
}


.highlights_wrapper h4, .express_wpapper h4, .fun_wrapper .fun_snglbck h4 {
    font-size: 18px;
    margin-bottom: 14px;
}

	
}


@media only screen and (max-width:991px){
	
.ordrLst_lastTb{
width: 100%;
}	
	
/*End admission page*/
	
.mainBody_content_visionmisioin {
    margin: 35px 0 15px 0;
}	
	
.left_vision {
    width: 100%;
    margin-bottom: 30px;

}

.left_vision_content h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

.left_vision_content p + h4 {
    margin-top: 25px;
}
	
	
.right_vision_come {
    width: 100%;
}	


.right_vision_content h4 {
     font-size: 20px;
    margin-bottom: 6px;
}

.mainBody_methdology {
    margin: 45px 0 45px 0;
}

.metho_top_contnt h4 {
    
    line-height: 28px;
    margin-bottom:15px;
    font-size: 16px;
}


.metho_btm_contnt p,.metho_top_contnt p {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 12px;
}

.metho_btm_contnt {
    width: 100%;
    margin-top: 20px;
}


.metho_btm_contnt h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.admsn_sngle label.chckBox_radio_one{
margin-right: 20px;
}


/*** start why upes ***/

.lifat_upes_top{
    margin-bottom: 25px;
}

.lifat_upes_right {
    width: 100%;
height: 280px;}

.highlights_wrapper h4, .express_wpapper h4 {
font-size: 20px;}


.highlights_wrapper ul li{
    width: 33.33%;
}

/*** End why upes ***/

	
}


@media only screen and (max-width:900px){
	
.subCribe_boxfeld{
width:450px;	
}	

}	
	
@media only screen and (max-width:768px){

.pageBody_gap {
    padding: 50px 0 50px;
}	

.admsnAplcant_login, .admsnAplcant_paymnt {
    margin-top: 50px;
    margin-bottom: 0;
}

.plcment_cmpsHrng_wpr{
	width:100%;
}


.cmpus_applctn_wrp h4 {
	font-size: 18px;
	margin-bottom: 15px;
}

.plcment_tbldtl_check table thead td{
    padding: 14px 0 14px;
}

.plcment_tbldtl_check table tbody td {
    padding: 8px 12px 8px 12px;
    font-size: 11px;
    font-family: 'Montserrat-Medium';
}

.ordrLst_lastTb {
    padding: 18px 15px 18px 15px;
    margin-bottom:28px;
}

.ordrLst_lastTb ol li{line-height: 26px;}

.chsFile_uplad{
margin-bottom: 20px;
}

.chsFile_uplad .chsImage {
    float: left;
    width: 25%;
    margin-right: 30px;
}


.chsFile_uplad .chsFile_Btn {
    float: left;
	width:calc(70% - 20px);
}

.rowWdth_admsmnlstTb{width:initial;}
.fleld_address {
    margin-bottom: 22px;
}

/*End responsive admission page*/


.plcment_cmpsHrng_wpr{width:100%;}
.cmpus_twoInput{margin-bottom: 17px;}

.newsLtter_fled{
	width: 100%;
	padding:20px 15px;
}

.newsLtter_fled p{
    margin-right: 20px;
}

.subCribe_boxfeld {
    width: 390px;
}


.twoBox{
    margin-bottom: 0;
}

	
.admsn_wrpr .admsninner_loop {
     margin-bottom: 60px;
}

/*End responsive admission 2018*/

.hiring_interest{margin-bottom:0px;}
	
.admsn_wrpr {
    margin-top: 10px;
}
	
	
.admsn_wrpr .admsninner_loop .loop_left a {

    padding: 6px 20px 7px 20px;
    font-size: 9px;
}

.mainBody_methdology {
    margin: 35px 0 35px 0;
}

.metho_top_contnt h4 {
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 16px;
}

.admsnFncl_wrpr h2 {
    font-size: 18px;
	line-height: 27px;
    margin-bottom: 14px;
}

.admsnFncl_wrpr p {
    margin-bottom: 10px;
}



.academic.admsnFncl_accr_hldr .panel2 .panel-heading {
    padding: 13px 15px 12px 0;
}
.academic.admsnFncl_accr_hldr .panel2>.panel-heading h4.panel-title a{    font-size: 16px;}
.academic.admsnFncl_accr_hldr .panel2>.panel-heading+.panel-collapse >.panelBody_schlar {
    margin-top: 5px;
}

.admsnFncl_downMove p + h4 {
    margin-top: 20px;
}

.admsnFncl_downMove h4 {
    margin-bottom: 12px;
    font-size: 18px;
}

.admsnFncl_downMove ul {
    margin-bottom: 18px;
}
	
.admsnFncl_downMove ul li {
    font-size: 13px;
    margin-bottom: 4px;
    padding: 0;
}

.tableFormat_style thead tr td {
    font-size: 13px;
}

.tableFormat_style tbody tr td {
   line-height: 21px;
    font-size: 13px;
}

.tableFormat_style tbody tr td {
    padding: 6px 16px 6px 16px;
    line-height: 26px;
}


  .nextProcess_wrpr .navCustm li span {
  font-size: 11px;}	

 .rowWdth_admsmnlogin {
 width: initial;
}

.clendar_img img.ui-datepicker-trigger{
    position: static;
    margin-top: 12px;
	}	

	
/*** Start why upes ***/	

.lifat_upes_left{
    margin-bottom: 25px;
}


.lifat_upes_right {
    height: 345px;
}

/*** End why upes ***/	
	
}

@media only screen and (max-width:700px){

.newsLtter_fled {
    display: block;
    text-align: center;
}	
	
.subCribe_boxfeld {
    width: 90%;
    margin: 0px auto;
    margin-top: 14px;
}
}


@media only screen and (max-width:680px){
	
.admsn_wrpr .admsninner_loop {
    margin-bottom: 45px;
}
	
.admsn_wrpr .admsninner_loop .loop_right {
  margin-bottom: 20px;
    width: 100%;
}
	
.admsn_wrpr .admsninner_loop .loop_left {
    width: 100%;
    float: left;
}

.tableFormat_style thead tr td:first-child {
    width: 85px;
}

.tableFormat_style thead tr td:last-child {
    width: 140px;
}

.custm_rspnTable{
    overflow-x: scroll;
}

.admsnFncl_downMove .tableFormat_style{
    width: 700px;
    margin-bottom: 0px;
}

.custm_rspnTable + p {
      margin-top: 20px;
}

.admsnFncl_downMove p a {
    margin-bottom: 18px;
}
	
}	


@media only screen and (max-width:580px){

	
.mainBody_admsn2018 {
    margin:30px 0 0px 0;
}

.admsn_wrpr .admsninner_loop {
    margin-bottom: 35px;
}
	
.twoBox .twoBox_inner {
    width: 100%;
    margin-bottom: 30px;
}
	
.twoBox .twoBox_inner:nth-child(2) {
    margin-bottom: 0;
}

	
.twoBox .twoBox_inner .innr_cntn {
    bottom: 25px;
    left: 25px;
}



	
}


@media only screen and (max-width:520px){
.chsFile_uplad .chsImage {
	float: left;
	width: 40%;
	margin-right: 30px;
}


.chsFile_uplad .chsFile_Btn {
    float: left;
    width: calc(50% - 20px);
}

.chsfile_inputStyle{
    width: 90px;
    height: 26px;
    margin-bottom: 0;
}

.chsFile_uplad .chsFile_Btn > p{
 font-size: 11px;
    margin-bottom: 6px;

}

.chsfile_inputStyle p {
    line-height: 26px;
    font-size: 10px;
}

.subCribe_boxfeld{
	width:100%;
}

}	


@media only screen and (max-width:480px){
	
.admission-banner{
	background:url(../images/admissioin-banner-1.jpg)no-repeat left top;
}

.usful-section {
    padding: 0px 0 30px;
}	
	
}

	
@media only screen and (max-width:420px){
	
.mainBody_content_visionmisioin {
    margin: 30px 0 0px 0;
}	

.admsnFncl_wrpr h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.cmpus_single{
    margin-bottom: 15px;
}

.nextProcess_wrpr .navCustm:before{top: 24px;}

.nextProcess_wrpr .navCustm li a.userICon, .nextProcess_wrpr .nav-tabs>li>a.userICon:focus, .nextProcess_wrpr .nav-tabs>li>a.userICon:hover, .nextProcess_wrpr .navCustm li a.userIConhand, .nextProcess_wrpr .nav-tabs>li>a.userIConhand:focus, .nextProcess_wrpr .nav-tabs>li>a.userIConhand:hover,.nextProcess_wrpr .navCustm li a.userIConcap, .nextProcess_wrpr .nav-tabs>li>a.userIConcap:focus, .nextProcess_wrpr .nav-tabs>li>a.userIConcap:hover,.nextProcess_wrpr .navCustm li.active a.userIConcap{
    width: 45px;
    height: 44px;
    background-size: cover;
}


.admsn_sngle label.chckBox_radio:last-child {
    margin-left: 0;
}

.cmpus_formBtn a, .cmpus_formBtn input, .chsFl_saveBtn_cmntn, .chsFl_saveBtn{
	padding: 6px 20px 6px 20px;
}

.subCribe_boxfeld {
    width: 100%;
    display: block;
}

.subCribe_boxfeld .inputFld {
    width: 100%;
    margin: 0 0 10px 0;
}

.subCribe_boxfeld .inputSbmt {
    width: 100%;
}
	
}















