.pageBody_gap{
padding:87px 0 0;
}

.pageBody_gap_inner{width: 100%;margin-top:25px;overflow: hidden;margin-bottom: 17px;}




.whyupes-banner {
    background: url(../images/whyupes-csr.jpg)no-repeat left top;
    min-height: 380px;
    background-size: cover;
}

.pageBanner_wpr{
    background: url(../images/psi-banner.jpg)no-repeat left top;
    min-height: 380px;
    background-size: cover;
}

.pageBanner_wpr .pageBanner_wpr_abs{
    width: 100%;
}
.pageBanner_wpr .pageBanner_wpr_abs img{
    width: 100%;
    margin: 0px auto;
    position: absolute;
    /* height: 380px; */
}

.whyupes-conferenceseminar{
    background: url(../images/why-upes-conference-seminar-banner.jpg)no-repeat left top;
    min-height: 380px;
    background-size: cover;
}


.whyupes_lifeatupes{
    background: url(../images/whyupes-life-at-upes-image.jpg)no-repeat left top;
    min-height: 380px;
    background-size: cover;
}


.admission-criteria-banner{
	background: url(../images/admission-criteria-banner.jpg)no-repeat left top;
	min-height: 380px;
	background-size: cover;	
}


.admission-banner{
	background: url(../images/admissioin-banner-1.jpg)no-repeat left top;
	min-height: 380px;
	background-size: cover;
}

.whyUpes_sldr_banner{
margin-bottom:0;
padding-bottom:0;
	
}

.whyupes-conferenceseminar .container{ width: 95%}
.bnnr_whyupes_seminar {
    padding: 5% 0 0 0;
    width: 87%;
    margin: 0px auto;
    margin-bottom: 17px;
}

.bnnr_whyupes_seminar_bottom {
    padding: 0;
    width: 100%;
    margin: 0px auto;
}

.bnnr_whyupes_seminar h2 {
    font-size: 50px;
    color: #ffffff;
    line-height: 54px;
    margin: 0;
    margin-bottom: 26px;
}


.dtl_in_bnnr{ width: 52%;}
.dtl_in_bnnr_bttom{
	width:60%;
}
.dtl_in_bnnr tr{}
.dtl_in_bnnr tr td.numeRic_text{
    font-size: 60px;
    color: #fff;
    font-family: 'Montserrat-Light';
}
.dtl_in_bnnr tr td.content_txt{
    padding:4px 7px 0 7px;
    color: #d2ad3c;
    font-size: 16px;
}

.usful-section {
    padding: 30px 0 42px;
}

.mainBody_content{margin:90px 0 70px 0;}


.mainBody_admsn_alert{margin: 102px 0 27px 0;}

.mainBody_admsn_faqs{margin:36px 0 23px 0;}

.mainBody_admsnFncl_ass{margin:36px 0 23px 0;}

.mainBody_placement_campus_hiring{margin:86px 0 66px 0;}

.mainBody_placement_patrons_alphabetic{margin: 86px 0 56px 0;}

.mainBody_whyupes_lifeatupes{margin:90px 0 74px 0;}

.mainBody_admsnSchr{padding:105px 0 15px;}

.mainBody_admsn2018{margin:88px 0 34px 0;}

.mainBody_content_visionmisioin{ margin:88px 0 34px 0;}

.mainBody_methdology{margin:82px 0 109px 0;}

.mainBody_criteria{padding:124px 0 16px;}

.mainBody_admsn_form{padding: 77px 0 16px;}

.mainBody_rcrtCntnt{ margin:60px 0 63px 0;}

.academy_gap{margin: 0px 0 45px 0;}

.csrbottom_banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.csrbottom_banner img {
    width: 100%;
    transform: scale(1);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.csrbottom_banner:hover img{
	transform: scale(1.04);
}
.csrbottom_wpr {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 490px;
    background: linear-gradient(45deg, rgba(7, 7, 7, 0.53) 0%, rgb(26, 26, 26) 100%);
    height: 100%;
}
.csrbottom_banner_text {
    width: 100%;
    padding: 0px 38px;
    position: absolute;
    bottom: 30px;
}
.csrbottom_banner_text h4 {
    color: #fff;
    font-size: 35px;
    line-height: 44px;
    font-family: 'Montserrat-Medium';
}
.csrbottom_banner_text p {
    color: #fff;
    font-size: 34px;
    font-family: 'Montserrat-Light';
    margin: -10px 0 26px 0;
}

.csrbottom_banner_text a {
    font-size: 14px;
    color: #fff;
   /* background: url(../images/right-arrow.png) right 3px top 2px;
    background-size: 12px;
    display: inline-block;
    background-repeat: no-repeat;*/
    padding-right: 30px;
    padding-top: 2px;
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
	 -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}


.csrbottom_banner_text a i {
    margin-left: 14px;
    font-size: 13px;
}

.csrbottom_banner:hover a {
    color: #ffc907;
}


.blueBackground_section {
    width: 100%;
    margin-bottom:30px;
}

.blueBackground_section ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
	width: 100%;
}

.blueBackground_section ul li {
    width: calc(100% / 7);
    background: #05478d;
    border: 1px solid #fff;
    list-style: none;
}

.blueBackground_section ul li .bluesec_inner {
    padding: 12px 14px 10px 14px;
    box-sizing: border-box;
	position:relative;
}

.blueBackground_section ul li .bluesec_inner p {
    color: #fff;
    font-family: 'Montserrat-Light';
    font-size: 15px;
    margin-bottom: 52px;
}

.blueBackground_section ul li .bluesec_inner img {
    float: right;
    position: absolute;
    right: 12px;
    bottom: 15px;
}

.left_vision {
    width: 58%;
    float: left;
}

.right_vision_come {
    width: 35%;
    float: right;
}


.left_vision_content h4 {
	color: #05478d;
	font-size: 25px;
	margin-bottom: 22px;
	font-family: 'Montserrat-Medium';
}

.left_vision_content p {
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
}

.left_vision_content ul li {
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
}
.left_vision_content p + h4 {
    margin-top:38px;
}


.right_vision_content h4 {
    color: #05478d;
    font-size: 25px;
    margin-bottom:20px;
    font-family: 'Montserrat-Light';
}
.right_vision_content h4 span{
font-family: 'Montserrat-Medium';
}



.right_vision_content ul li {
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
}

.left_vision_content ul li:before , .right_vision_content ul li:before{
    font-family: 'Montserrat-Medium';
    content: '-';
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #0000008c;
}


.tchMetho_top_style > h2{
	font-family: 'Montserrat-Regular';
	color: #05478d;
	font-size: 24px;
	margin-bottom: 8px;
}


.tchMetho_top_style ul.toptul_style_mth{
    margin-bottom: 20px;
}
.tchMetho_top_style ul.toptul_style_mth > li{
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
}
.tchMetho_top_style ul.toptul_style_mth > li:before{
    font-family: 'Montserrat-Medium';
    content: '-';
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #0000008c;
}

.tchMetho_top_style > p{
	font-family: 'Montserrat-Medium';
	margin-bottom: 18px;
	position: relative;
	line-height: 22px;
	font-size: 13px;
}

.sub-smenu ul.horz_subMenu {
position: absolute;
    width: 285px;
    display: block;
    /* background: #cebdbd; */
    top: 100%;
    box-shadow: 0px 3px 20px 3px #00000014;
    background: #fff;
	padding:4px 0 4px 0;
	display:none;
}

.sub-smenu ul.horz_subMenu li {
    width: 100%;
    padding: 5px 19px 0px 19px !important;
    margin-top: -1px;
	
}
.sub-smenu ul.horz_subMenu li a {
    border-bottom: 1px solid #d7d7d7;
    padding: 7px 0px 10px 0px;
    color: #363636 !important;
    font-size: 10px;
}
.sub-smenu ul.horz_subMenu li:last-child a{border-bottom: 0;}

.sub-smenu ul.horz_subMenu li:hover {
    background: #d7d7d7;
}

.sub-smenu ul.horz_subMenu li:hover a{
    color: #05478d !important;
}


.sub-smenu ul.horz_subMenu li:after{display: none;}




.inner-smenu .smenu li .sub-smenu ul li:hover ul.horz_subMenu{display:block;}

.techMetho h4{
    font-family: 'Montserrat-Regular';
    line-height: 30px;
}
.techMetho ul{
    margin-bottom: 20px;
}

.admsn_wrpr {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}
.admsn_wrpr .admsninner_loop {
    width: 100%;
    overflow: hidden;
    margin-bottom:98px;
}

.admsn_wrpr .admsninner_loop .loop_right {
    width: 45%;
    float: right;
}
.admsn_wrpr .admsninner_loop .loop_right img {
    width: 100%;
}
.admsn_wrpr .admsninner_loop .loop_left {
    width: 50%;
    float: left;
}
.admsn_wrpr .admsninner_loop .loop_left h4 {
    margin: 18px 0 18px 0;
    font-size: 25px;
    font-family: 'Montserrat-light';
}

.admsn_wrpr .admsninner_loop .loop_left h4 span{
    font-family: 'Montserrat-SemiBold';
}
.admsn_wrpr .admsninner_loop .loop_left p {
    font-family: 'Montserrat-light';
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}
.admsn_wrpr .admsninner_loop .loop_left a {
	background: #ee3e3e;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat-SemiBold';
	padding: 11px 31px 11px 31px;
	font-size: 12px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.admsn_wrpr .admsninner_loop .loop_left a:hover{
background: #ffc907;
    color: #363636;
}

/*.admsn_wrpr .admsninner_loop .loop_left a span {
    position: relative;
    z-index: 1;
}

.admsn_wrpr .admsninner_loop .loop_left a:after {
    content: '';
    position: absolute;
    width: 100%;
    background: #05478d;
    height: 100%;
    left: -100%;
    top: 0;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

.admsn_wrpr .admsninner_loop .loop_left a:hover:after {
    left: 0;
}
*/
.admsn_wrpr .admsninner_loop:nth-child(even) .loop_right {
    float: left;
}

.admsn_wrpr .admsninner_loop:nth-child(even) .loop_left{
	float:right;
}

.twoBox {
    width: 100%;
    overflow: hidden;
    margin-bottom:80px;
}


.twoBox .twoBox_inner:nth-child(1){float:left;}
.twoBox .twoBox_inner:nth-child(2){float:right}

.twoBox .twoBox_inner {
    width: 48.5%;
    position: relative;
    overflow: hidden;
}
.twoBox .twoBox_inner > img {
    width: 100%;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	transform: scale(1);
}
.twoBox .twoBox_inner .innr_cntn {
    position: absolute;
    bottom: 44px;
    left: 40px;
}
.twoBox .twoBox_inner .innr_cntn p {
    font-size: 41px;
    color: #fff;
    font-family: 'Montserrat-Light';
}
.twoBox .twoBox_inner .innr_cntn p span {
font-family: 'Montserrat-Medium';
    display: block;
    margin-top: -12px;
    margin-bottom: 12px;
}

.twoBox .twoBox_inner .innr_cntn a {
    color: #fff;
    position: relative;
    font-size: 11px;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

.twoBox .twoBox_inner .innr_cntn a:hover{
	color: #ffc907;
}

.twoBox .twoBox_inner .innr_cntn a i {
    margin-left: 10px;
    color: #ffc907;
}

.twoBox_inner:hover img {
    transform: scale(1.04);
}

.placementRecord_wrpr {
    margin-top: 27px;
    width: 100%;
    overflow: hidden;
}
.chartSec_plc {
    width: 100%;
    overflow: hidden;
}
.leftSec_chrt {
    float: left;
    width: 40%;
}

.plceOrder_cntnt {
    width: 100%;
    margin-bottom: 235px;
}

.plceOrder_cntnt h4 {
    font-size: 28px;
}
.plceOrder_cntnt h4 span{
    font-family: 'Montserrat-Light';
}

.plceOrder_cntnt span{
    font-size: 28px;
    font-family: 'Montserrat-Medium';
}

.plceOrder_btm{}
.plceOrder_btm .plceOrder_btm_high_light {
    font-size: 20px;
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 8px;
}
.plceOrder_btm .plceOrder_btm_high_light .blueChart {
    width: 20px;
    height: 20px;
    background: #05478d;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    margin-top: 2px;
}
.plceOrder_btm .plceOrder_btm_high_light .yellChart{
    width: 20px;
    height: 20px;
    background: #ffc907;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    margin-top: 2px;
	
}

.rightSec_charImg {
    float: right;
    width: 60%;
}
.rightSec_charImg img {
    width: 100%;
}

.placementRecord_recur {
    background: #e5e5e5;
    padding: 53px 0 48px 0;
}

.recurtr_btn_sec{    text-align: center;
    margin-top: 55px;}

a.recurtr_btn{
    background: #ee3e3e;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    padding: 11px 31px 11px 31px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
}

a.linkBtn_style{
    background: #ee3e3e;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 11px 27px 11px 27px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
    font-family: 'Montserrat-Regular';
}

a.linkBtn_style:hover {
    background: #ffc907;
    color: #252525;
}

a.recurtr_btn span {
    position: relative;
    z-index: 1;
}

a.recurtr_btn:after {
    content: '';
    position: absolute;
    width: 100%;
    background: #05478d;
    height: 100%;
    left: -100%;
    top: 0;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

a.recurtr_btn:hover:after {
    left: 0;
}

.recruiters_align_head{}
.recruiters_align_head h4 {
    font-size: 25px;
    /* font-family: 'Montserrat-Regular'; */
    /* font-family: 'Montserrat-Light'; */
    /* font-family: 'Montserrat-SemiBold'; */
    font-family: 'Montserrat-Medium';
}
.recruiters_align_head p{
    font-size: 25px;
    font-family: 'Montserrat-Light';
    margin-bottom: 30px;
}

.recruiters_align{width:100%;}
.recruiters_align p {
    font-size: 13px;
    font-family: 'Montserrat-Medium';
    line-height: 24px;
	
}
.recruiters_align p a{
	font-family: 'Montserrat-SemiBold';
	color: #05478d;
	font-size: 13px;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.recruiters_align ul{margin: 0;}
.recruiters_align li{
list-style:none;
}
.recruiters_align li a {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 18px;
	font-family: 'Montserrat-SemiBold';
	color:#05478d;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}

.recruiters_align li a i{
    font-size: 17px;
    margin-right: 4px;
    color: #000;
    font-weight: bold;
	
}

.recruiters_align p a:hover, .recruiters_align li a:hover, .recruiters_align li a:hover i{
    color: #ee3e3e;
}

.acdmy_partner_wpr {
	width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
}
.leftside_yellow {
    width: 22%;
    background: #ffc907;
    height: 215px;
}
.leftside_yellow h4 {
    font-family: 'Montserrat-Light';
    font-size: 32px;
    padding: 20px;
    line-height: 40px;
    margin-top: 26px;

}
.leftside_yellow h4 span{
font-family: 'Montserrat-Medium';
}
.acdmy_partner_scroll {
	width: 78%;
	background: url(../images/hand-pic-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px;
}

.acdmy_partner_scroll .owl-carousel{
	width: 100%;
	margin: 0px auto;
	height: 100%;
	display: flex !important;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
    align-items: center;
}

.acdmy_partner_scroll .owl-carousel .owl-stage-outer{}


.acdmy_partner_scroll .owl-carousel .item img{     width: initial;
     padding: 0;
    margin: 0px auto;}
	
	
.acdmy_partner_scroll .owl-carousel .owl-stage{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	}	

	
.acdmy_partner_scroll .owl-carousel .owl-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 94px;
	height: 50px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.acdmy_partner_scroll .owl-carousel .owl-nav .owl-prev, .acdmy_partner_scroll .owl-carousel .owl-nav .owl-next {
    color: transparent;
    position: relative;
    text-align: center;
    width: 50%;
    background: #a38727;
    border-right: 1px solid #616161;
}


.acdmy_partner_scroll .owl-carousel .owl-nav .owl-prev:hover, .acdmy_partner_scroll .owl-carousel .owl-nav .owl-next:hover{
background: #ffc907;
-webkit-transition:0.2s;
-moz-transition:0.2s;
-o-transition:0.2s;
transition:0.2s;
}
.acdmy_partner_scroll .owl-carousel .owl-nav .owl-prev:hover:before, .acdmy_partner_scroll .owl-carousel .owl-nav .owl-next:hover:before{color:#000;}

.acdmy_partner_scroll .owl-carousel .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    text-indent: 0px;
    background: #ffefb4;
    text-align: center;
    color: #8c7729;
}



.acdmy_partner_scroll .owl-carousel .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    text-indent: 0px;
    background: #ffefb4;
    text-align: center;
    color: #8c7729;
}


.acdmy_partner_scroll .owl-carousel .owl-nav .owl-prev:before, .acdmy_partner_scroll .owl-carousel .owl-nav .owl-next:before {
    width: 100%;
    background: none;
    bottom: 0;
    position: absolute;
    left: -3px;
    bottom: 13px;
}



.newsLatter_wrpr{
	background: #363636;
	width: 100%;
}


.newsLtter_fled {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0px auto;
}

.newsLtter_fled p{
color: #fff;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
    margin: 0;
    margin-right: 35px;
}
.subCribe_boxfeld{
	margin-right: 8px;
	width: 530px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.subCribe_boxfeld .inputFld{
    width: 80%;
    margin-right: 10px;
}

.subCribe_boxfeld .inputSbmt{}


.subCribe_boxfeld .inputFld input{
    border: 0;
    width: 100%;
    padding: 10px 15px;
}
.subCribe_boxfeld .inputSbmt{
border: 0;
    width: 40%;
}
.subCribe_boxfeld .inputSbmt input{
    width: 100%;
    border: 0;
    background: #ee3e3e;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    padding:10px 0px 10px 0px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.subCribe_boxfeld .inputSbmt input:hover{
    background: #ffc907;
    color: #363636;
}


.metho_top_contnt{
width:100%;	
	
}

.metho_top_contnt h4 {
    color: #05478d;
    line-height: 30px;
    font-family: 'Montserrat-light';
    margin-bottom: 20px;
    font-size: 20px;
}

.metho_top_contnt p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 16px;
    /* font-family: 'Montserrat-Regular'; */
    /* font-family: 'Montserrat-SemiBold'; */
    /* font-family: 'Montserrat-Medium'; */
    font-family: 'Montserrat-Light';
}


.metho_top_img{
    width: 100%;
}

.metho_top_img img{
    width: 100%;
}


.metho_btm_contnt{
    width: 100%;
    margin-top:45px;
}

.metho_btm_contnt h4{
    font-size: 22px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 13px;
}

.metho_btm_contnt p{
    font-size: 13px;
    font-family: 'Montserrat-Light';
    line-height: 25px;
}


.academic .panel-default>.panel-heading+.panel-collapse>.criteria_panel{
    padding: 0;
    margin-top: 45px;
}

.academic .panel-group .acrdn_wrp {
    border-top: 0;
}

.schools-faculty.academic .panel-default>.pnlhead h4 {
    font-size: 22px;
    font-family: 'Montserrat-Light';
    position: relative;
}

.schools-faculty.academic .panel-default>.pnlhead a.acrdnBtn_link{
    background: #ee3e3e;
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    padding: 10px 19px 10px 19px;
    font-size: 12px;
    position: absolute;
    right: 70px;
    top: -1px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.schools-faculty.academic .panel-default>.pnlhead a.acrdnBtn_link:hover{
   background: #ffc907;
    color: #363636;
}

.schools-faculty.academic .panel-default>.pnlhead a.acrdnBtn_link:after{display:none;}


table.acrdanTble_criteria{
    margin-bottom: 62px;	
}
table.acrdanTble_criteria thead tr td{
 background: #05478d;
    color: #fff;
    font-family: 'Montserrat-Regular';
    text-align: center;
    padding: 10px 5px 11px 5px;
    border: 4px solid #fff;
    border-bottom: 0;

}

table.acrdanTble_criteria thead tr td:nth-child(1){width:285px;}
table.acrdanTble_criteria thead tr td:nth-child(2){width:340px;}
table.acrdanTble_criteria thead tr td:nth-child(3){width:218px;}
table.acrdanTble_criteria thead tr td:nth-child(4){width:150px;}

table.acrdanTble_criteria tbody{}
table.acrdanTble_criteria tbody tr{}
table.acrdanTble_criteria tbody tr td{
    background: #ebebeb;
    border: 4px solid #fff;
    border-bottom: 0;
    border-top: 0;
    padding: 10px 25px 15px 25px;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Montserrat-Light';
}

table.acrdanTble_criteria tbody tr td:last-child{text-align:center;}

table.acrdanTble_criteria tbody tr td.boldTxt{
font-family: 'Montserrat-Regular';
}

table.acrdanTble_criteria tbody tr:nth-child(1) td{
    padding-top: 35px;
}

table.acrdanTble_criteria tbody tr:last-child td{
    padding-bottom: 35px;
}

.criteria_age{width:100%;}
.criteria_age h4{
font-family: 'Montserrat-Regular';
font-size: 19px;
margin-bottom: 18px;
}
.criteria_age p{
font-family: 'Montserrat-Light';
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
}


.scheme_tests{
width: 100%;
    margin-bottom: 16px;
}

.scheme_tests h4{
    font-family: 'Montserrat-Regular';
    font-size: 19px;
    margin-bottom: 22px;
}

.scheme_tests .scheme_tests_tbl{
    width: 490px;
    margin-bottom: 20px;
}
.scheme_tests .scheme_tests_tbl thead tr td{
    background: #05478d;
    color: #fff;
    font-family: 'Montserrat-Regular';
    text-align: center;
    padding: 10px 5px 11px 5px;
    border: 1px solid #05478d;
    border-bottom: 0;
}

.scheme_tests .scheme_tests_tbl thead tr td:nth-child(1){
 width: 290px;	
  border-right: 2px solid #f1f1f1;	
}

.scheme_tests .scheme_tests_tbl thead tr td:nth-child(2){
	
}

.scheme_tests .scheme_tests_tbl tbody{
    border: 2px solid #f1f1f1;	
}

.scheme_tests .scheme_tests_tbl tbody tr td{
	padding: 0;
	font-size: 13px;
	font-family: 'Montserrat-Medium';
	border:0;
}

.scheme_tests .scheme_tests_tbl tbody tr td:nth-child(1){
    padding: 8px 16px 0 16px;
}

.scheme_tests .scheme_tests_tbl tbody tr td:nth-child(2){
   background:#f9f9f9;
   text-align:center;
}

.scheme_tests .scheme_tests_tbl tbody tr:first-child td{
    padding-top: 16px;
}



.scheme_tests .scheme_tests_tbl tbody tr:last-child td{
    font-family: 'Montserrat-Regular';
    padding-bottom: 16px;
}

.exanHour{
    font-size: 13px;
    margin-bottom: 6px;
    font-family: 'Montserrat-Medium';
    padding-left: 20px;
}
.exanHour span{
    color: #05478d;
    font-family: 'Montserrat-Regular';
}

.exanMarking{
    font-size: 13px;
    padding-left: 20px;
    font-family: 'Montserrat-Regular'
}

.academic .panel-group .panel2{
border-top: 0;
    border-bottom: 2px solid #e0e0e0;
    padding: 0;
}

.schools-faculty.academic .panel2 >.panel-heading {
    padding: 15px 15px 20px 0;
}


.schools-faculty.academic .panel-default>.pnlhead {
    padding: 14px 20px 17px 20px;
}

.schools-faculty.academic .panel-default>.pnlhead_active {
    background: #ebebeb;
}

.academic .panel-default>.panel-heading+.panel-collapse >.panelBody_schlar{
    padding: 20px 0 38px 0;
}

.admsnschlr_wrpr{    width: 100%;
    margin-bottom: 35px;}
.admsnschlr_top_left{
    width: 100%;
    margin-top: 50px;
}
.admsnschlr_top_left h4 {
    font-family: 'Montserrat-SemiBold';
    font-size: 25px;
}
.admsnschlr_top_left p {
    font-size: 25px;
    font-family: 'Montserrat-Light';
    margin-bottom: 20px;
}
.admsnschlr_top_left a{}

.admsnschlr_top_right{width: 100%;}

.admsnschlr_top_right img{width: 100%;}

.scholarship_acrnCntnt{}

.scholarship_acrnCntnt h4{
    font-size: 16px;
    color: #05478d;
    font-family: 'Montserrat-Regular';
    margin-bottom: 16px;
}

.scholarship_acrnCntnt span{
    font-size: 13px;
    line-height: 24px;
    padding-left: 20px;
    margin: 0 0 4px 0;
    font-family: 'Montserrat-Regular';
}
.scholarship_acrnCntnt p{
font-size: 13px;
font-family: 'Montserrat-Light';
line-height: 24px;
padding-left: 20px;
margin: 0 0 4px 0;
}

.scholarship_acrnCntnt p + h4{
    margin-top: 36px;
}


.lifat_upes_top{
    width: 100%;
    overflow: hidden;
    margin-bottom: 52px;
}


.lifat_upes_left h4{
    font-family: 'Montserrat-SemiBold';
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.lifat_upes_left h4 span{  font-family: 'Montserrat-light';}
.lifat_upes_left ul{width: 100%;list-style:none;}
.lifat_upes_left ul li{
display: inline-block;
    font-size: 22px;
    font-style: italic;font-family: 'Montserrat-Medium';
}
.lifat_upes_left ul li.rdClr{color:#ee3e3e;}
.lifat_upes_left ul li.blueClr{color:#05478d;}
.lifat_upes_left ul li.yllwClr{color:#ffc907;}

.lifat_upes_right{
    width: 618px;
    height: 390px;
    position: relative;
    background: #252525;
    float: right;
}
.lifat_upes_right iframe{
    width: 100%;
    height: 100%;
}
.lifat_upes_right .plyBtn_vdeo{
	border-style: solid;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border-width: 41px 0px 41px 69px;
	border-color: transparent transparent transparent #515151;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
	z-index: 9;
	display:none;
	}
	
.lifat_upes_right .plyBtn_vdeo:hover{
 border-color: transparent transparent transparent #ff0202;

}	


/*.lifat_upes_right .plyBtn_vdeo:after{
content: '';
position: absolute;
width: 100%;
height: 100%;
background: red;
left:-100%;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
.lifat_upes_right .plyBtn_vdeo:hover:after{
left:0%;
}

.lifat_upes_right .plyBtn_vdeo span:after{
    content: '';
    position: absolute;
    width: 64px;
    height: 40px;
    background: #252525;
    transform: rotate(-37deg);
    bottom: -16px;
    left: 6px;
	z-index:9;
	
}

.lifat_upes_right .plyBtn_vdeo span:before{
    content: '';
    position: absolute;
    width: 64px;
    height: 40px;
    background: #252525;
    transform: rotate(37deg);
    top: -17px;
    left: 6px;
	z-index:9;
	
}*/


.highlights_wrapper{
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.highlights_wrapper h4{
	font-family: 'Montserrat-Medium';
	font-size: 22px;
	margin-bottom: 16px;


}
.highlights_wrapper ul{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.highlights_wrapper ul li{
    width: 20%;
    float: left;
    list-style: none;
}


.highlights_wrapper ul li .highlights_cnt{
    background: #05478d;
    color: #fff;
    padding: 16px 20px;
    box-sizing: border-box;
    width: 88%;
    margin: 0px auto;
    height: 120px;
    margin-bottom: 20px;
    font-family: 'Montserrat-Light';
    font-size: 18px;
    line-height: 28px;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

.highlights_wrapper ul li .highlights_cnt:hover{
    text-shadow: 0px 2px 2px #0000004f;
    background: #ffc907;
    color: #000;
}



.express_wpapper{
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}
.express_wpapper h4{
	font-family: 'Montserrat-Medium';
	font-size: 22px;
	margin-bottom: 16px;


}

.express_wpapper h4 span{
	font-family: 'Montserrat-light';


}

.express_wpapper img {
width:100%;
margin-bottom:30px;
}

.express_wpapper p{
    width: 100%;
    font-family: 'Montserrat-Light';
    font-size: 14px;
    line-height: 26px;
}





.fun_wrapper {
    width: 100%;
    overflow: hidden;
}

.fun_wrapper .fun_snglbck {
    width:46.8%;
    margin-bottom: 75px;
}
.fun_wrapper .fun_snglbck:nth-child(odd) {
    float: left;
}
.fun_wrapper .fun_snglbck:nth-child(even) {
    float: right;
}
.fun_wrapper .fun_snglbck img {
    width: 100%;
    margin-bottom: 28px;
}
.fun_wrapper .fun_snglbck h4 {
    font-size: 24px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 18px;
}
.fun_wrapper .fun_snglbck h4 span{
font-family: 'Montserrat-Light';
}
.fun_wrapper .fun_snglbck p {
    font-size: 13px;
    font-family: 'Montserrat-Medium';
    line-height: 24px;
}
.fun_wrapper .fun_snglbck a {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #05478d;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}


.fun_wrapper .fun_snglbck a i{
    font-size: 17px;
    margin-right: 4px;
    color: #000;
    font-weight: bold;
}


.fun_wrapper .fun_snglbck a:hover, .fun_wrapper .fun_snglbck a:hover i{
    color: #ee3e3e;
}

.acdmy_facilities{
    width: 100%;
    margin-top: -18px;
    margin-bottom: 55px;
	}
	
.acdmy_facilities p {
    font-family: 'Montserrat-Light';
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 34px;
}


.acdmy_facilities_scroll .owl-carousel.owl-drag .owl-item .item{}
.acdmy_facilities_scroll .owl-carousel.owl-drag .owl-item .item .acdmy_facilities_cntn{
    width: 100%;
    height: 330px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav {
    width: 92px;
    height: 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0px auto;
    margin-top: 12px;
	
}



.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-prev{
    border-right: 1px solid #6161611c;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-prev, .acdmy_facilities_scroll .owl-carousel .owl-nav .owl-next {
    color: transparent;
    position: relative;
    text-align: center;
    width: 50%;
    background: #ffe483;
	position:relative;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    text-indent: 0px;
    text-align: center;
    color: #b6a567;
    position: absolute;
    background: none;
    top: 14px;
    left: 15px;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    text-indent: 0px;
    text-align: center;
    color: #b6a567;
    position: absolute;
    background: none;
    top: 14px;
    left: 15px;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-prev:hover, .acdmy_facilities_scroll .owl-carousel .owl-nav .owl-next:hover {
    background: #ffc907;
	    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.acdmy_facilities_scroll .owl-carousel .owl-nav .owl-prev:hover:before, .acdmy_facilities_scroll .owl-carousel .owl-nav .owl-next:hover:before{
    color:#363636;
}


.acdmy_facilities_inner{
    position: absolute;
    width: 37%;
    left: 0;
    top: 0;
    height: 100%;
    background: #05478d;
    padding: 30px 38px 10px 38px;
}
.acdmy_facilities_inner h4{
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    margin-bottom: 13px;
	color:#ffc907;
}
.acdmy_facilities_inner h4 span{
	 font-family: 'Montserrat-light';
}
.acdmy_facilities_inner p{
    font-family: 'Montserrat-light';
    font-size: 13px;
    color: #fff;
    line-height: 26px;
	}
	
	
	
.plcment_cmpsHrng_wpr{
    width: 722px;
    overflow: hidden;
}

.plcment_dltCnfrm{
    width: 100%;
    overflow: hidden;
}	

.admsnAplcant_login{
    margin-top: 65px;
    margin-bottom: 95px;
}


.hiring_interest{
    margin-bottom:95px;
}




.plcment_cmpsHrng_top{
    width: 100%;
    margin-bottom: 40px;}
.plcment_cmpsHrng_top h4{
    font-size: 20px;
    color: #05478d;
    font-family: 'Montserrat-Regular';
    margin-bottom: 4px;
}
.plcment_cmpsHrng_top span{
    font-size: 13px;
    font-family: 'Montserrat-Light';

}

.admsnAplcant_top span {
    font-size: 16px;
    font-family: 'Montserrat-Light';
}


.cmpushrng_wpr{
	width:100%;
}

.cmpushrng_wpr h4{
    color: #05478d;
    font-size: 17px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 20px;
}

.rowWdth_admsmnlogin{
	width:522px;
}

.rowWdth_admsmnlstTb{
	width:775px;
}

.cmpushrng_wpr div[class*="col-md"]{
    padding-left: 10px;
    padding-right: 10px;
}

.cmpushrng_wpr div[class*="row"]{
    margin-left: -10px;
    margin-right: -10px;
}

.cmpus_single {
width: 100%;
    margin-bottom: 22px;
}

.txtAra_gap{margin-bottom:17px;}

.fleld_address{margin-bottom:0px;}

.admsn_sngle_ens{
    margin-bottom: 17px;
}

.cmpus_twoInput{margin-bottom:10px;}
.admsnInput_gap{margin-bottom:18px;}

.cmpus_single p {
    font-family: 'Montserrat-Light';
    font-size: 13px;
    margin-bottom: 4px;
}

.admsn_sngle p {
     font-family: 'Montserrat-Regular';
}

.prgnPrfnce_lstTb_p{
font-size: 13px;
    margin-bottom: 4px;
    font-family: 'Montserrat-Regular';
    padding: 0px 15px;
}

.admsn_sngle label.chckBox_radio{
    margin-top: 9px;
    margin-right: 6px;
}

.admsn_sngle label.chckBox_radio:last-child{
    margin-right: 0;
    /* float: right; */
    margin-left: 3px;
}

.admsn_sngle label.chckBox_radio input{width: 17px;margin-right: 3px;vertical-align: top;}

.admsn_sngle label.chckBox_radio span{
    font-size: 13px;
    color: #05478d;
    font-family: 'Montserrat-Light';
}

.clendar_img img.ui-datepicker-trigger{
position: absolute;
right: -21px;
top: 29px;
}

.tblIagree td p {
    font-family: 'Montserrat-Light';
    font-size: 13px;
    margin-bottom: 4px;
    line-height: 20px;
}

.tblIagree td:first-child{
	vertical-align:top;
}


.tblIagree{
    margin-bottom: 5px;
}

.niceCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.niceCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: none !important;
    border: 1px solid #000;
}


/* When the checkbox is checked, add a blue background */
.niceCheck input:checked ~ .checkmark {
    background-color: #2196F3;
	border: 1px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.niceCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.niceCheck .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




.cmpus_single textarea{
    background: #e1e1e1;
    width: 100%;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    padding: 10px 10px 10px 10px;
    height: 106px;
    border: 1px solid #e1e1e1;
    resize: none;
}

.cmpus_single input, .cmpus_single select{
    background: #e1e1e1;
    width: 100%;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    padding: 10px 10px 10px 10px;
    border: 1px solid #e1e1e1;
}

.cmpus_single textarea:focus, .cmpus_single input:focus, .cmpus_single select:focus{
    background: none;
}


.cmpus_dtpckr input{
    width: 88%;
    float: left;
}


.cmpus_dtpckr img{
    float: right;
    margin-top: 6px;
}



.cmpus_captcha_wpr{width:100%;}
.cmpus_captcha_wpr p{
    color: #05478d;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    margin-bottom: 8px;
}


.cmpus_applctn_wrp{width:100%;}
.cmpus_applctn_wrp h4{
    font-size: 22px;
    font-family: 'Montserrat-Light';
    margin-bottom: 25px;
    line-height: 32px;
}
.cmpus_applctn_wrp p{
    font-size: 14px;
    font-family: 'Montserrat-Medium';
}
.cmpus_applctn_wrp ul{
    background: #ededed;
    padding: 13px 15px 10px 15px;
    list-style: none;
    height: 90px;
    margin-bottom: 27px;
}
.cmpus_applctn_wrp ul li{
    font-size: 13px;
    list-style: none;
    font-family: 'Montserrat-Light';
    color: #252525;
}


.plcment_dltCnfrm_style{
	width:100%;
	overflow:hidden;
}

.plcment_logout {
    width: 100%;
    overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 60px;
}


.plcment_logout p {
    font-size: 13px;
    margin: 0;
    margin-right: 15px;
    font-family: 'Montserrat-Regular';
}

.plcment_logout a , .plcment_logout input{
    font-size: 13px;
    font-family: 'Montserrat-Regular';
    border: 1px solid #000;
    display: block;
    padding: 6px 22px 7px 19px;
    color: #000;
	background:none;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}



.plcment_logout input:hover, .plcment_logout a:hover {
    color: #ee3e3e;
    border: 1px solid #ee3e3e;
}


.plcment_tbldtl_check{}

.plcment_tbldtl_check table{
    width: 100%;
    margin-bottom: 50px;
}

.plcment_tbldtl_check table thead td{
    border: 1px solid gainsboro;
    padding: 20px 0 22px;
    font-family: 'Montserrat-Medium';
}
.plcment_tbldtl_check table tbody td{
    border: 1px solid gainsboro;
    padding: 11px 25px 12px 25px;
    font-family: 'Montserrat-Light';
    color: #252525;
}
.plcment_tbldtl_check table tbody tr:nth-child(odd) td:nth-child(1){
    background: #ebebeb;
}
.plcment_tbldtl_check table tbody tr:nth-child(even) td:nth-child(1){ background: #fff;}

.plcment_tbldtl_check table tbody tr:nth-child(odd) td:nth-child(2){
    background: #fff;
}
.plcment_tbldtl_check table tbody tr:nth-child(even) td:nth-child(2){ background: #ebebeb;}

.plcment_tbldtl_check h4{
    /* font-family: 'Montserrat-Medium'; */
    font-size: 17px;
    margin-bottom: 8px;
}

.plcment_tbldtl_check h5{
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
    line-height: 22px;
}

.plcment_tbldtl_check p.ntcTxt{
    font-size: 13px;
    margin: 0;
    color: #252525;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Montserrat-Medium';
}


.plcment_tbldtl_check .tblDetail_resp{width:100%;}


.cmpus_captcha_innr{
    width: 100%;
    margin-bottom: 15px;
}
.cmpus_captcha_innr img{
    margin-right: 12px;
    vertical-align: middle;
}
.cmpus_captcha_innr i.fa-refresh{
    margin-right: 12px;
    vertical-align: middle;
	cursor:pointer;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}
.cmpus_captcha_innr i.fa-volume-up{
vertical-align: middle;
    cursor:pointer;
	font-size: 17px;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

.cmpus_captcha_innr i:hover{
	color:#ee3e3e;
}

.cmpus_captcha_innr input{
    border: 1px solid #cacaca;
    margin-top:12px;
    width: 170px;
    padding: 8px 8px 7px 8px;
    font-family: 'Montserrat-Light';
    font-size: 12px;
}



.cmpus_formBtn{
width:100%;	
}


.cmpus_formBtn a, .cmpus_formBtn input {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    font-family: 'Montserrat-Regular';
    padding: 9px 35px 9px 35px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	background:none;
	
}

.cmpus_formBtn a.frmSmbt, .cmpus_formBtn input.frmSmbt{
    background: #ee3e3e;
    border: 1px solid #ee3e3e;
    color: #fff;
    margin-right: 10px;
}
.cmpus_formBtn a.frmCncl, .cmpus_formBtn input.frmCncl{
border: 1px solid #b6b6b6;
    color: #000;
}

.cmpus_formBtn a.frmCncl:hover, .cmpus_formBtn a.frmSmbt:hover, .cmpus_formBtn input:hover {
    background: #ffc907;
    color: #363636;
    border: 1px solid #ffc907;
}


.bigTab_wrpr{
	width:100%;
	overflow:hidden;
}

.customTab_bg {
    width: 100%;
    border-bottom: 1.5px solid #000;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    justify-content: space-between;
}
.customTab_bg > li {
	width: 20%;
	text-align: center;
	display: block;
	margin-right: 1%;
}

.customTab_bg > li:last-child{

    margin-right: 0%;
}



.customTab_bg > li > a{
    padding: 60px 0px 58px 0;
    display: block;
    border-radius: 0;
    background: #ebebeb;
    font-size: 22px;
    font-family: 'Montserrat-Medium';
    color: #898989;
}

.customTab_bg > li.active{
    background: none;
    border-bottom: 0px solid #fff;
    margin-bottom: -1.3px;
}


.customTab_bg > li.active > a{
	border: 2px solid #000;
	border-bottom: 1px solid #fff;
	padding: 60px 0px 64px 0;
	padding-right: 0;
	margin: 0;
}


.customTab_bg > li > a:hover, .customTab_bg > li > a:focus{
	border-color:transparent;
}

.customTab_bg > li.active > a:hover, .customTab_bg > li.active > a:focus, .customTab_bg > li.active > a:active{
	border: 2px solid #000;
	border-bottom: 1px solid #fff;
	padding: 60px 0px 64px 0;
	padding-right: 0;
	margin: 0;	
}

.customTab_inner {
    border: 2px solid #000;
    border-top: 0;
    padding:26px 20px 2px 20px;
}

.customTab_inner h4{
font-family: 'Montserrat-Regular';
font-size:22px;
color:#05478d;
margin-bottom:22px;
}
.customTab_inner ul {
    width: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.customTab_inner ul li {
    list-style: none;
    font-family: 'Montserrat-Light';
    font-size: 13px;
    margin-bottom: 10px;
}

.customTab_inner ul li:before{
    content: '-';
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
}




.conference_seminar_top_left{width:100%;}
.conference_seminar_top_left h4{
    color: #05478d;
    font-size: 35px;
    margin-bottom: 44px;
    }
	
.conference_seminar_top_right{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.conference_seminar_top_right span{
    font-size: 14px;
}	
.conference_seminar_top_right label {
    width: calc(100% - 105px);
}	
.conference_seminar_top_right label select {
    border: 1px solid gainsboro;
    width: 100%;
    padding: 8px;
}


.cnfrncSmnar_main_cntnt{
    /* display: flex; */
}

.cnfrncSmnar_main_cntnt .cnfrncSmnar_main_cntnt_single{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row-reverse; /* Safari 6.1+ */
	flex-direction: row-reverse;
	justify-content: space-between;
	border-bottom: 1.2px solid #e5e5e5;
	padding-bottom: 27px;
	margin-bottom: 34px;
}

.cnfrncSmnar_main_cntnt .cnfrncSmnar_main_cntnt_single:last-child{
	border-bottom:0;
}


.cnfrncSmnar_main_cntnt_single

.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_right{
    width: 32%;
}
.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_right img{}
.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left {
    width: 50%;
}
.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left h4{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}
.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left p{
    font-size: 13px;
    font-family: 'Montserrat-Light';
    line-height: 24px;
    color: #000000;
    margin-bottom: 14px;
}
.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left a{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #05478d;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left a:before {
    content: "\f054";
    font-family: FontAwesome;
    padding-right: 5px;
    font-weight: 100;
    font-size: 12px;
    color: #000000b3;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left a:hover, .cnfrncSmnar_main_cntnt_single .cnfrncSmnar_main_left a:hover:before{
	color: #ee3e3e;
}


.bnnr_cptn_style .chartSec_plc{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
}

.bnnr_cptn_style .leftSec_chrt {
    float: left;
    width: 40%;
}

.bnnr_cptn_style .leftSec_chrt a.plmentBtn{
    background: #ee3e3e;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 8px 45px 8px 45px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    font-family: 'Montserrat-Regular';
}

.bnnr_cptn_style .leftSec_chrt a.plmentBtn:hover{
    background: #ffc907;
    color: #252525;
}

.bnnr_cptn_style .leftSec_chrt .plceOrder_cntnt {
    width: 100%;
    margin-bottom: 10px;
}

.bnnr_cptn_style .leftSec_chrt .plceOrder_cntnt h4{
color: #fff;
font-size: 25px;
font-family: 'Montserrat-Medium';
}

.bnnr_cptn_style .leftSec_chrt .plceOrder_cntnt > span{
color: #fff;
font-size: 25px;
font-family: 'Montserrat-Medium';
}



.bnnr_cptn_style .plceOrder_btm {
margin-bottom: 30px;
}

.bnnr_cptn_style .plceOrder_btm .plceOrder_btm_high_light {
    font-size: 17px;
    margin-bottom: 8px;
    color: #fff;
    font-family: 'Montserrat-Medium';
}

.bnnr_cptn_style .plceOrder_btm .plceOrder_btm_high_light .blueChart {
    width: 16px;
    height: 16px;
    background: #05478d;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    margin-top: -2px;
}

.bnnr_cptn_style .plceOrder_btm .plceOrder_btm_high_light .yellChart {
    width: 16px;
    height: 16px;
    background: #ffc907;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    margin-top: -2px;
}



.bnnr_cptn_style .chartSec_plc .rightSec_charImg {
    float: right;
    width: 57%;
}

.bnnr_cptn_style .chartSec_plc .rightSec_charImg img{
    float: right;
    width: 80%;
}

.plcmnt_psi_left{
    width: 100%;
}

.plcmnt_psi_left img{
    width: 100%;
}

.plcmnt_psi_right{
    width: 100%;
    padding-left: 25px;
}

.plcmnt_psi_right h4{
    font-size: 24px;
    margin-bottom: 8px;
    font-family: 'Montserrat-Regular';
}
.plcmnt_psi_right h4 > span{font-family: 'Montserrat-Light';}
.plcmnt_psi_right > span{font-family: 'Montserrat-Medium';font-size: 13px;}


.plcmnt_prtnr_scrll{width:100%;}


.plcmnt_prtnr_heading{
    width: 100%;
}
.plcmnt_prtnr_heading h4{
    font-size: 24px;
    margin-bottom: 24px;
    font-family: 'Montserrat-SemiBold';
}

.plcmnt_prtnr_heading h4 span{
font-family: 'Montserrat-Light';
}

.plcmnt_prtnr_scrll .leftside_partnr{
    width: 22%;
    background: #cdcdcd;
}
.plcmnt_prtnr_scrll .leftside_partnr h4{
    font-size: 32px;
    padding: 20px;
    line-height: 36px;
    margin-top: 58px;
    font-family: 'Montserrat-SemiBold';
}


.plcmnt_prtnr_scrll .leftside_yellow h4 span{font-size: 32px;font-family: 'Montserrat-Medium';}

.rightside_scrll_plcment{
    background: #507eaf;
}


.rightside_scrll_plcment .owl-carousel .owl-nav{display:none;}


.admsn_wrpr .plmnt_psi_loop .loop_left h4{
	margin-top: 0;
	font-size: 25px;
	font-family: 'Montserrat-SemiBold';
}



.admsn_wrpr .plmnt_psi_loop .loop_left h4 span{
font-family: 'Montserrat-Light';
}

.admsn_wrpr .plmnt_psi_loop:nth-child(odd) .loop_left{
	float: right;
}

.admsn_wrpr .plmnt_psi_loop:nth-child(odd) .loop_right{
	float: left;
}


.admsn_wrpr .plmnt_psi_loop:nth-child(even) .loop_left{
	float: left;
}

.admsn_wrpr .plmnt_psi_loop:nth-child(even) .loop_right{
	float: right;
}

.admsn_wrpr .plmnt_psi_loop:last-child{
    margin-bottom: 24px;
}

 ul.widthDashed li{
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
}

 ul.widthDashed li:before{
    font-family: 'Montserrat-Medium';
    content: '-';
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #0000008c;
}

 ul.sapRate{
width: 100%;
}
 ul.sapRate li{
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-family: 'Montserrat-light';
}

 ul.sapRate li:nth-child(2){
    border-left: 1.2px solid #000;
    border-right: 1.2px solid #000;
    padding: 0px 20px;
    margin: 0px 20px;
}


.admsnForm_page_wrp{width:100%;border-bottom: 1.5px solid gainsboro;padding-bottom: 25px;margin-bottom: 40px;}
.admsnForm_page_wrp_btm{width:100%;padding-bottom: 36px;}


.admsnForm_page_wrp h2, .admsnForm_page_wrp_btm h4{font-family: 'Montserrat-Regular';color: #05478d;font-size: 24px;margin-bottom: 12px;}
.admsnForm_page_wrp a.formTop_btn, .admsnForm_page_wrp_btm a.formTop_btn{
    background: #ee3e3e;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 11px 27px 10px 27px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    font-family: 'Montserrat-Regular';
    margin-bottom: 28px;
}

.admsnForm_page_wrp_btm a.formTop_btn{
    margin-bottom: 12px;
}

.admsnForm_page_wrp a.formTop_btn:hover{
    background: #ffc907;
    color: #252525;
}

.admsnForm_page_wrp p strong{
    font-family: 'Montserrat-Medium';
    font-family: 'Montserrat-SemiBold';
}
.admsnForm_page_wrp p{
    font-size: 13px;
    font-family: 'Montserrat-Light';
    margin-bottom: 4px;
    line-height: 27px;
}

.admsnForm_page_wrp_btm p{
    font-size: 13px;
    font-family: 'Montserrat-Light';
    margin-bottom: 32px;
    line-height: 30px;
}

.admsnForm_page_wrp_btm p span{color: #05478d;font-family: 'Montserrat-Medium';}

a.linkWith_arrow{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #05478d;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 12px;
    display: block;
}

.admsnForm_page_wrp_btm h5{
    font-family: 'Montserrat-Regular';
    color: #05478d;
    font-size: 15px;
    margin-bottom: 10px;
}

.linkWith_arrow i{
    font-size: 17px;
    margin-right: 4px;
    color: #000;
    font-weight: bold;
}


a.linkWith_arrow:hover, a.linkWith_arrow:hover i {
    color: #ee3e3e;
}



.listItem_box{
    margin-top: 48px;
}
.listItem_box h4{
    font-size: 20px;
    color: #05478d;
    margin-bottom: 10px;
}
.listItem_box ul{
    border: 1px solid #000;
    list-style: none;
    padding: 17px 18px 17px 18px;
    margin-bottom: 28px;
}
.listItem_box ul.listItem_ul_gap{margin-bottom: 19px;}
.listItem_box ul li{
    font-family: 'Montserrat-Light';
    margin-bottom: 10px;
    padding-left: 16px;
    position:  relative;
    line-height: 24px;
    font-size: 15px;
}
.listItem_box ul li:before{
    content: "\f054";
    font-family: FontAwesome;
    padding-right: 5px;
    font-weight: 100;
    font-size: 10px;
    color: #7a7a7a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position:  absolute;
    left: 0;
    top: 1px;
}
.listItem_box p{
    color: #05478d;
    font-family: 'Montserrat-Medium';
}
.listItem_box p span{
    font-family: 'Montserrat-SemiBold';
}


.tableBack_grnd_form{
    width: 100%;
}
.tableBack_grnd_form tr{}
.tableBack_grnd_form td{
    background: #ebebeb;
    border: 3px solid #fff;
    padding: 9px 14px 8px 14px;
    font-size: 14px;
    font-family: 'Montserrat-Light';
}
.tableBack_grnd_form td:first-child{
    background: #d7d7d7;
    font-family: 'Montserrat-Regular';
}

.tableBack_grnd_form td.txtBold{
	font-family: 'Montserrat-Regular';
}


.admsn_alert_wrpr{
    width: 100%;
}

.admsn_alert_wrpr h2{
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 25px;
}

.admsn_alert_wrpr h2 span{
    font-family: 'Montserrat-light';
}

.ulStyle_grid{
    /* width: 100%; */
    overflow: hidden;
    margin: 0px -6px;
}

.ulStyle_grid li{}

.ulStyle_grid li{
    width: 25%;
    float: left;
    list-style: none;
    padding: 0px 5px 10px 5px;
}
.ulStyle_grid li div.li_innerDiv{
    background: #e1e1e1;
    padding: 18px 25px;
    height: 175px;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
.ulStyle_grid li div.li_innerDiv:hover{
    background: #ee3e3e;
}

.ulStyle_grid li div.li_innerDiv:hover p{
    color: #fff;
    font-family: 'Montserrat-Regular';
}

.ulStyle_grid li div.li_innerDiv p{
    font-size: 21px;
    font-family: 'Montserrat-Light';
    margin-bottom: 55px;
    color: #000;
    line-height: 28px;
}
.ulStyle_grid li div.li_innerDiv a{
    font-size: 14px;
    color: #57554e;
    font-family: 'Montserrat-Regular';
    display: none;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

.ulStyle_grid li div.li_innerDiv:hover a{
    display: block;
    color: #fff;
}
.ulStyle_grid li div.li_innerDiv a:hover{
    color: #ffc907;
    display: block;
}


.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs{
 margin:0px; 
}


.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-heading{
       padding: 15px 15px 15px 0;
}

.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-heading h4{

    font-size: 17px;
    color: #05478d;
}
.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-heading h4 a {
    font-size: 17px;
    line-height: 28px;
}
.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-heading h4 a:after{display:none;}
.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-body {
    padding: 0 0 0 0;
}

.admsnfaqs_wrpr_accrdn .panel-group .panelDlft_faqs .panel-body p{
font-size: 13px;
    line-height: 27px;
    margin-bottom: 12px;
}


.admsnFncl_wrpr {
    width: 100%;
    margin-bottom: 60px;
}

.admsnFncl_wrpr h2 {
    color: #05478d;
    font-size: 22px;
    font-family: 'Montserrat-Light';
    line-height: 32px;
    margin-bottom: 16px;
}

.intrtnStdnt_wpr h2 {
    color: #05478d;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 14px;
    font-family: 'Montserrat-Regular';
}



.admsnFncl_wrpr p {
    font-family: 'Montserrat-Light';
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 30px;
}

.intrtnStdnt_wpr p{
    font-size: 13px;
    margin: 0;
}

.intrtnStdnt_wpr p span{
    color: #05478d;
    font-family: 'Montserrat-Medium';
}

.academic.admsnFncl_accr_hldr .panel2{
    margin: 0;	
}

.academic.admsnFncl_accr_hldr .panel2 .panel-heading{
       padding: 17px 15px 17px 0;	
}

.academic.admsnFncl_accr_hldr .panel2>.panel-heading+.panel-collapse >.panelBody_schlar{
    padding: 0 0 0 0;
    margin-top: 15px;
}


.academic.admsnFncl_accr_hldr .panel2>.panel-heading h4.panel-title a:after {
    top: 4px;
}

.academic.admsnFncl_accr_hldr .panel2>.panel-heading a{
    font-family: 'Montserrat-Regular';
}


.admsnFncl_downMove{width:100%;}

.admsnFncl_downMove p{
    margin-bottom: 15px;
}

.admsnFncl_downMove p + h4{
    margin-top: 30px;
}

.admsnFncl_downMove  h4{font-family: 'Montserrat-Regular';color: #05478d;margin-bottom: 17px;}

.admsnFncl_downMove ul{
    width: 100%;
    padding: 0;
    margin-bottom: 38px;
}

.admsnFncl_downMove ul li:before{
    content: "\f105";
    padding-right: 7px;
    font-family: FontAwesome;
    font-size: 16px;
    padding-left: 6px;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

.admsnFncl_downMove ul li{
    list-style: none;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #252525;
    margin-bottom: 8px;
    padding: 0;
}


.admsnFncl_downMove p a{
    font-size: 13px;
    font-family: 'Montserrat-SemiBold';
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
    margin-bottom: 34px;
    display: block;
}

.admsnFncl_downMove p a:hover{
color:#ee3e3e;	
}

.admsnFncl_downMove .tableFormat_style{
    margin-bottom: 30px;
}
.tableFormat_style{
    width: 100%;
}
.tableFormat_style thead tr td{
    background:  #05478d;
    border: 3px solid #fff;
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #fff;
    padding: 11px 0 11px 0;
}

.tableFormat_style thead tr td:first-child{
    width: 10%;
    text-align: center;
}

.tableFormat_style thead tr td:last-child{
    width: 30%;
}

.tableFormat_style tbody tr td{
    background: #ebebeb;
    border: 3px solid #fff;
    font-family: 'Montserrat-Medium';
    padding: 13px 16px 13px 18px;
    line-height: 26px;
}


.tableFormat_style tbody tr td:first-child{
    text-align: center;
}

.tableFormat_style tbody tr td:last-child{
    text-align: center;
}


.nextProcess_wrpr{width:100%;}
.nextProcess_wrpr .navCustm{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    width: 90%;
    margin: 0px auto;
    border: 0;
    position: relative;
    justify-content: space-between;
}


.nextProcess_wrpr .navCustm:before {
    content: '';
    width: 88%;
    position: absolute;
    height: 1px;
    background: #000;
    left: 0;
    right: 0;
    top: 30px;
    margin: 0px auto;
}

.nextProcess_wrpr .navCustm:after {
display:none;
}

.nextProcess_wrpr .navCustm li{
   text-align: center;
}

.nextProcess_wrpr .navCustm li a{
    border: 0;
    display: block;
    width: 80px;
    background: #fff;
    padding: 0;
    margin: 0px auto;
    margin-bottom: 27px;
}



	
	
.nextProcess_wrpr .nav-tabs>li.active>a, .nextProcess_wrpr .nav-tabs>li.active>a:focus, .nextProcess_wrpr .nav-tabs>li.active>a:hover{
    border: 0px;
    background: #fff;
	}

	

.nextProcess_wrpr .navCustm li span
{
    display: block;
    font-size: 16px;
    font-family: 'Montserrat-Light';
}

.nextProcess_wrpr .navCustm li a{
    width: 58px;
    height: 57px;
	background-repeat: no-repeat;
	background-size: cover;
}

.nextProcess_wrpr .navCustm li a.userICon, .nextProcess_wrpr .nav-tabs>li>a.userICon:focus, .nextProcess_wrpr .nav-tabs>li>a.userICon:hover{
    background-image: url(../images/next-image-user.png);background-size: cover;	
}


.nextProcess_wrpr .navCustm li a.userIConhand, .nextProcess_wrpr .nav-tabs>li>a.userIConhand:focus, .nextProcess_wrpr .nav-tabs>li>a.userIConhand:hover{
    background-image: url(../images/next-image-hand.png);
}
.nextProcess_wrpr .navCustm li.active a.userIConhand{
    background-image: url(../images/next-image-hand-act.png);
}

   
.nextProcess_wrpr .navCustm li a.userIConcap, .nextProcess_wrpr .nav-tabs>li>a.userIConcap:focus, .nextProcess_wrpr .nav-tabs>li>a.userIConcap:hover{
    background-image: url(../images/next-image-cap.png);
}
.nextProcess_wrpr .navCustm li.active a.userIConcap{
    background-image: url(../images/next-image-cap-hand.png);
}




.nextProcess_wrpr .navCustm li.active span{    font-family: 'Montserrat-Light';
    font-weight: 900;}

.nextProcess_wrpr .nav>li>a:focus, .nextProcess_wrpr .nav>li>a:hover{    background: #fff;}

.chartWrapper {
    width: 100%;
    margin-bottom: 30px;
} 
.chartWrapper h4 {
    font-size: 18px;
    color: #05478d;
    margin-top: 25px;
    margin-bottom: 14px;
}
.chartWrapper ul {
    width: 100%;
    list-style: none;
    margin-bottom: 45px;
    counter-reset: section;
}
.chartWrapper ul li {
    font-size: 14px;
    font-family: 'Montserrat-Light';
    margin-bottom: 5px;
    padding-left: 18px;

}

.chartWrapper ul li:before{
    counter-increment: section;
    content: counter(section);
    font-weight: bold;
    position: absolute;
    left: 15px;
}

.chartWrapper img{width:330px;} 



.inttr_maintable{
    width: 100%;
    margin-bottom: 30px;
}
.inttr_maintable table{
    margin-bottom: 15px;
}
.inttr_maintable table thead{}
.inttr_maintable table thead tr{}
.inttr_maintable table thead tr td{
    background: #05478d;
    border: 2px solid #fff;
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #fff;
    padding: 11px 10px 11px 10px;
    font-size: 13px;
}
.inttr_maintable table tbody{}
.inttr_maintable table tbody tr{}
.inttr_maintable table tbody tr td{
    background: #ebebeb;
    border: 2px solid #fff;
    padding: 13px 16px 13px 18px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat-Medium';
}

.grayGrnd{
    background: #ececec;
    width: 100%;
    padding: 22px;
    margin-bottom: 30px;
}
.grayGrnd h4{
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 20px;
}
.grayGrnd h5{
    font-size: 13px;
    margin-bottom: 3px;
    /* color: #05478d; */
}
.grayGrnd p{
    margin-bottom: 0px;
}
.grayGrnd p a{}
.grayGrnd p + h5{
    margin-top: 15px;
}

.ulList_style{
    width: 100%;
    margin-bottom: 35px;
}

.ulList_style h4{
    color: #05478d;
    font-family: 'Montserrat-Regular';
    font-size: 19px;
    margin-bottom: 16px;
}

.ulList_style ul{
    width: 100%;
    list-style: none;
    margin: 0;
}

.ulList_style ul li{
    margin-bottom: 5px;
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
}

.ulList_style ul li:before{
    font-family: 'Montserrat-Medium';
    content: '-';
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #0000008c;
}


.grayTbl_withCntn{
    width: 100%;
    margin-bottom: 30px;
}
.grayTbl_withCntn h5{
    font-size: 13px;
    margin-bottom: 8px;
}

.grayTbl_withCntn table + h5{
    margin-top: 40px;
}

.grayTbl_withCntn p{
    margin-bottom: 12px;
}
.grayTbl_withCntn p span{}

.grayTbl_withCntn table{
    width: 678px;
    margin-bottom: 20;
    margin-bottom: 12px;
}
.grayTbl_withCntn table td{border: 3px solid #fff;padding: 10px 12px 10px 12px !important;font-size: 13px;font-family: 'Montserrat-Light';background: #ebebeb;font-family: 'Montserrat-Regular';}
.grayTbl_withCntn table td:first-child{
    font-size: 13px;
    font-family: 'Montserrat-Light';
}
.grayTbl_withCntn table td:last-child{background: #cccccc;text-align: center;padding-left: 38px !important;padding-right: 38px !important;width: 178px;}



.academic.admsnFncl_accr_hldr .panel2>.panel-heading h4.blueact a{
	color: #05478d;
}

.academic.admsnFncl_accr_hldr .panel2>.panel-heading h4.blueact a.collapsed{
	color: #000;
}



.logOut_lasttb{
	margin-bottom: 25px;
}

.ordrLst_lastTb{
    width: 800px;
    overflow:  hidden;
    border: 1px solid #000;
    padding: 12px 30px 13px 30px;
    /* height: 140px; */
    margin-bottom: 37px;
}

.ordrLst_lastTb h4{
    margin-bottom: 7px;
    font-size: 17px;
}

.ordrLst_lastTb ol{
    width: 100%;
    /* list-style: none; */
    margin-left: 13px;
    margin-bottom: 0;
}

.ordrLst_lastTb ol li{
    font-size: 13px;
    margin-bottom: 0px;
    font-family: 'Montserrat-Medium';
    line-height: 18px;
}


.brdrSection_field{
    border-top: 1.5px solid #c7c7c7;
    margin-top: 14px;
    margin-bottom: 31px;
}

.brdrSection_field h4{
    margin-top: 30px;
    color: #05478d;
    font-size: 17px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 28px;
}

.brdrSection_field h5{
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 12px;
}

.brdrSection_field h5.brdrh5{border-top: 1px solid gainsboro;padding-top: 21px;}

.brdrLst_style{
    margin-bottom: 0px;
}

.chsFile_uplad{
    width: 100%;
    overflow: hidden;
}

.chsFile_uplad .chsImage{
    float: left;
    width: 40%;
}
.chsFile_uplad .chsImage img{
	width:100%;
}

.chsFile_uplad .chsFile_Btn{
    float: right;
    width: 56%;
}

.chsFile_uplad .chsFile_Btn span{
    font-size: 13px;
    font-family: 'Montserrat-Regular';
}

.chsFile_uplad .chsFile_Btn > p{
    font-size: 13px;
    margin-bottom: 18px;
    font-family: 'Montserrat-Regular';

}



.chsfile_inputStyle{
    background: #05478d;
    width: 102px;
    height: 34px;
    position: relative;
    cursor: pointer;
    margin-bottom: 4px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.chsfile_inputStyle:hover{
	background: #ffc907;
	color: #000;
}

.chsfile_inputStyle:hover p{
	color: #000;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


.chsfile_inputStyle p{
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-family: 'Montserrat-Regular';
    cursor: pointer;
}

.chsfile_inputStyle input{color: #fff;font-size: 12px;font-family: 'Montserrat-Medium';position: absolute;width: 100%;height: 100%;z-index: -1;}

.chsFl_saveBtn{
    background: #ee3e3e;
    border: 1px solid #ee3e3e;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    width: 144px;
    height: 35px;
    text-align: center;
    margin-top: 26px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}



.chsFl_saveBtn_cmntn{
    background: #ee3e3e;
    border: 1px solid #ee3e3e;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    width: 144px;
    height: 35px;
    text-align: center;
    margin-top: 2px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

.lstTb_notictb {
    width: 100%;
    margin-top: 35px;
}

.lstTb_notictb h4{}
.lstTb_notictb p{
    font-size: 13px;
    margin: 0;
    color: #252525;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Montserrat-Medium';
}

.admsnAplcant_paymnt{
    margin-top: 65px;
    margin-bottom: 95px;
}

.admsnAplcant_paymnt .fullPage_sbmit{
    background: #ee3e3e;
    border: 1px solid #ee3e3e;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    width: 115px;
    height: 35px;
    text-align: center;
    margin-top: 2px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    margin-bottom: 40px;
}

.chsFl_saveBtn:hover, .chsFl_saveBtn_cmntn:hover, .admsnAplcant_paymnt .fullPage_sbmit:hover {
    background: #ffc907;
    color: #363636;
    border: 1px solid #ffc907;
}


.fcltyVsting_wpr{
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 17px;
}

.fcltyVsting_top{
    width: 100%;
}

.fcltyVsting_top .fcltyVsting_left{
    width: 43%;
    float: left;
}
.fcltyVsting_top .fcltyVsting_left img{
    width: 100%;
}
.fcltyVsting_top .fcltyVsting_right{
    width: 55%;
    float: right;
}
.fcltyVsting_top .fcltyVsting_right p{
    font-size: 13px;
    line-height: 25px;
}


.schlEng_wpr{width: 100%;margin-top:25px;overflow: hidden;margin-bottom: 17px;}


.schlEng_top{
    width: 100%;
    margin-bottom: 62px;
}

.schlEng_top_buss{
    width: 100%;
    margin-bottom:30px;
}

.schlEng_top h2{font-size: 24px;font-family: 'Montserrat-Regular';margin-bottom: 26px;}

.schlEng_top h2 span{font-family: 'Montserrat-Light';}

.schlEng_top h4{
	font-size: 15px;
	color: #05478d;
	font-family: 'Montserrat-Medium';
	margin-bottom: 9px;
	line-height: 22px;
}

.schlEng_top p{
    font-size: 13px;
    line-height: 24px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 15px;
}
.schlEng_top p span{
    font-family: 'Montserrat-Light';
}


.listStyle_dash {
    width: 100%;
    margin-bottom: 50px;
}

.listStyle_dash h5{
    font-size: 16px;
    color: #05478d;
    font-family: 'Montserrat-Regular';
    margin-bottom: 16px;
}
.listStyle_dash h6{
font-family: 'Montserrat-SemiBold';
    font-size: 13px;

}


.listStyle_dash ul{
    margin-bottom:25px;
	width:100%;
}
	
.listStyle_dash ul li{
font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    list-style: none;
    margin-bottom: 4px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
} 
.listStyle_dash ul li:before{
    font-family: 'Montserrat-Medium';
    content: '-';
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #0000008c;
} 

.listStyle_dash p{
    font-size: 13px;
    color: #000000;
    font-family: 'Montserrat-Medium';
    line-height: 24px;
}

.listStyle_dash_busslast, .listStyle_dash_busslast ul{
	margin-bottom:0;
}

.boxGry_wpr{
    width: 100%;
    background: #e5e5e5;
    overflow: hidden;
    height: 310px;
    background-image: url(../images/background-image-u.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 65px;
}

.boxGry_wpr_bussi{
    background: none;
    background-image: none;
    height: auto;
    padding-top: 0px;
    margin: 0;
}

.boxGry_wpr .boxGry_inner{
    width: 100%;
}
.boxGry_wpr .boxGry_innerR{
    width: 100%;
    padding: 35px 38px 35px 38px;
}


.boxGry_wpr_bussi .boxGry_innerR{
padding-top: 0;
}

.boxGry_wpr .boxGry_inner img{
    width: 100%;
}
.boxGry_wpr .boxGry_inner h4{
    font-size: 21px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 15px;
}
.boxGry_wpr .boxGry_inner h4 span{
    display: block;
    font-size: 13px;
    font-family: 'Montserrat-Medium';
    margin-top: 10px;
}
.boxGry_wpr .boxGry_inner p{
    font-size: 13px;
    line-height: 24px;
}

 
.bigBtn_txt_wpr{
    width: 100%;
    margin-bottom: 80px;
}

.bigBtn_txt_wpr .bigBtn_inner{
    width: 100%;
}

.bigBtn_txt_wpr .bigBtn_inner p{
    font-size: 15px;
    color: #05478d;
    line-height: 26px;
    font-family: 'Montserrat-Light';
}
.bigBtn_txt_wpr .bigBtn_inner a{
    width: 318px;
    height: 97px;
    display: block;
    background: #ee3e3e;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    line-height: 97px;
    float: right;
    -webkit-transition: 0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

.bigBtn_txt_wpr .bigBtn_inner a:hover{
    color: #000;
    background: #ffc907;
}

.noticeBrd_wpr{
    width: 100%;
    background: #ebebeb;
    margin-bottom: 13px;
}
.noticeBrd_wpr .noticeBrd_wprR{
    padding: 0;
}

.noticeBrd_wpr .noticeBrd_inner{
    width: 100%;
}
.noticeBrd_wpr .noticeBrd_inner img{}
.noticeBrd_wpr .noticeBrd_inner h4{
    color: #05478d;
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 12px;
}
.noticeBrd_wpr .noticeBrd_inner p{
    font-size: 13px;
    font-family: 'Montserrat-Light';
    line-height: 24px;
    margin-bottom: 60px;
}
.noticeBrd_wpr .noticeBrd_innerR{
    padding: 24px 36px 0px 1px;
}
.noticeBrd_wpr .noticeBrd_inner .noticeBrd_inner_link{
    width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    justify-content: space-between;
    /* position: absolute; */
}
.noticeBrd_wpr .noticeBrd_inner .noticeBrd_inner_link a{
    background: #d7d7d7;
    width: 180px;
    height: 65px;
    text-align: center;
    font-size: 9px;
    color: #252525;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-family: 'Montserrat-Medium';
	-webkit-transition: 0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

.noticeBrd_wpr .noticeBrd_inner .noticeBrd_inner_link a:last-child{
	font-size: 15px;
	background: #ee3e3e;
	color: #fff;
	font-family: 'Montserrat-Regular';
-webkit-transition: 0.3s;
-moz-transition:0.3s;
-o-transition:0.3s;
transition:0.3s;
}

.noticeBrd_wpr .noticeBrd_inner .noticeBrd_inner_link a:hover{
    color: #000;
    background: #ffc907;
}


.feeRfndPolicy_wpr{}

.feeRfndPolicy_Inner{
    width: 100%;
    margin-bottom: 74px;
}
.feeRfndPolicy_Inner h2{
    font-size: 21px;
    font-family: 'Montserrat-Regular';
    color: #05478d;
    margin-bottom: 20px;
}
.feeRfndPolicy_Inner span{
    display: block;
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 22px;
}
.feeRfndPolicy_Inner form{}
.feeRfndPolicy_Inner .feeRfndPolicy_srch{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 63px;
}
.feeRfndPolicy_Inner .feeRfndPolicy_srch h4{
    color: #05478d;
    font-size: 15px;
    margin-right: 15px;
}
.feeRfndPolicy_Inner .feeRfndPolicy_srch input[type=text]{
    border: 1.2px solid gainsboro;
    width: 232px;
    padding: 11px 10px 11px 10px;
    margin-right: 18px;
}
.feeRfndPolicy_Inner .feeRfndPolicy_srch input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
    background: #ee3e3e;
    color: #fff;
    padding: 9px 36px;
    font-family: 'Montserrat-Regular';
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.feeRfndPolicy_Inner .feeRfndPolicy_srch input[type=submit]:hover{
    background: #ffc907;
    color: #363636;
}


.feeRfndPolicy_Inner a{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #05478d;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.feeRfndPolicy_Inner a:before{
    content: "\f105";
    padding-right: 7px;
    font-family: FontAwesome;
    font-size: 16px;
    transition: all .3s;
    font-weight: bold;
    color: #000;
}


.feeRfndPolicy_Inner a:hover{color: #ee3e3e;}
.feeRfndPolicy_Inner a:hover:before{color: #ee3e3e;}




.feesFrnd_prscc_wpr{
    width: 90%;
    overflow: hidden;
    margin-bottom: 90px;
}

.feesFrnd_prscc_wpr span.astrik{
    font-size: 16px;
    font-family: 'Montserrat-Light';
    padding: 0 15px;
    margin-bottom: 20px;
    display: block;
}

.feesFrnd_alert{
    width: 100%;
    margin-top: 12px;
    background: #ffd800;
    border-radius: 5px;
    position: relative;
}

.feesFrnd_alert:before{
    content: '';
    position:  absolute;
    width: 30px;
    height: 30px;
    left: -14px;
    background: #ffd800;
    transform: rotate(45deg);
    top: 17px;
    z-index: -1;
}

.feesFrnd_alert p{
	font-size: 12px;
	padding: 20px;
	line-height: 23px;
	font-family: 'Montserrat-Medium';
}

.feesFrnd_fledfrm{
    width: 92%;
}

.cmpus_single span.notRcv_otp{
	font-size: 12px;
	padding: 0;
	margin-top: 10px;
	display: block;
	font-family: 'Montserrat-Medium';
}



.admsn_sngle label.chckBoxFee_refnd{
    margin-bottom: 0;
}
.admsn_sngle label.chckBoxFee_refnd span{display: inline-block;padding: 0 0 0 2px;margin: 0;margin-right: 15px;}
.admsn_Textrea {margin-bottom: 17px;}
.admsn_Textrea textarea{
    height: 65px;
    resize: auto;
}


.feesRnd_Tbl{
    width: 100%;
    margin-top: 50px;
    border-top: 1.1px solid gainsboro;
    padding-top: 30px;
}
.feesRnd_Tbl h4{
    font-size: 22px;
    font-family: 'Montserrat-Regular';
    color: #05478d;
    margin-bottom: 20px;
}

.tblCstm_resp{
    width: 100%;
}
.tblCstm_resp table{width: 100%;}
.tblCstm_resp table thead tr td{
    background: #05478d;
    border: 2px solid #fff;
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #fff;
    padding: 11px 10px 11px 10px;
    font-size: 13px;
}
.tblCstm_resp table tbody tr td{
    background: #ebebeb;
    border: 2px solid #fff;
    padding: 13px 16px 13px 18px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat-Medium';
}













