﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.press-release{
    margin-top:50px;
}
.press-release p {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    color: #05478d;
    margin-bottom: 20px;
}
.press-release h4 {
    font-size: 22px;
    font-family: 'Montserrat-Regular';
    color: #05478d;
    margin-bottom: 40px;
}
.press-release span {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 20px;
}
.max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}