﻿@*@model upes.Models.HomeView


    @{

    }

    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.PageDescription))*@
<p>
    <section class="home-banner">
        <div class="owl-carousel">
            <div class="item"><a href="/Admissions/Scholarships">                 <img class="dbanner" src="/images/banner2.jpg" alt="slider" />                 <img class="mbanner" src="/images/banner2.jpg" alt="slider" />             </a></div>
            <div class="item"><a href="https://www.upes.ac.in/upes-programs/btech.php?utm_source=microsite-admission&amp;utm_medium=direct&amp;utm_campaign=btechlp">                 <img class="dbanner" src="/images/banner3.jpg" alt="slider" />                 <img class="mbanner" src="/images/banner3.jpg" alt="slider" />             </a></div>
            <div class="item"><img class="dbanner" src="/images/banner4.png" alt="slider" />             <img class="mbanner" src="/images/banner4.png" alt="slider" /></div>
            <div class="item"><img class="dbanner" src="/images/banner5.jpg" alt="slider" />             <img class="mbanner" src="/images/banner5.jpg" alt="slider" /></div>
            <div class="item"><img class="dbanner" src="/images/banner6.jpg" alt="slider" />             <img class="mbanner" src="/images/banner6.jpg" alt="slider" /></div>
        </div>
    </section> <!-- PLACEMENT --> <section class="placement">
        <div class="container">
            <div class="heading">
                <h2>HIGH <span>PLACEMENT RATES</span></h2>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="pcol">
                        <!--<figure><img src="images/icon-plcmnt1.png" alt="PLACEMENT"></figure>-->
                        <h3>92%</h3>
                            <p>Placements</p>
                    </div>
                </div>
<div class="col-md-3 col-sm-3 col-xs-6">
    <div class="pcol">
        <!--<figure><img src="images/icon-plcmnt2.png" alt="PLACEMENT"></figure>-->
        <h3>1500+</h3>
        <p>Job Offers</p>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-6">
    <div class="pcol">
        <!--<figure><img src="images/icon-plcmnt3.png" alt="PLACEMENT"></figure>-->
        <h3>100%</h3>
        <p>Internships</p>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-6">
    <div class="pcol">
        <!--<figure><img src="images/icon-plcmnt4.png" alt="PLACEMENT"></figure>-->
        <h3>300+</h3>
        <p>Recruiters</p>
    </div>
</div>
</div>
<p class="text-center stats">* Above stats are for year 2016-17</p>
</div>
</section> <!-- Our Regular Recruiters --> <section class="regular-recruiters">
    <div class="container">
        <div class="owl-carousel">
            <div class="item"><img src="images/icon-r1.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r2.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r3.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r4.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r5.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r6.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r4.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r5.png" alt="Recruiters" /></div>
            <div class="item"><img src="images/icon-r6.png" alt="Recruiters" /></div>
        </div>
        <p class="recruiters">Our Regular Recruiters</p>
    </div>
</section> <!-- ACADEMIC PARTNERS --> <section class="acadim-parners">
    <div class="container">
        <div class="heading">
            <h2><span>ACADEMIC </span> PARTNERS</h2>
        </div>
        <div class="parners-row">
            <div class="partner"><img src="images/icon-partner4.png" alt="ACADEMIC PARTNERS" /></div>
            <div class="partner"><img src="images/icon-partner1.png" alt="ACADEMIC PARTNERS" /></div>
            <div class="partner"><img src="images/icon-partner2.png" alt="ACADEMIC PARTNERS" /></div>
            <div class="partner"><img src="images/icon-partner3.png" alt="ACADEMIC PARTNERS" /></div>
            <div class="partner"><img src="images/icon-partner5.png" alt="ACADEMIC PARTNERS" /></div>
        </div>
    </div>
</section> <!-- PROGRAMMES OFFERED --> <section class="program-offered">
    <div class="container">
        <div class="heading">
            <h2>PROGRAMMES <span>OFFERED</span></h2>
        </div>
        <div class="programs">
            <ul>
                <li>
                    <a href="/Schools/SchoolOfEngineering">
                        <img src="images/programs1.jpg" alt="Programs" />
                        <div class="overlay">
                            <p>
                                School of<br />
                                Engineering
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Schools/SchoolOfBussiness">
                        <img src="images/programs2.jpg" alt="Programs" />
                        <div class="overlay">
                            <p>
                                School of<br />
                                Business
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Schools/SchoolOfLaw">
                        <img src="images/programs3.jpg" alt="Programs" />
                        <div class="overlay">
                            <p>
                                School<br />
                                of Law
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.upes.ac.in/centre-for-information-technology" target="_blank">
                        <img src="images/programs4.jpg" alt="Programs" />
                        <div class="overlay">
                            <p>
                                School of<br />
                                Computer Sciences
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.upes.ac.in/school-of-design-studies-(sods)" target="_blank">
                        <img src="images/programs5.jpg" alt="Programs" />
                        <div class="overlay">
                            <p>
                                School of<br />
                                Design
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section> <!-- STUDENT achievements -->  <section class="student-achievement">
    <div class="container">
        <div class="heading">
            <h2><span>STUDENT</span> achievements</h2>
        </div>
        <div class="row">
            <div class="col-md-6  col-sm-6"><img src="images/student-achivement.jpg" alt="student-achivement" /></div>
            <div class="col-md-6  col-sm-6">
                <div class="student-detail">
                    <p>Aerospace CanSat Team ranks #1 in international Ranking in final round of Cansat Competition in Texas, USA</p>
                    <ul>
                        <li><a href="https://www.upes.ac.in/student-achievements">Read more</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- News Events --> <section class="news-event">
    <div class="container">
        <div class="heading">
            <h2><span>NEWS</span> &amp; EVENTS</h2>
        </div>
        <div class="owl-carousel">
            <div class="item"><img src="images/news1.jpg" alt="news events" /></div>
            <div class="item"><img src="images/news2.jpg" alt="news events" /></div>
            <div class="item"><img src="images/news3.jpg" alt="news events" /></div>
            <div class="item"><img src="images/news4.jpg" alt="news events" /></div>
        </div>
    </div>
</section> <!-- GALLERY --> <section class="gallery">
    <div class="container">
        <div class="heading">
            <h2>GALLERY</h2>
        </div>
    </div>
    <div class="owl-carousel">
        <div class="item">
            <div class="small-size"><figure><img src="images/gallery1.jpg" alt="Gallery" /></figure>                 <figure><img src="images/gallery2.jpg" alt="Gallery" /></figure></div>
        </div>
        <div class="item">
            <div class="big-size"><figure><img src="images/gallery3.jpg" alt="Gallery" /></figure></div>
        </div>
        <div class="item">
            <div class="small-size"><figure><img src="images/gallery4.jpg" alt="Gallery" /></figure>                 <figure><img src="images/gallery5.jpg" alt="Gallery" /></figure></div>
        </div>
        <div class="item">
            <div class="big-size"><figure><img src="images/gallery6.jpg" alt="Gallery" /></figure></div>
        </div>
    </div>
    <div class="text-center"><a href="javascript:;" class="view-all">View all</a></div>
</section> <!-- about upes --> <section class="about-upes">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="heading">
                    <h2><span>ABOUT</span> UPES</h2>
                </div>
                <div class="about">
                    <p>University of Petroleum and Energy Studies (UPES) was established in the year 2003 through UPES Act, 2003 of the State Legislature of Uttarakhand.</p>
                    <p>With a vision and unique approach, UPES emerged as an innovative institution offering 79 industry-focused specialized programs in key areas such as Energy, Infrastructure, Transportation, Information Technology, and Legal Process.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6"><figure><img src="images/about-upes.jpg" alt="About UPES" /></figure></div>
        </div>
    </div>
</section>  <!-- Modal --></p>
<div id="onload_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg onload-modal">
        <div class="close-modal"><a href="javascript:;" data-dismiss="modal">X</a></div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body"><a href="https://admission.upes.ac.in/applicationformstep1.aspx?utm_source=pop-up-leads&amp;utm_medium=direct&amp;utm_campaign=Popup-launch" target="_blank"><img src="/images/banner5.jpg" alt="Home page Popup" /></a></div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        $('#onload_modal').modal('show');
    </script>

}