﻿<!-- about banner -->

<section class="about-banner">
    <div class="container">
        <div class="banner-caption">
            <h2>University</h2>
            <h3>with purpose</h3>
            <p>
                Established in 2003 through UPES Act, 2003 of the State <br />Legislature of
                Uttarakhand, UPES is an UGC recognized and<br /> NAAC accredited University.
            </p>
        </div>
    </div>
</section>

<!-- inner page sub menu -->
<section class="inner-smenu" id="stickyheader">
    <div class="pos-relative">
        <div class="container">
            <div class="msubmneu"><a href="javascript:;" id="msubmneu">About us </a></div>
            <ul class="smenu" id="smenu">
                <!--<li><a href="javascript:;">Overview</a><span class="smulti"></span>
                   <div class="sub-smenu">
                     <div class="container">
                         <ul class="">
                           <li><a href="javascript:;">Leadership</a></li>
                           <li class=""><a href="javascript:;">Accreditations & Recognitions</a></li>
                           <li class=""><a href="javascript:;">Collaborations</a></li>
                           <li class=""><a href="javascript:;">Our Vision</a></li>
                         </ul>
                   </div>
                   </div>
                 </li>-->
                <li><a href="about-who-we-are.html">Who we are</a></li>
                <li><a href="aboutus-vision-mission.html">Our Vision</a></li>
                <li><a href="about-messages.html">Messages</a></li>
                <li><a href="about-leadership.html">Leadership</a></li>
                <li><a href="about-international-operations.html">International Operations</a></li>
                <li><a href="about-Industry-alliances.html">Industry alliances</a></li>
                <li><a href="about-accreditaions-recognitions.html">Accreditations & Recognitions</a></li>
                <li><a href="about-academic-collaborations.html">Collaborations</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="pageBody_gap">
    <!--mainBody_admsn2018-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="fllview_rsptbl">

                    <h4>Annual Report</h4>

                    <table>
                        <thead>
                            <tr>
                                <td>S.no.</td>
                                <td>Title</td>
                                <td>Download</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }



                            @foreach (System.Data.DataRow dr in ViewBag.Downloads.Rows)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@dr["filetitle"].ToString()</td>
                                    <td><a class="dwnloadPdf" href="@("/" + @dr["uploadfile"].ToString() )" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>

                                </tr>
                                i++;
                            }




                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</section>
