﻿@using System.Data

@model DataSet

@{
    Layout = "";
}


@foreach (DataRow row in Model.Tables[0].Rows)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="@("#acrdan1" + @row["schid"])" onclick="getCourseLevel()">
                    <span>
                        @row["schoolname"]   @row["schid"]
                    </span>
                </a>
            </h4>
        </div>
        <div id="@("acrdan1" + @row["schid"])" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="courses-tab">
                    <ul class="course-btn" id="courseLevel"></ul>
                    <div class="tab-content">
                        <div class="tab-pane course" id="tab_default_1">
                            <ul id="course"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}