﻿@using System.Data

@model DataSet
@{
    Layout = "";
}

@foreach (DataRow row in Model.Tables[0].Rows)
{
<li>
    <a href="@("#tab_default_1" + @row["levelid"])" data-toggle="tab" onclick="">@row["levelname"].ToString()</a>

</li>    
}