﻿<section class="pageBody_gap">
    <!--mainBody_admsn2018-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="fllview_rsptbl">

                    <h4>Downloads</h4>

                    <table>
                        <thead>
                            <tr>
                                <td>S.no.</td>
                                <td>Title</td>
                                <td>Download</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }



                            @foreach (System.Data.DataRow dr in ViewBag.Downloads.Rows)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@dr["filetitle"].ToString()</td>
                                    <td><a class="dwnloadPdf" href="@("/" + @dr["uploadfile"].ToString() )" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>

                                </tr>
                                i++;
                            }




                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</section>

