﻿@model upes.Models.TestingNight

@{

}








<section class="mainBody_admsn_alert">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">


                <div class="admsn_alert_wrpr">
                    <h2 class="text-center clearfix">

                        <span class="pull-left" style="margin-right:15px;">Admission Alerts</span>
                        <select class="form-control pull-left"
                                id="#selectAlert"
                                style="font-size:30px;height:45px;margin-top:-7px;"
                                onload="getAlerts(this.value);"
                                onchange="getAlerts(this.value);">
                            <option value="-1">Select Stream</option>
                            @foreach (System.Data.DataRow dr in ViewBag.SchoolMaster.Rows)
                            {
                                <option value="@dr["schid"].ToString()">@dr["schoolname"].ToString()</option>
                            }
                        </select>


                    </h2>

                    <ul class="ulStyle_grid" id="aa"></ul>

                </div>


            </div>
        </div>
    </div>
</section>









@section scripts {
    <script type="text/javascript">

        function getAlerts(alertId) {
            //var alertID = $('#selectAlert').val();
            var url = "/TestingNight/LoadNights/" + alertId.toString();
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#aa").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }

        function getStars() {
            var alertID = $('#selectAlert').val();
            var levelID = $('#selectStars').val();
            //+ alertId.toString();
            var url = "/TestingNight/LoadStars/1";
            $.ajax({
                url: url,
                contentType: "application/html;charset=utf-8",
                type: "GET",
                dataType: "html"
            }).success(function (data) {
                $("#stars").html(data);
            }).error(function (xhr, status) {
                alert(status);
            });
        }
    </script>

}
